body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0
}
html {
	color:#333;
	background:#f5f5f5;
	overflow-y:scroll;
	-webkit-text-size-adjust:none;
	-webkit-user-select:none
}
body,button,input,select,textarea,pre {
	font-size:16px;
	font-size:1.6rem;
	font-family:Helvetica,sans-serif
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%
}
h3,h4,h5,h6 {
	font-weight:400
}
ul,ol {
	list-style:none
}
a {
	text-decoration:none;
	color:#999;
	-webkit-touch-callout:none
}
a:hover {
	cursor:pointer
}
a:active {
	color:#999
}
fieldset,img {
	border:0
}
table {
	border-collapse:collapse;
	border-spacing:0
}
textarea {
	resize:vertical
}
:focus {
	outline:0
}
.left {
	float:left
}
.right {
	float:right
}
.tright {
	text-align:right
}
.tcenter {
	text-align:center
}
.hide {
	display:none
}
.inlineBlock {
	display:inline-block;
	zoom:1
}
.inline {
	display:inline
}
button {
	cursor:pointer
}
.block,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
	display:block
}
.ps {
	position:relative
}
.clearfix:after {
	content:'\20';
	display:block;
	height:0;
	clear:both;
	overflow:hidden;
	visibility:hidden
}
.clearfix {
	zoom:1
}
.clear {
	clear:both
}
.wordwrap {
	word-break:break-all;
	word-wrap:break-word
}
.gray {
	color:#979797
}
.blue {
	color:#3f89ec
}
.f14 {
	font-size:14px;
	font-size:1.4rem
}
.fb {
	font-weight:700
}
.m-t05 {
	margin-top:5px;
	margin-top:.5rem
}
.m-t10 {
	margin-top:10px;
	margin-top:1rem
}
.m-t35 {
	margin-top:35px;
	margin-top:3.5rem
}
.m-t20 {
	margin-top:20px;
	margin-top:2rem
}
.m-t25 {
	margin-top:25px;
	margin-top:2.5rem
}
.m-t40 {
	margin-top:40px;
	margin-top:4rem
}
.m-b10 {
	margin-bottom:10px;
	margin-bottom:1rem
}
.p-lr10 {
	padding:0 10px;
	padding:0 1rem
}
.p-lr15 {
	padding:0 15px
}
.p-l15 {
	padding-left:15px
}
.m-lr14 {
	margin-left:14px;
	margin-right:14px;
	margin-left:1.4rem;
	margin-right:1.4rem
}
.m-t10lr14 {
	margin:10px 14px 0;
	margin:1 1.4rem 0
}
.p-r3 {
	padding-right:3px;
	padding-right:.3rem
}
.pass-header {
	background:#fff;
	border-bottom:1px solid #d6d6d6;
	height:44px;
	height:4.4rem;
	width:100%;
	padding:0;
	position:relative;
	display:block;
	text-align:center
}
.pass-header-border {
	background:#fff;
	border-bottom:1px solid #ddd
}
.pass-header-title {
	line-height:44px;
	line-height:4.4rem;
	font-size:20px;
	font-size:2rem;
	text-align:center;
	width:100%;
	display:block
}
.pass_header_logo {
	-webkit-background-size:15px 13px;
	padding-left:22px;
	display:inline-block;
	line-height:44px;
	height:44px
}
.pass-header-links {
	margin:6px 0;
	font-size:16px;
	line-height:30px;
	text-align:center;
	width:50px;
	width:5rem;
	color:#666;
	display:block;
	position:absolute;
	right:14px;
	right:1.4rem;
	top:0;
	border:1px solid #ccc;
	background-color:#fff
}
.pass-header-back {
	background:url('//www.jiashubing.cn/image/mobile/images/goback.png') no-repeat 15px 13px;
	-webkit-background-size:1.2rem 2rem;
	padding:1.3rem 0 1.3rem 2.3rem;
	padding:13px 0 13px 15px;
	padding:1.3rem 0 1.3rem 2.3rem;
	width:36px;
	width:3.6rem;
	height:18px;
	height:1.8rem;
	position:absolute;
	left:0;
	top:0
}
.error_area {
	background:rgba(0,0,0,.7);
	text-align:center;
	line-height:2rem;
	color:#fff;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-border-radius:2px;
	z-index:9999;
	display:none;
	padding:15px 17px;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%)
}
.mod-info {
	-webkit-background-size:14px 14px
}
form-input-vcode.form-item {
	display:-webkit-box;
	display:-moz-box;
	display:box;
	width:100%;
	background:#fff;
	margin-bottom:20px;
	margin-bottom:2rem
}
.form-input-wrapper {
	display:-webkit-box;
	display:-moz-box;
	display:box;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
	height:50px;
	height:5rem;
	padding:0 14px;
	padding:0 1.4rem;
	background:#fff;
	border-radius:2px
}
input[type=text],input[type=password],input[type=number],input[type=email],input[type=tel],textarea {
	border:0;
	display:block;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	box-flex:1;
	-webkit-appearance:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	line-height:20px;
	line-height:2rem;
	font-size:16px;
	font-size:1.6rem;
	height:20px;
	height:2rem;
	padding-top:14px;
	padding-top:1.4rem;
	padding-bottom:13px;
	padding-bottom:1.3rem;
	color:#333
}
textarea {
	padding-bottom:5px;
	padding-bottom:.5rem
}
input[type=text]::-webkit-input-placeholder,input[type=password]::-webkit-input-placeholder,input[type=number]::-webkit-input-placeholder,input[type=email]::-webkit-input-placeholder,input[type=tel]::-webkit-input-placeholder {
	font-size:16px;
	font-size:1.6rem;
	-webkit-appearance:none;
	color:#CCC
}
.text-label {
	display:block
}
.text-label-username {
	width:50px;
	width:5rem;
	margin-right:10px;
	margin-right:1rem;
	padding-left:0;
	font-size:16px;
	font-size:1.6rem;
	line-height:48px;
	line-height:4.8rem
}
.text-label-password {
	width:50px;
	width:5rem;
	margin-right:10px;
	margin-right:1rem;
	padding-left:0;
	font-size:16px;
	font-size:1.6rem;
	line-height:48px;
	line-height:4.8rem
}
.text-label-password-code {
	width:65px;
	width:6.5rem;
	margin-right:10px;
	margin-right:1rem;
	padding-left:0;
	font-size:14px;
	font-size:1.4rem;
	line-height:48px;
	line-height:4.8rem
}
.text-label-verifyCode,.text-label-email {
	width:55px;
	width:5.5rem;
	margin-right:10px;
	margin-right:1rem;
	padding-left:0;
	font-size:16px;
	font-size:1.6rem;
	background:#fff;
	line-height:48px;
	line-height:4.8rem
}
.text-label-verifyCode-code {
	width:65px;
	width:6.5rem;
	margin-right:10px;
	margin-right:1rem;
	padding-left:0;
	font-size:14px;
	font-size:1.4rem;
	background:#fff;
	line-height:50px;
	line-height:5rem
}
.text-label {
	-webkit-background-size:18px 22px;
	-webkit-background-size:1.8rem 2.2rem
}
.text-label-countrycode {
	-webkit-background-size:22px 22px
}
.form-item .input-aide {
	width:22px;
	height:19px;
	display:block;
	cursor:pointer;
	margin-top:17px;
	margin-top:1.7rem;
	margin-left:5px;
	margin-left:.5rem
}
.form-item .input-pwdToggle {
	-webkit-background-size:18px 18px;
	width:22px;
	margin-left:20px
}
.form-item .input-pwdToggle-show {
	
	-webkit-background-size:18px 18px;
	width:22px;
	margin-left:20px
}
.input-clearValue {
	width:2.5rem;
	background:url('//www.jiashubing.cn/image/mobile/images/clear.png') no-repeat center center;
	-webkit-background-size:1.5rem 1.5rem;
	cursor:pointer;
	display:none;
}
.change-verifyCode {
	display:block;
	height:40px;
	height:4rem;
	
	-webkit-background-size:25px 25px;
	-webkit-background-size:2.5rem 2.5rem;
	width:25px;
	margin-top:5px;
	margin-right:13px;
	width:2.5rem;
	margin-top:.5rem;
	margin-right:1.3rem
}
.verifyCode-img {
	display:block;
	height:48px;
	height:4.8rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	z-index:2;
	position:relative
}
.form-item-content {
	height:140px;
	height:14rem
}
.text-area {
	height:119px;
	height:11.9rem;
	resize:none
}
.form-item-btn {
	background:#f1f1f1;
	border:0;
	width:auto
}
.text-label-mobile,.text-label-content,.text-label-mobilenum {
	width:55px;
	margin-right:10px;
	font-size:14px;
	line-height:48px;
	width:5.5rem;
	margin-right:1rem;
	padding-left:0;
	font-size:1.4rem;
	line-height:4.8rem
}
.text-label-pass-new {
	width:60px;
	width:6rem;
	margin-right:10px;
	margin-right:1rem;
	padding-left:0;
	font-size:14px;
	font-size:1.4rem;
	background:#fff;
	line-height:50px;
	line-height:5rem
}
.form-input-mobile .text-label-code {
	width:35px;
	width:3.5rem;
	padding-left:0;
	padding-right:30px;
	padding-right:3rem;
	margin:12px 10px 12px 0;
	margin:1.2rem 1rem 1.2rem 0;
	line-height:26px;
	line-height:2.6rem;
	font-size:14px;
	font-size:1.4rem;
	
	background-size:12px 7px;
	background-size:1.2rem .7rem;
	text-align:right;
	border-right:1px solid #ddd
}
.form-input-mobile .text-label-code.text-label-login-code {
	width:45px;
	width:4.5rem;
	border-right:1px solid #eaeaea;
	background:0 0
}
.form-input-mobile {
	position:relative
}
.form-input-mobile:before {
	background:#fff;
	content:"";
	-webkit-box-sizing:border-box;
	display:block;
	width:200%;
	height:200%;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	-webkit-transform:scale(0.5);
	-webkit-transform-origin:0 0;
	border:1px solid #ccc;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px
}
.form-input-mobile input {
	z-index:2;
	position:relative;
	margin:1px
}
.form-input-mobile span {
	z-index:2;
	position:relative
}
.form-input-mobile label {
	z-index:2;
	position:relative;
	margin:.1rem 1rem .1rem .1rem
}
.form-input-mobile textarea {
	z-index:2;
	position:relative;
	margin:1px
}
.form-input-mobile p {
	z-index:2;
	position:relative;
	margin:1px
}
.form-input-mobile a {
	position:relative;
	z-index:2
}
.form-input-vcode {
	width:61%;
	float:left
}
.form-input-button {
	width:36%;
	float:right;
	background:#fff
}
.form-wrapper .form-item-username {
	margin-bottom:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0
}
.form-wrapper .form-item-username:before {
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	border-bottom:0
}
.form-wrapper .form-item-password {
	border-top-right-radius:0;
	border-top-left-radius:0
}
.form-wrapper .form-item-password:before {
	border-top-right-radius:0;
	border-top-left-radius:0
}
.form-input-mobile .vcode-span {
	position:static
}
.form-input-sugguest {
	position:relative;
	margin-bottom:2px;
	margin-bottom:2rem
}
.form-input-sugguest:before {
	content:"";
	-webkit-box-sizing:border-box;
	display:block;
	width:200%;
	height:200%;
	position:absolute;
	left:0;
	top:0;
	z-index:1;
	-webkit-transform:scale(0.5);
	-webkit-transform-origin:0 0;
	border:1px solid #ccc;
	border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	-ms-border-radius:0 0 2px 2px
}
.form-input-sugguest li {
	position:relative;
	z-index:3
}
input[type=submit],input[type=button] {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-appearance:none;
	-moz-appearance:none
}
.pass-button-full {
	color:#fff;
	font-size:18px;
	font-size:1.8rem;
	width:100%;
	line-height:44px;
	line-height:4.4rem;
	height:44px;
	height:4.4rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	cursor:pointer;
	display:block;
	text-align:center;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border:1px solid #3c76ff;
	background:#3c76ff;
	margin:25px 0 24px;
	margin:2.5rem 0 2.4rem
}
.pass-button-full-disabled {
	color:#90b6ff;
	opacity:1
}
.pass-button-full-active {
	color:#fff;
	background:#3c76ff
}
.pass-button-auto {
	display:block;
	font-size:18px;
	font-size:1.8rem;
	color:#fff;
	-webkit-appearance:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	border:1px solid #367cff;
	background:#367cff;
	cursor:pointer;
	width:110px;
	width:11rem
}
.pass-button-auto-active {
	color:#fff
}
.pass-button-disabled {
	color:#fff;
	opacity:1
}
.pass-button-vcode.pass-button-disabled {
	color:#777;
	opacity:1
}
.pass-button-full-minor {
	border:1px solid #367cff;
	background:#fafafa;
	color:#367cff
}
.pass-button-vcode {
	text-align:center;
	width:98%;
	height:46px;
	height:4.6rem;
	border:0;
	background:#fff;
	font-size:1.4rem;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px
}
.mod-dialog {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.3;
	z-index:3
}
.mod-dialog-body {
	width:80%;
	position:absolute;
	left:50%;
	overflow-y:auto;
	-webkit-border-radius:2px;
	-webkit-transform-style:preserve-3d;
	z-index:4
}
.mod-dialog-content {
	background:#fff;
	padding:21px 16px 16px;
	padding:2.1rem 1.6rem 1.6rem
}
.page-dialog-content {
	line-height:28px;
	line-height:2.8rem;
	font-size:16px;
	font-size:1.6rem;
	text-align:left;
	padding-bottom:35px;
	padding-bottom:3.5rem;
	word-wrap:break-word
}
.page-dialog-bind-content {
	line-height:15px;
	line-height:1.5em;
	font-size:14px;
	font-size:1.4rem;
	text-align:left;
	padding:15px 20px;
	padding:1.5rem 2rem;
	word-wrap:break-word
}
.page-dialog-title {
	text-align:center;
	font-size:20px;
	font-size:2rem;
	color:#333;
	margin-bottom:35px;
	margin-bottom:3.5rem
}
.dialog-content-btn {
	height:44px;
	height:4.4rem;
	line-height:44px;
	line-height:4.4rem
}
.dialog-content-btn input,.dialog-content-btn a {
	background:0 0;
	border:0;
	display:inline-block;
	color:#333;
	text-align:center;
	height:44px;
	height:4.4rem;
	width:47%;
	border-radius:2px
}
.dialog-content-btn a {
	height:42px;
	height:4.2rem
}
.dialog-content-btn a:active,.dialog-content-btn input:active {
	background:#f5f5f5
}
.dialog-content-btn input.pass-dialog-btnleft,input.dialog-cancle-btn {
	float:left;
	background:#fff;
	border:1px solid #ccc
}
.dialog-content-btn input.pass-dialog-btnright,.dialog-content-btn a.pass-dialog-btnright,input.dialog-sure-btn {
	float:right;
	background:#3c76ff;
	color:#fff;
	border:1px solid #3c76ff
}
a.dialog-banner-mainbtn {
	background:#3c76ff;
	color:#fff;
	border:1px solid #3c76ff;
	height:42px;
	height:4.2rem;
	width:100%
}
.pass-dialog-orangecolor {
	font-size:14px;
	font-size:1.4rem;
	color:#ff5400
}
.footer {
	margin:20px 0 10px;
	margin:2rem 0 1rem;
	text-align:center;
	color:#999;
	font-size:12px;
	font-size:1.2rem
}
.footer a {
	color:#000;
	display:block;
	margin-top:10px;
	margin-top:1rem
}
.layer-cover {
	position:absolute;
	background-color:rgba(0,0,0,.5);
	top:0;
	width:100%;
	height:100%;
	z-index:9999;
	display:none;
	overflow:hidden
}
.layercoverAnima {
	-webkit-transition:background-color .5s ease-in;
	transition:background-color .5s ease-in
}
.layer-account,.layer-account-third {
	position:absolute;
	bottom:-158px;
	width:100%;
	z-index:10000
}
.layer-account >a,.layer-account-third>a {
	color:#2c85ff;
	background-color:#fff;
	cursor:pointer;
	border-bottom:1px solid #e6e6e6;
	display:block;
	text-align:center;
	font-size:16px;
	font-size:1.6rem;
	line-height:50px;
	line-height:5rem;
	height:50px;
	height:5rem;
	overflow:hidden
}
.layer-account-third {
	bottom:-204px
}
.layer-account a:last-child,.layer-account-third a:last-child {
	overflow:hidden;
	margin-top:5px;
	color:#000
}
.layermenu-out {
	bottom:0;
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transform-style:preserve-3d;
	transform-style:preserve-3d;
	-webkit-transition:bottom .7s ease;
	transition:bottom .7s ease
}
.other-login-type {
	background:#f1f1f1;
	width:100%;
	padding:0;
	margin-top:40px;
	margin-top:4rem;
	display:none
}
.other-login-type h3 {
	cursor:pointer;
	height:35px;
	height:3.5rem;
	line-height:35px;
	line-height:3.5rem;
	text-align:center;
	color:#999;
	font-size:14px;
	font-size:1.4rem
}
.arrow {
	margin-left:5px;
	margin-left:.5rem;
	padding:10px 5px;
	padding:1rem .5rem
}
.arrow-down {
	
	-webkit-background-size:9px 5px
}
.arrow-up {
	
	-webkit-background-size:9px 5px
}
.mod-fast-login {
	width:100%;
	margin:0 auto;
	-webkit-box-sizing:border-box;
	padding-bottom:10px;
	padding-bottom:1rem
}
.mod-fast-login li {
	width:100px;
	width:10rem;
	height:50px;
	height:5rem;
	float:left;
	margin-top:20px;

	margin-top:2rem;
	-webkit-box-sizing:border-box;
	text-align:center
}
.mod-fast-login li a {
	display:inline-block;
	width:55px;
	width:5.5rem;
	line-height:20px;
	line-height:2rem;
	color:#bbb;
	padding-top:36px;
	padding-top:3.6rem;
	font-size:12px;
	font-size:1.2rem;
	text-align:center;
	background-color:transparent;
	-webkit-tap-highlight-color:rgba(255,0,0,0)
}
.mod-fast-login li a:active {
	color:#000
}
.mod-fast-login li a.tsina,.mod-fast-login li a.tsina_sso {
	
	-webkit-background-size:30px 30px
}
.mod-fast-login li a.tqq {
	
	-webkit-background-size:30px 30px
}
.mod-fast-login li a.qzone {
	
	-webkit-background-size:30px 30px
}
.mod-fast-login li a.device_login {
	
	-webkit-background-size:30px 30px
}
.mod-fast-login li a.feifan {
	
	-webkit-background-size:30px 30px
}
html,body {
	height:100%;
	width:100%;
	min-height:430px;
	position:relative
}
#pageWrapper,.wrapper {
	width:100%;
	padding-bottom:90px;
	padding-bottom:9rem
}
.mod-content {
	overflow:hidden
}
.app-bottom {
	width:100%;
	height:65px;
	height:6.5rem;
	background-color:#DFE1E5;
	position:absolute;
	bottom:0;
	display:block
}
@media screen and (max-height:400px) {
	.app-bottom {
	position:relative;
	top:200px
}
.baidu-appimg {
	margin-top:11px
}
.text-app {
	margin-top:11px
}
}.app-content {
	margin:0 auto;
	margin-top:11px;
	margin-top:1.1rem;
	width:295px;
	width:29.5rem;
	height:50px;
	height:5rem
}
.text-app {
	float:left;
	font-size:12px;
	font-size:1.2rem;
	margin-left:5px;
	margin-left:.5rem;
	padding-top:4px;
	padding-top:.4rem
}
.blue-text {
	color:#8AB2E9
}
.text-indent {
	padding-top:4px
}
.baidu-appimg {
	width:47px;
	height:47px;
	float:left;
	
}
.form-item-username {
	position:relative
}
.input-suggest {
	position:absolute;
	left:0;
	top:51px;
	width:100%;
	max-height:100px;
	overflow-y:scroll;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
	-o-box-sizing:content-box;
	-ms-box-sizing:content-box;
	-moz-box-sizing:content-box;
	background:#f7f7f7;
	border-radius:0 0 2px 2px;
	-webkit-border-radius:0 0 2px 2px;
	-moz-border-radius:0 0 2px 2px;
	-o-border-radius:0 0 2px 2px;
	-ms-border-radius:0 0 2px 2px;
	-webkit-overflow-scrolling:touch;
	z-index:15
}
.input-suggest li {
	cursor:pointer;
	display:block;
	color:#999;
	font-size:14px;
	line-height:14px;
	padding:17px 20px 18px 15px;
	position:relative;
	word-spacing:break-word;
	word-break:break-all;
	background:#fff;
	border:1px solid #e6e6e6;
	border-top:0
}
.input-suggest .remove-item {
	position:absolute;
	top:6px;
	right:0;
	width:12px;
	height:12px;
	padding:11px;
	
	background-size:10px
}
.mod-page-tipInfo {
	margin:40px 0 0;
	font-size:15px;
	color:#777;
	line-height:22px
}
.patch-tipInfo {
	padding-left:15px
}
.form-input-verifycode {
	display:-webkit-box
}
.vcode-input-span {
	-webkit-box-flex:1;
	margin-right:1rem
}
.canshare-account-list {
	margin:14px -10px 0;
	border-bottom:1px solid #ddd
}
.mod-btn-wrapper input:nth-child(2) {
	margin-top:15px
}
.mod-intro-tit {
	font-size:14px;
	color:#666;
	margin-top:10px
}
.mod-intro-info {
	font-size:14px;
	color:#999;
	line-height:20px;
	margin-top:10px
}
.mod-send-tip {
	margin-top:5px;
	color:#999;
	font-size:14px
}
.pass-tab {
	width:100%;
	display:-webkit-box;
	display:-moz-box;
	display:box;
	margin-bottom:25px
}
.pass-tab li {
	height:38px;
	line-height:38px;
	font-size:16px;
	cursor:pointer;
	text-align:center;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	width:50%;
	background:#fff;
	border-bottom:1px solid #c7c7c7;
	color:#666
}
.pass-tab li.tab-act {
	color:#1b66c7;
	background:#f5f5f5;
	border-bottom:0
}
.pass-tab li:nth-child(1).tab-act {
	border-right:1px solid #ccc
}
.pass-tab li:nth-child(2).tab-act {
	border-left:1px solid #ccc
}
.pass-faq {
	margin-top:12px
}
.pass-faq-list li {
	border-bottom:1px solid #ccc;
	font-size:16px;
	padding:7px 7px 7px 32px;
	line-height:36px;
	
}
.pass-faq-list li p {
	display:none;
	color:#666
}
.pass-faq-list li:nth-child(1) p {
	display:block
}
.pass-faq-other {
	margin-top:15px;
	color:#666;
	padding:0 14px
}
.notice-tip {
	
	background-size:16px 16px;
	-moz-background-size:16px 16px;
	padding-left:20px
}
.notice-tip-new {
	text-align:center;
	height:60px
}
.smile {
	
	background-size:16px 16px;
	-moz-background-size:16px 16px;
	padding-left:20px
}
.upsms-content {
	background:#fff;
	border:1px solid #ccc;
	width:auto;
	padding:20px 15px;
	margin:10px 14px 0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box
}
.upsms-vcode {
	font-size:30px;
	margin:10px 0 15px
}
.upsms-vcode span {
	color:#ff9305
}
.m-t50 {
	margin-top:50px
}
.mod-bind-ppText {
	font-size:14px;
	margin-top:5px;
	line-height:18px;
	text-align:left;
	text-align:center;
	height:35px
}
.user-account-list {
	margin:10px 0 10px -10px;
	border-top:1px solid #ddd
}
.user-account-list li {
	background:#fff;
	padding:5px 10px 5px 14px;
	line-height:24px;
	border-bottom:1px solid #ccc
}
.user-account-list li a {
	padding-left:10px;
	display:block;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#666;
	padding-right:20px
}
.user-account-list li.pass-user-list-check {
	background-color:#e7e7e7
}
.user-account-list li.pass-user-list-check a {
	
	-webkit-background-size:20px 20px;
	color:#1b66c7
}
.user-account-list li span {
	display:block
}
.qrcode-login {
	padding-top:140px;
	
	-webkit-background-size:190px 70px;
	width:100%
}
.pass-adhtml {
	margin:19px 0 -15px 0;
	font-size:16px;
	color:#333;
	line-height:26px
}
.qrcode-tip1 {
	font-size:18px;
	line-height:36px
}
.qrcode-tip2 {
	margin-bottom:40px
}
.login-clientToWap-wrapper {
	color:#9ab1d1
}
.login-clientToWap-tipWrapper {
	background:rgba(0,0,0,.7);
	text-align:center;
	min-height:30px;
	line-height:30px;
	color:#fff;
	width:70%;
	position:absolute;
	left:15%;
	top:45%;
	margin-top:-60px;
	-webkit-border-radius:2px;
	z-index:9999;
	display:none;
	padding:8px
}
.login-clientToWap-tip {
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	color:#cac9c9;
	padding:10px;
	text-align:center
}
.login-clientToWap-tip a {
	color:#74b5ff
}
.realName-login-success {
	text-align:center;
	margin:20px 0 15px
}
.realName-login-success span {
	color:#367cff;
	font-size:24px;
	line-height:40px;
	height:24px;
	letter-spacing:3px
}
.realName-tip {
	background:#fff7e1;
	text-align:center;
	border:1px solid #f0d788;
	color:#a58c3d;
	line-height:18px;
	font-size:14px;
	padding:5px
}
.input-suggest-countrycode {
	max-height:200px;
	overflow:auto;
	display:none
}
.form-item-countrycode {
	display:none;
	position:relative
}
.account-login {
	color:#367cff;
	font-size:16px;
	position:absolute;
	bottom:22px;
	text-align:center;
	width:100%
}
.account-login> a {
	color:#367cff;
	width:110px;
	height:45px;
	display:inline-block;
	line-height:44px;
	border:1px solid #367cff;
	border-radius:2px
}
@media screen and (max-height:475px) {
	.account-login {
	color:#1b66c7;
	font-size:14px;
	position:relative;
	width:100%;
	text-align:center;
	margin-top:40px;
	bottom:auto
}
}.account-login-width {
	width:120px;
	margin:0 auto;
	left:50%;
	margin-left:-60px
}
.form-wrapper {
	padding:0 15px;
	overflow:hidden;
	-webkit-box-sizing:border-box
}
.form-wrapper-sms {
	-webkit-box-sizing:border-box
}
.codelist {
	width:100%;
	height:100%;
	background-color:#f1f1f1;
	position:fixed;
	top:0;
	left:0;
	overflow:scroll;
	z-index:3
}
.code-search {
	position:relative;
	margin:10px 5px;
	padding:0 35px;
	border:1px solid #dadbdf;
	background-color:#fff;
	border-radius:2px
}
.code-search input {
	width:50%;
	height:30px;
	line-height:30px;
	border:0;
	border-radius:2px;
	padding-left:50%;
	transition:all .5s;
	-webkit-transition:all .5s
}
.code-search-focus input {
	width:100%;
	padding-left:0
}
.code-search img {
	position:absolute;
	left:40%;
	top:5px;
	transition:all .5s;
	-webkit-transition:all .5s
}
.code-search-focus {
	border:1px solid #1b66c7
}
.code-search-focus img {
	left:6px
}
.code-content {
	padding:0 10px;
	-webkit-box-sizing:border-box
}
#codelist-code-ul li {
	height:50px;
	line-height:50px;
	padding:0 15px;
	border-top:1px solid #dadbdf
}
.text-label-code-pass {
	margin-right:12px
}
.text-label-code-vcode {
	margin-right:30px
}
.reg-login {
	font-size:14px
}
.mod-page-tipdownInfo {
	padding:5px 0 15px;
	color:#999;
	font-size:14px
}
.jump-link {
	font-size:14px;
	padding-right:15px
}
.agreement-a {
	text-decoration:underline;
	color:#999
}
.logo-dom {
	width:138px;
	height:46px;
	margin:0 auto;
	
	background-size:100% 100%
}
.img-div {
	width:100%;
	height:80px;
	margin-top:35px
}
.user-img {
	height:55px;
	margin:0 auto;
	width:55px;
	border-radius:50%;
	border:1px solid #e7e7e7;
	display:none;
	overflow:hidden
}
.user-img img {
	width:51px;
	height:51px;
	top:2px;
	left:2px;
	position:relative;
	border-radius:50%
}
.checkTip {
	width:100%;
	text-align:center;
	padding-top:40px;
	font-size:15px;
	line-height:25px;
	color:#979797
}
.checkPhone {
	width:100%;
	font-size:26px;
	text-align:center;
	line-height:35px;
	padding-bottom:10px
}
.mobile-page,.vcode-page {
	padding:0 15px
}
.notRegTip {
	width:75%;
	margin:0 auto 25px;
	background:#fff;
	font-size:14px;
	padding:10px;
	color:#999;
	border-radius:2px;
	border:1px solid #d5d4d4;
	position:relative
}
.notRegTip:before {
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	line-height:0;
	font-size:0;
	vertical-align:center;
	border-bottom:8px solid #d5d4d4;
	border-top:0 none;
	border-left:8px dashed transparent;
	border-right:8px dashed transparent;
	content:"";
	left:50%;
	position:absolute;
	top:-8px;
	margin-left:-11px
}
.notRegTip:after {
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	line-height:0;
	font-size:0;
	vertical-align:center;
	border-bottom:7px solid #fff;
	border-top:0 none;
	border-left:7px dashed transparent;
	border-right:7px dashed transparent;
	content:"";
	left:50%;
	position:absolute;
	top:-7px;
	margin-left:-10px
}
#login-username-suggest {
	z-index:3
}
.m-t-10 {
	margin-top:-10px
}
.pass-input-aide {
	width:22px;
	height:19px;
	display:block;
	cursor:pointer;
	margin-top:16px;
	margin-left:13px
}
.pass-input-userlist {
	
	-webkit-background-size:16px 16px;
	z-index:12;
	position:relative;
	display:none
}
.pass-input-down-userlist {
	
	-webkit-background-size:16px 16px;
	z-index:12;
	position:relative;
	display:none
}
.vcodeTip {
	text-align:center;
	padding-top:20px;
	line-height:30px;
	padding-bottom:10px
}
.verifypage-vcode {
	margin:0 auto 25px;
	display:block
}
.pass-mod-loadingWrap {
	background:rgba(0,0,0,.7);
	text-align:center;
	min-height:24px;
	color:#fff;
	width:110px;
	position:absolute;
	left:50%;
	margin-left:-55px;
	top:50%;
	margin-top:-12px;
	z-index:101;
	padding:8px;
	border-radius:2px;
	-webkit-border-radius:2px;
	font-size:14px;
	line-height:24px;
	display:none
}
.pass-mod-loadingImg {
	margin:2px;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;
	height:20px;
	width:20px;
	
	background-size:20px 20px;
	display:inline-block;
	vertical-align:middle;
	-webkit-animation:rotate .75s linear infinite;
	animation:rotate .75s linear infinite
}
@-webkit-keyframes rotate {
	0%,100% {
	-webkit-transform:rotate(0deg)
}
100% {
	-webkit-transform:rotate(360deg)
}
}@keyframes rotate {
	0%,100% {
	-webkit-transform:rotate(0deg);
	transform:rotate(0deg)
}
100% {
	-webkit-transform:rotate(360deg);
	transform:rotate(360deg)
}
}.z-index3 {
	z-index:3
}
.mod-vcode {
	position:absolute;
	top:0;
	height:100%;
	width:100%;
	background:#fafafa;
	z-index:10;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box
}
.mod-vcode-content {
	padding:0 10px
}
.is_voice_sms {
	color:#9ab1d1;
	background:0 0;
	border:0;
	float:right
}
.form-page-clear-m {
	margin-bottom:0
}
.form-page-clear-m:before {
	border-bottom:0
}
p.form-feedback-m:before {
	border-bottom:0
}
@media screen and (max-height:475px) {
	.account-reg {
	position:static!important;
	margin-top:40px!important
}
}
/* .account-reg {
	color:#bcbcbc;
	font-size:14px;
	position:absolute;
	bottom:15px;
	height:55px;
	width:100%;
	text-align:center;
	background:url(/static/touch/img/bottom_icon.png) no-repeat center 30px;
	background-size:230px 20px
} */
.is_voice_sms.gray {
	color:#979797
}
.qrcode-wallet {
	text-align:center;
	
	-webkit-background-size:158px 164px;
	width:100%;
	padding-top:229px;
	margin-top:98px;
	font-size:18px
}
.success-img {
	height:110px;
	width:100%;
	
	background-size:80px 80px
}
.fail-img {
	height:110px;
	width:100%;
	
	background-size:80px 80px
}
.redirect_url {
	display:block;
	background:#367cff;
	height:50px;
	color:#fff;
	line-height:50px;
	border-radius:2px;
	text-align:center
}
.form-item-username .mod-unametip {
	position:absolute;
	font-size:14px;
	padding:0 5px;
	right:0;
	top:50px;
	z-index:15;
	background:#000;
	color:#fff;
	opacity:.7;
	border-radius:2px;
	line-height:44px;
	display:none
}
.form-item-username .mod-unametip:before {
	display:inline-block;
	width:0;
	height:0;
	overflow:hidden;
	line-height:0;
	font-size:0;
	vertical-align:center;
	border-bottom:8px solid #000;
	border-top:0 none;
	border-left:8px dashed transparent;
	border-right:8px dashed transparent;
	content:"";
	left:50%;
	position:absolute;
	top:-7px;
	margin-left:-6px
}
#checkBlock {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:10;
	display:none
}
.maskCheck {
	position:absolute;
	width:100%;
	height:100%;
	background:#000;
	top:0;
	left:0;
	opacity:.6;
	z-index:11
}
#checkSecure {
	width:30rem;
	background:#367cff;
	z-index:20;
	position:absolute;
	left:50%;
	top:50%;
	margin:-17rem 0 0 -15rem;
	border-radius:1rem;
	padding-bottom:2.5rem;
	text-align:center;
	color:#fff
}
.shield-block {
	width:100%;
	margin:5rem 0 4rem;
	position:relative
}
.circle-shieled {
	width:15rem;
	height:15rem;

	background-size:15rem 15rem;
	margin:0 auto
}
.round-shield {
	position:absolute;
	width:12.4rem;
	height:12.4rem;
	left:50%;
	top:1.3rem;
	margin-left:-6.2rem;
	background-size:12.4rem 12.4rem;

	border-radius:7.2rem
}
.shield {
	width:7.4rem;
	height:9.3rem;
	position:absolute;
	top:2.8rem;
	left:50%;
	margin-left:-3.7rem;

	background-size:10rem 11.5rem
}
.status {
	width:2.5rem;
	height:2.5rem;
	border:1px solid #fff;
	border-radius:1.3rem;
	color:#fff;
	text-align:center;
	line-height:2.5rem;
	font-size:1.6rem
}
.progress-check {
	width:19.2rem;
	margin:0 auto;
	padding-bottom:3rem
}
.arrow-check {
	float:left;
	width:2.5rem;
	height:2.5rem;
	background-size:.5rem 1rem
}
.arrow-check-dark {
	float:left;
	width:3rem;
	height:2.5rem;
	background-size:.5rem 1rem
}
.check-text-wrapper {
	position:relative;
	height:2.5rem
}
.text-status {
	position:absolute;
	left:50%;
	top:0;
	margin-left:-6.3rem;
	font-size:1.6rem
}
.op0 {
	opacity:0
}
.animate-check .circle-shieled {
	animation:circle1 2.5s infinite linear;
	-webkit-animation:circle1 2.5s infinite linear
}
.animate-check .round-shield {
	animation:circle1 1s infinite linear;
	-webkit-animation:circle1 1s infinite linear
}
.animate-check #status2 {
	animation:active_status .2s linear 3s;
	animation-fill-mode:forwards;
	-webkit-animation:active_status .2s linear 3s;
	-webkit-animation-fill-mode:forwards
}
.animate-check #status3 {
	animation:active_status .2s linear 6s;
	animation-fill-mode:forwards;
	-webkit-animation:active_status .2s linear 6s;
	-webkit-animation-fill-mode:forwards
}
.animate-check #textStatus1 {
	animation:opacity_light .2s linear 3s;
	animation-fill-mode:forwards;
	-webkit-animation:opacity_light .2s linear 3s;
	-webkit-animation-fill-mode:forwards
}
.animate-check #textStatus2 {
	animation:opacity_dark_light 3s linear 3.2s;
	animation-fill-mode:forwards;
	-webkit-animation:opacity_dark_light 3s linear 3.2s;
	-webkit-animation-fill-mode:forwards
}
.animate-check #textStatus3 {
	animation:opacity_dark .2s linear 6.2s;
	animation-fill-mode:forwards;
	-webkit-animation:opacity_dark .2s linear 6.2s;
	-webkit-animation-fill-mode:forwards
}
.status-active {
	color:#367cff;
	background:#fff
}
@keyframes circle1 {
	0% {
	transform:rotate(0deg)
}
100% {
	transform:rotate(360deg)
}
}@-webkit-keyframes circle1 {
	0% {
	-webkit-transform:rotate(0deg)
}
100% {
	-webkit-transform:rotate(360deg)
}
}@keyframes active_status {
	0% {
	color:#fff;
	background-color:#367cff
}
100% {
	color:#367cff;
	background-color:#fff
}
}@-webkit-keyframes active_status {
	0% {
	color:#fff;
	background-color:#367cff
}
100% {
	color:#367cff;
	background-color:#fff
}
}@keyframes opacity_light {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@-webkit-keyframes opacity_light {
	0% {
	opacity:1
}
100% {
	opacity:0
}
}@keyframes opacity_dark_light {
	0% {
	opacity:0
}
7% {
	opacity:1
}
50% {
	opacity:1
}
93% {
	opacity:1
}
100% {
	opacity:0
}
}@-webkit-keyframes opacity_dark_light {
	0% {
	opacity:0
}
7% {
	opacity:1
}
50% {
	opacity:1
}
93% {
	opacity:1
}
100% {
	opacity:0
}
}@keyframes opacity_dark {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}@-webkit-keyframes opacity_dark {
	0% {
	opacity:0
}
100% {
	opacity:1
}
}.type-other-login {
	float:right
}
.forbid-img {
	width:80px;
	height:80px;
	margin:0 auto;
	background-size:80px 80px;
	padding-top:30px;
	padding-bottom:20px
}
.mod-enabled-question {
	position:absolute;
	bottom:5rem;
	color:#367cff;
	font-size:14px;
	text-align:center;
	left:50%;
	margin-left:-4.5rem;
	border:1px solid #367cff;
	line-height:2.4rem;
	width:90px;
	border-radius:2.4rem
}
.form-input-verifyCodeImg {
	width:10rem;
	height:5rem;
	display:inline-block
}
.form-input-verifyCodeImg .verifyCode-img {
	width:9.8rem;
	height:4.8rem;
	margin:0;
	padding:0;
	left:.1rem;
	top:.1rem
}