body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
margin: 0;
padding: 0;
}
a, img, button, input, select {
-webkit-tap-highlight-color: transparent;
outline: 0;
}
img {
border: 0 none;
vertical-align: top;
}
i, em { font-style: normal }
ol, ul { list-style: none }
input, select, button, h1, h2, h3, h4, h5, h6 {
font-size: 100%;
font-family: inherit
}
body { font-family: Helvetica,"Microsoft YaHei",Verdana,Arial,Tahoma,sans-serif, Arial;  }
.page-url {
text-align: center;
width: 100%;
}
.page-url a:link, .page-url a:visited { color: #666; }
.page-url-link {
font-size: 10pt;
line-height: 2;
text-decoration: none;
}
a:link, a:visited { color: #666; }
.fn-clear:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.fn-clear { zoom: 1; }
a { text-decoration: none; }
#footer {
width: 100%;
max-width: 100%;
margin: 0 auto;
_zoom: 1;
text-align: center;
padding-top: 10px;
clear: both;
font-size: 10pt;
color: #666;
}
input[type=button] { -webkit-appearance: none; }
p {
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
select{-webkit-tap-highlight-color:rgba(0,0,0,0);}
