.myselect{margin-top:15px;height: 53.33px; font-size: 17.06px; line-height:21px; border:1px solid #ccc; border-top-right-radius:0; border-top-left-radius:0; border-bottom-right-radius:2px; border-bottom-left-radius:2px; padding: 0px 11.93px; width: 100%; background-color: #FFFFFF; color: #ccc; box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1; position:relative;}
.pass-button-full {
	color:#fff;
	font-size:18px;
	font-size:1.5rem;
	width:100%;
	line-height:44px;
	line-height:3.0rem;
	height:44px;
	height:3.0rem;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	cursor:pointer;
	display:block;
	text-align:center;
	-webkit-appearance:none;
	-moz-appearance:none;
	-webkit-tap-highlight-color:rgba(255,0,0,0);
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	-ms-border-radius:2px;
	border:1px solid #3c76ff;
	background:#3c76ff;
	margin:12px 0;
	margin:1.2rem 0;
}
.pass-button-full-disabled {
	color:#90b6ff;
	opacity:1;
}
.pass-button-full-active{color:#fff;background:#3c76ff}
.form-item{display:-webkit-box;display:-moz-box;display:box;width:100%;background:#fff;margin-bottom:10px;margin-bottom:1rem}
.form-item-btn{background:#f1f1f1;border:0;width:auto;}
.form-wrapper {
    padding: 0 15px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
}
.weather_text{
	margin:20px 0 4px;margin:1rem 0 0.2rem;font-size:12px; font-size:1.2rem; color:blue;
}

