.carousel {
	position: relative;
	overflow: hidden;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background-color: #fff
}

.carousel_wrapper {
	width: 100%;
	line-height: 0;
	font-size: 0;
	white-space: nowrap
}

.carousel_item {
	width: 100%;
	overflow: hidden;
	position: relative;
	display: inline-block;
	vertical-align: top
}

.carousel_item_img {
	width: 100%
}

.carousel-decoration-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	left: 6px;
	right: 6px;
	bottom: 6px
}

.carousel-description {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 16px;
	line-height: 20px;
	color: #fff
}

.carousel-description-item {
	display: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	background-color: rgba(0,0,0,.5)
}

.carousel-description-item.active {
	display: block
}

.carousel_page_indicator {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-left: 6px;
	border-radius: 6px;
	border: 1px solid #c4c7cc
}

.carousel_page_indicator.active {
	background-color: #3385ff;
	border: 1px solid #3385ff
}

.module_list {
	margin: 0;
	display: block;
	padding-left: 15px;
	background: #fff;
	overflow: hidden;
	clear: both;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.module_list li {
	padding: 0;
	list-style: none;
	width: 45%;
	height: 40px;
	float: left
}

.module_list li a {
	position: relative;
	text-decoration: none;
	color: #323233;
	white-space: nowrap;
	display: block;
	padding: 12px 0
}

.module_list li a>span {
	display: inline-block;
	margin-left: 5px;
	color: #fff;
	font-size: 12px;
	padding: 1px 2px;
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-ms-transform: scale(0.9);
	-o-transform: scale(0.9);
	transform: scale(0.9)
}

.module_list li a.more {
	color: #075cb1
}

.module_list li a>.recommend {
	background: #56bab1
}

.module_list li a>.new {
	background: #f07530
}

.module_list li a>.hot {
	background: #ed4748
}

.forum_card {
	background-color: #fff;
	border-top: 1px solid rgba(150,150,150,.1);
	box-shadow: 0 1px 1px rgba(12,12,12,.2)
}

.forum_card_title {
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	padding: 12px 15px;
	font-size: 16px;
	color: #313233;
	position: relative;
	border-bottom: 1px solid #E3E5E6
}

.forum_card_title:after {
	left: auto;
	right: 15px
}

.forum_card_body {
	margin: 0 15px;
	height: 100px
}

.forum_card_item {
	display: block;
	width: 50%;
	box-sizing: border-box;
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #E3E5E6
}

.forum_card_item:nth-child(even) {
	padding-left: 12px
}

.forum_card_item:active {
	background-color: #EBEDF0
}

.forum_card_item_wrapper {
	margin: 5px 0;
	padding: 4px 0;
	border-right: 1px solid #EBEDF0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-flex-flow: row;
	-ms-flex-flow: row;
	flex-flow: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.forum_card_item_img {
	width: 32px;
	height: 32px;
	display: block;
	margin-right: 8px;
	border-radius: 5px
}

.forum_card_item_name {
	color: #323233;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	line-height: 32px
}

.forum_list {
	margin-top: 2px
}

.forum_list .forum_card {
	margin-bottom: 12px
}

.forum_list_more {
	background-color: #fff;
	border-top: 1px solid rgba(150,150,150,.1);
	box-shadow: 0 1px 1px rgba(12,12,12,.2);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-flex-flow: row;
	-ms-flex-flow: row;
	flex-flow: row;
	-ms-flex-direction: row;
	flex-direction: row
}

.forum_list_more_item {
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	color: #3668B3;
	font-size: 12px;
	padding: 5px 0
}

.forum_list_more_item_text {
	display: block;
	padding: 5px 0
}

.view_more_forum_list_text {
	border-right: 1px solid #EBEDF0
}

.post_item {
	display: block;
	padding: 0 15px;
	background-color: #fff
}

.post_item_title {
	font-size: 16px;
	color: #313233;
	padding: 8px 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.post_item_abstract {
	font-size: 14px;
	color: #7a7c80;
	line-height: 22px;
	margin-bottom: 12px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	word-break: break-all
}

.post_item_area {
	padding: 8px 0;
	color: #abaeb2;
	font-size: 12px;
	border-top: 1px solid #e1e3e5
}

.post_item_zan_reply {
	float: right
}

.post_item_btn {
	display: inline-block;
	padding-left: 22px
}

.post_item_zan_btn {
	margin-right: 15px;
	background-position: 0 -668px
}

.post_item_reply_btn {
	background-position: 0 -389px
}

.post_item_border {
	border-top: 1px solid rgba(150,150,150,.2);
	box-shadow: 0 1px 1px rgba(12,12,12,.2)
}

.post_img_wrapper {
	display: -webkit-box;
	display: box
}

.post_img_wrapper>span {
	display: block;
	height: 135px;
	-webkit-box-flex: 1;
	box-flex: 1;
	margin-right: 4px;
	background: center 20% no-repeat;
	background-size: cover
}

.post_img:last-child {
	margin-right: 0
}

.post_item_info_forum,.post_item_info_author {
	margin: 0;
	padding-right: 6px
}

.tie_abstract_media_bg {
	width: 73px;
	height: 55px;
	background-size: 73px 55px;
	display: inline-block;
	background-image: url(//tb2.bdstatic.com/tb/mobile/sindex/img/vedio_bg_8ae57dc.png);
	padding: 0
}

.new_feed {
	box-shadow: 0 1px 1px rgba(12,12,12,.2)
}

.new_feed_all {
	display: block;
	padding: 10px;
	text-align: center;
	color: #3668B3;
	font-size: 12px;
	border-top: 1px solid #e1e3e5;
	background-color: #fff
}

.login_ad_btn {
	display: inline-block;
	position: absolute;
	width: 20%;
	color: #fcfcfc;
	border: 0;
	text-align: center;
	padding: 15px 10px
}

.login_ad_btn_partition {
	width: 2px;
	left: 23%
}

.login_ad_btn_register {
	left: 25%
}

.login_ad_app_content {
	position: absolute;
	left: 5%;
	top: 5px;
	height: 50px;
	width: 400px;
	margin-top: 2px;
	background: url(//tb2.bdstatic.com/tb/mobile/sglobal/widget/bdps_login_ad/img/logo_tieba_2aad106.png) no-repeat
}

.login_ad_app_word {
	margin-left: 13%
}

.weixin_adapt_button {
	display: none;
	position: absolute;
	right: 5%;
	top: 15%;
	width: 40%;
	height: 70%;
	font-size: 16px
}

.login_ad_btn_close {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -13px;
	width: 25px;
	height: 25px;
	background: url(//tb2.bdstatic.com/tb/mobile/sglobal/widget/bdps_login_ad/img/closebtn_85e700c.png) no-repeat
}

.addbodybottom {
	height: 20px;
	width: 100%
}

.icon_btn {
	text-indent: -999em;
	text-align: center;
	white-space: nowrap;
	line-height: inherit
}

.pic_free_mode .icon_btn {
	text-indent: 0;
	background-image: none;
	white-space: normal
}

.index_press_area {
	-webkit-tap-highlight-color: transparent
}

.index_press_area:active {
	background-color: #e8eaec
}

.index_icon {
	background-image: url(//www.jiashubing.cn/image/mobile/forum/images/index_icon.png);
	background-repeat: no-repeat;
	-webkit-background-size: 50px auto;
	background-size: 50px auto
}

.dia_mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.6);
	z-index: 100003
}

.dia_wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 280px;
	margin-top: -75px;
	margin-left: -140px;
	background-color: #f2f2f2;
	border: 1px solid #c6c6c6;
	z-index: 100004;
	-webkit-tap-highlight-color: transparent;
	border-radius: 4px
}

.dia_title {
	margin: 15px 0 8px;
	font-size: 16px;
	line-height: 16px;
	color: #333;
	text-align: center
}

.dia_content {
	margin: 0 20px;
	font-size: 12px;
	line-height: 16px;
	color: #666;
	text-align: center
}

.dia_btnwrapper {
	text-align: center
}

.dia_btn {
	display: inline-block;
	width: 106px;
	height: 34px;
	margin: 10px 6px;
	border: 1px solid #d2d2d2;
	background-color: #f7f7f7;
	font-size: 16px;
	line-height: 34px;
	color: #333;
	text-align: center
}

.dia_okbtn {
	border: 1px solid #135cbe;
	background-color: #3b89f6;
	color: #fff
}

.dia_btn_l1 {
	width: 180px
}

.dia_btn_l2 {
	width: 106px
}

.dia_closebtn_container {
	position: absolute;
	right: -20px;
	top: -20px;
	padding: 6px
}

.dia_closebtn {
	display: block;
	width: 28px;
	height: 28px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-border-radius: 14px;
	border-radius: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fafafa
}

.dia_closebtn:before {
	content: '';
	position: absolute;
	height: 16px;
	width: 2px;
	background: #c6c6c6;
	left: 13px;
	top: 6px
}

.dia_closebtn:after {
	content: '';
	position: absolute;
	width: 16px;
	height: 2px;
	left: 6px;
	top: 13px;
	background: #c6c6c6
}

#index-app-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10002
}

#index-app-overlay img {
	width: 100%;
	height: 100%
}

#index-app-overlay #index-app-openapp,#index-app-overlay #index-app-continue {
	font-size: 16px;
	font-family: Microsoft YaHei;
	position: absolute
}

#index-app-overlay #index-app-openapp {
	left: 50%;
	bottom: 15%;
	width: 250px;
	height: 45px;
	line-height: 45px;
	margin-left: -135px;
	background-color: #f4f8fc;
	color: #297acc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

#index-app-overlay #index-app-continue {
	bottom: 10%;
	right: 50%;
	margin-right: -32px;
	color: #f4f8fc;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	-khtml-opacity: .5;
	opacity: .5
}

.blue_kit_icon {
	width: 36px;
	height: 34px;
	font-size: 12px;
	margin: 4px 0;
	display: inline-block;
	text-align: center;
	text-indent: -9999em;
	border: 1px solid transparent
}

.blue_kit .blue_kit_btn_logo {
	color: #a3b4cc
}

.blue_kit_right {
	line-height: 0
}

.top_message {
	background-position: 8px -435px;
	margin-right: 10px;
	position: relative
}

.top_message_count {
	display: block;
	position: absolute;
	top: 0;
	left: 22px;
	background: #eb5523 -webkit-gradient(linear,0 0,0 100%,from(#f55925),to(#eb5523));
	color: #fff;
	font-size: 10px;
	text-align: center;
	min-width: 14px;
	height: 18px;
	line-height: 18px;
	text-indent: 0;
	border-radius: 7px;
	padding: 0 5px
}

.top_search {
	background-position: 8px -33px
}

.top_bar_icon_active {
	border-color: rgba(0,0,0,.1);
	background-color: rgba(0,0,0,.1)
}

.light_tab_head {
	font-size: 14px;
	height: 45px;
	line-height: 45px;
	background-color: #fcfdff;
	width: 100%
}

.light_tab_head .tab_head_item {
	color: #626466;
	border-bottom: 1px solid #e3e4e6;
	position: relative
}

.light_tab_head .tab_head_item.active {
	color: #2c81ff;
	border-bottom: 3px solid #3385ff
}

.tab_index_head_clone {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0
}

.notification_message {
	position: absolute;
	top: 2px;
	right: 0
}

.ad_cards_wrapper {
	overflow: hidden
}

.ad_card_wraper {
	overflow: hidden;
	background: rgba(230,233,235,.69)
}

.ad_card_info_wraper {
	font-size: 14px;
	padding-left: 6px;
	height: 60px;
	position: relative;
	margin-bottom: 10px;
	padding-top: 4px
}

.ad_card_info_wraper>img {
	width: 60px;
	height: 60px
}

.ad_card_game_info {
	height: 60px;
	margin-right: 116px;
	font-size: 14px;
	line-height: 21px;
	padding: 5px
}

.ad_card_game_info>span {
	display: block;
	margin-top: 4px
}

.ad_card_game_info>span:nth-of-type(1) {
	font-size: 16px;
	font-weight: 700;
	color: #000
}

.ad_card_info_wraper .down_now {
	position: absolute;
	top: 10px;
	right: 12px;
	height: 43px;
	line-height: 43px;
	width: 90px;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	background: #5fc273 -webkit-gradient(linear,left top,left bottom,from(#5fc273),to(#5fc273));
	text-align: center
}

.ad_card_slidder {
	height: 300px;
	white-space: nowrap;
	overflow: hidden
}

.ad_card_slidder ul>li {
	display: inline-block;
	margin-left: 10px
}

.ad_card_slidder ul>li:nth-of-type(1) {
	margin-left: 0
}

.ad_card_slidder_items {
	height: 300px
}

.ad_card_slidder_items img {
	height: 300px;
	width: 180px
}

.ad_card_sq_wraper {
	text-align: right
}

.ad_card_sq_btn {
	width: 57px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	height: 28px;
	background: #ecedef -webkit-gradient(linear,left top,left bottom,from(#f2f3f5),to(#e7e8e9));
	border: 1px solid #eaebec;
	border-radius: 3px;
	position: relative;
	text-align: center;
	line-height: 28px;
	margin-right: 10px;
	color: #4267a0;
	font-weight: 600;
	padding-left: 12px
}

.ad_card_sq_btn:after {
	content: '';
	position: absolute;
	top: 12px;
	left: 20%;
	margin-left: -6px;
	margin-right: 10px;
	width: 9px;
	height: 9px;
	border-top: 1px solid #3f6bac;
	border-left: 1px solid #3f6bac;
	border-right: 0;
	border-bottom: 0;
	-webkit-transform: rotate(45deg)
}

.ad_card_slider_pic {
	max-width: 300px
}

.forum_recommend_c {
	position: relative;
	background: #fff;
	padding: 7px 0 4px
}

.forum_recommend_c.grey_bg {
	background-color: #FAFBFC
}

.forum_recommend_text {
	height: 34px;
	line-height: 48px;
	font-size: 16px;
	color: #8593a1;
	padding-left: 10px;
	overflow: hidden
}

.ue_revision .forum_recommend_text {
	line-height: 24px;
	font-size: 12px;
	color: #a3a8ad;
	height: auto
}

.forum_recommend_forum_list_container {
	height: 94px;
	overflow: hidden;
	width: 100%;
	position: relative
}

.ue_revision .forum_recommend_forum_list_container {
	height: auto
}

.forum_recommend_forum_name {
	color: #333;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.forum_recommend_forum_item {
	padding: 10px;
	display: inline-block;
	position: relative
}

.ue_revision .forum_recommend_forum_item {
	padding: 0 20px 0 10px;
	height: 60px;
	border-left: 1px solid #EAEBEC
}

.forum_recommend_forum_item:first-child {
	border-left: 0
}

.forum_recommend_forum_portrait {
	background-repeat: no-repeat;
	background-size: cover;
	width: 60px;
	height: 60px;
	display: inline-block
}

.forum_recommend_forum_introduct {
	display: inline-block;
	margin-left: 10px
}

.forum_recommend_forum_introduct_text {
	color: #87888a;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden
}

.ue_revision .forum_recommend_forum_introduct_text {
	font-size: 12px
}

.forum_recommend_c .close_recommend {
	width: 40px;
	height: 28px;
	position: absolute;
	top: 0;
	right: 0
}

.close_recommend .btn_close {
	background: transparent
}

.close_recommend .btn_close:before,.close_recommend .btn_close:after {
	background: #c5c7ca
}

.forum_recommend_forum_list_container .sy_top_more {
	position: absolute;
	top: 16px;
	right: 8px;
	z-index: 1;
	width: 40px;
	height: 40px;
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 7px;
	padding-bottom: 5px;
	padding: 7px 5px 5px;
	border-radius: 3px;
	border-color: #c1c3c5;
	text-align: center;
	font-weight: 600;
	opacity: .8
}

.sy_top_more a {
	color: #333
}

.footer {
	font-size: 13px;
	color: #606163;
	margin-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	line-height: 28px
}

.footer_link {
	margin: 0 15px
}

.footer a {
	color: #606163
}

.footer .important {
	color: red
}

.footer .super {
	color: red;
	font-size: 10px;
	font-style: italic;
	vertical-align: super;
	width: 0;
	display: inline-block;
	white-space: nowrap
}

.footer .footer_link_highlight {
	color: red
}

.footer_pc_link_warning {
	font-size: 15px
}

.client_bottom_tipCon {
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	background-color: #f1f2f4;
	display: -webkit-box;
	-webkit-box-align: middle
}

.client_bottom_tip_icon {
	width: 38px;
	margin: 6px;
	border-radius: 4px;
	background-size: cover;
	background-repeat: no-repeat
}

.client_bottom_tip_text {
	-webkit-box-flex: 1;
	line-height: 18px;
	margin-top: 8px;
	color: #3e4563;
	margin-bottom: 5px;
	overflow: hidden
}

.client_bottom_tip_close {
	width: 40px;
	height: 50px;
	position: relative
}

.client_bottom_tip_cross {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -7px;
	-webkit-transform: rotate(45deg);
	width: 18px;
	height: 18px;
	-webkit-border-radius: 9px;
	background-color: rgba(0,0,0,.4)
}

.client_bottom_tip_cross:before,.client_bottom_tip_cross:after {
	content: '';
	position: absolute;
	background: #fff;
	left: 50%;
	top: 50%
}

.client_bottom_tip_cross:before {
	height: 13px;
	width: 1px;
	margin: -6px 0 0
}

.client_bottom_tip_cross:after {
	width: 13px;
	height: 1px;
	margin: 0 0 0 -6px
}

.client_bottom_tip_button,.client_bottom_tip_close {
	display: block
}

.client_bottom_tip_button {
	background-color: #3384FE;
	margin: 10px 0 10px 10px;
	color: #fff;
	width: 80px;
	text-align: center;
	line-height: 30px;
	border-radius: 4px
}

.tab_con_input {
	background: #fff;
	line-height: 32px;
	color: #a3a8ad
}

.forumTile {
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 4px;
	vertical-align: text-bottom
}

.forumTile_overflow {
	display: none
}

.forumTile_wrapper {
	height: 43px;
	line-height: 43px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: -webkit-box;
	border: 1px solid #eaeaea;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	background: #F1F3F6 -webkit-gradient(linear,0 0,0 100%,from(#F3F5F8),to(#ECEEF0));
	border-radius: 2px;
	color: #000
}

.forumTile_wrapper:active {
	border: 0;
	padding: 1px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.15);
	background: #e5e7e9
}

.forumTile_name_wrapper {
	-webkit-box-flex: 2;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.forumTile_name {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
}

.forumTile_sign {
	display: inline-block;
	width: 30px;
	height: 20px;
	background-position: -1px -243px;
	vertical-align: middle
}

.forumTile_withLevel .forumTile_wrapper {
	position: relative;
	text-align: left;
	font-size: 15px
}

.forumTile_withLevel .forumTile_name_wrapper {
	padding-left: 8px
}

.forumTile_level {
	vertical-align: middle;
	display: inline-block;
	position: absolute;
	right: -23px;
	top: 10px
}

.forumTile_list {
	padding: 4px
}

.forumTile_wrapper .level {
	margin: 0 6px 0 0
}

.like_more_arrow {
	height: 30px;
	width: 24px;
	margin: 0 auto;
	font-size: 12px
}

.no_like {
	font-size: 16px;
	padding: 12px 10px
}

#expend_ba_link {
	margin-top: 3px;
	width: 5px;
	height: 13px;
	border-top: 2px solid #ccd0d6;
	border-right: 2px solid #ccd0d6;
	-webkit-transform: rotate(135deg);
	position: relative;
	padding-left: 8px;
	margin-right: 10px
}

#expend_ba_link.expend_ba {
	-webkit-transform: rotate(-45deg);
	margin-top: 13px
}

.forumTile_list li {
	position: relative
}

.forumTile_list.enable .forumTile_del {
	display: block
}

.forumTile_list.enable a.level,.forumTile_list.enable a.forumTile_wrapper {
	color: gray
}

.forumTile_list.enable .forumTile_cover {
	display: block
}

.forumTile_list li .forumTile_cover {
	display: none;
	background-color: gray;
	opacity: .5;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0
}

.forumTile_list .forumTile_del {
	top: -6px;
	left: -6px;
	width: 24px;
	height: 24px;
	display: none;
	position: absolute
}

.forumTile_list .closeButton {
	position: absolute;
	top: 2px;
	left: 2px;
	-webkit-transform: rotate(45deg);
	width: 18px;
	height: 18px;
	-webkit-border-radius: 9px;
	-webkit-user-select: none;
	background-color: #000;
	opacity: .6
}

.forumTile_list .closeButton::before {
	content: '';
	position: absolute;
	height: 12px;
	width: 2px;
	background: #fff;
	left: 8px;
	top: 3px
}

.forumTile_list .closeButton::after {
	content: '';
	position: absolute;
	width: 12px;
	height: 2px;
	left: 3px;
	top: 8px;
	background: #fff
}

.mylike_edit,.mylike_add {
	display: none;
	float: right;
	margin-right: 8px
}

.forumTile_list.enable .mylike_add {
	display: block
}

.mylike_add {
	display: none;
	margin-right: 10px
}

.dia_add_title {
	text-align: left;
	font-weight: 700;
	padding: 0 10px 10px 20px;
	border-bottom: 1px dotted silver
}

.dia_add_content {
	text-align: left
}

.dia_add_content input {
	height: 28px;
	width: 235px
}

.dia_add_desc {
	line-height: 30px
}

.dia_add_error {
	font-size: 12px;
	color: red
}

.likeba-maxheight {
	max-height: 200px;
	overflow: hidden
}

.expand-all {
	width: 100%;
	text-align: center;
	background: #fff
}

.expand-all p {
	height: 33px;
	margin-bottom: 5px;
	font-size: 13px;
	display: inline-block;
	vertical-align: middle;
	line-height: 33px;
	color: #999
}

.expand-all-icon {
	background: url(//tb2.bdstatic.com/tb/mobile/sindex/widget/my_like/img/arrow-down_f2a8db4.png);
	vertical-align: middle;
	height: 13px;
	width: 14px;
	text-align: center;
	display: inline-block;
	background-size: 80%;
	background-repeat: no-repeat;
	margin-right: 3px;
	margin-top: 3px
}

.tuijian-group {
	position: relative;
	height: 55px
}

.tuijian-group.toleft {
	-webkit-transition: all .9s ease-out;
	transition: all .9s ease-out;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%)
}

.tuijian-group>a {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding-top: 0;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 9px;
	zoom: 1
}

.tuijian-group>a:before,.tuijian-group>a:after {
	content: " ";
	display: table
}

.tuijian-group>a:after {
	clear: both
}

.tuijian-group>a.tuijian-animate-enter {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}

.tuijian-group>a>img {
	float: left;
	width: 45px;
	height: 45px;
	border-radius: 3px
}

.tuijian-group>a .tuijian-content {
	float: left;
	max-width: 65%;
	padding-left: 9px
}

.tuijian-group>a .tuijian-content h3 {
	margin: 0;
	margin-top: 2px;
	margin-bottom: 4px;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 15px;
	font-weight: 400;
	color: #262626
}

.tuijian-group>a .tuijian-content p {
	font-size: 13px;
	color: #7a7c80
}

.tuijian-group>a .tuijian-button {
	float: right;
	width: 49px;
	height: 25px;
	margin-top: 11px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background-color: #3385ff;
	position: relative;
	z-index: 50
}

.tuijian-group>a .tuijian-button::before {
	content: '';
	position: absolute;
	width: 90px;
	height: 50px;
	top: -13px;
	right: -11px
}

.tuijian-group>a .tuijian-button.tuijian-button-off {
	color: #c8cacc;
	background: #fff
}

.tuijian-wrap {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #cacbcc;
	background: #fff
}

.tuijian-wrap h4 {
	height: 27px;
	margin: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 32px;
	text-indent: 11px;
	color: #7a7c80
}

.tuijian-wrap .tuijian-close {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
	font-family: tahoma;
	font-size: 24px;
	font-style: normal;
	line-height: 26px;
	text-indent: 6px;
	color: #999;
	cursor: pointer
}

.tuijian-group {
	position: relative;
	height: 81px;
	zoom: 1
}

.tuijian-group:before,.tuijian-group:after {
	content: " ";
	display: table
}

.tuijian-group:after {
	clear: both
}

.tuijian-group.toleft {
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%)
}

.tuijian-group>a {
	position: absolute;
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding-top: 0;
	padding-top: 5px;
	padding-right: 12px;
	padding-bottom: 5px;
	padding-left: 9px;
	-webkit-tap-highlight-color: transparent;
	zoom: 1
}

.tuijian-group>a:after {
	position: absolute;
	width: 100%;
	content: ''
}

.tuijian-group>a .tuijian-border {
	border-top: 1px solid #e1e3e6;
	padding-top: 10px;
	padding-bottom: 10px;
	zoom: 1
}

.tuijian-group>a .tuijian-border:before,.tuijian-group>a .tuijian-border:after {
	content: " ";
	display: table
}

.tuijian-group>a .tuijian-border:after {
	clear: both
}

.tuijian-group>a .tuijian-border>img {
	float: left;
	width: 60px;
	height: 60px;
	border-radius: 3px
}

.tuijian-group>a:before,.tuijian-group>a:after {
	content: " ";
	display: table
}

.tuijian-group>a:after {
	clear: both
}

.tuijian-group>a.tuijian-animate-enter {
	-webkit-transform: translateX(100%);
	transform: translateX(100%)
}

.tuijian-group>a .tuijian-content {
	float: left;
	max-width: 65%;
	padding-left: 9px
}

.tuijian-group>a .tuijian-content h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
	margin-top: 4px;
	margin-bottom: 5px;
	padding: 0;
	font-size: 15px;
	font-weight: 400;
	color: #262626
}

.tuijian-group>a .tuijian-content p {
	font-size: 13px;
	color: #7a7c80;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.tuijian-group>a .tuijian-content .post-num {
	color: #999
}

.tuijian-group>a .tuijian-content .reason {
	color: #ccc
}

.tuijian-group>a .tuijian-button {
	float: right;
	width: 49px;
	height: 25px;
	margin-top: 19px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	border-radius: 2px;
	background-color: #3385ff;
	position: relative;
	z-index: 50
}

.tuijian-group>a .tuijian-button::before {
	content: '';
	position: absolute;
	width: 90px;
	height: 50px;
	top: -13px;
	right: -11px
}

.tuijian-group>a .tuijian-button.tuijian-button-off {
	color: #c8cacc;
	background: #fff
}

.tuijian-wrap {
	position: relative;
	overflow: hidden;
	margin-top: 10px;
	border-bottom: 1px solid #cacbcc;
	padding-bottom: 7px;
	background: #fff
}

.tuijian-wrap h4 {
	height: 27px;
	margin: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 32px;
	text-indent: 11px;
	color: #7a7c80
}

.tuijian-wrap .tuijian-close {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
	font-family: tahoma;
	font-size: 24px;
	font-style: normal;
	line-height: 26px;
	text-indent: 6px;
	color: #999;
	cursor: pointer
}

.tuijian-change {
	color: #3385ff;
	float: right;
	position: absolute;
	height: 27px;
	margin: 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 32px;
	right: 12px;
	top: 0;
	font-style: normal;
	-webkit-tap-highlight-color: transparent
}

.tuijian-eye {
	position: absolute;
	left: 121px;
	width: 15px;
	height: 25px;
	top: 0;
	background-image: url(//tb2.bdstatic.com/tb/mobile/sindex/widget/tuijian/img/eye_cde6c40.png);
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: 0 11px
}

.selected_list {
}

.selected_list .list-item {
	display: block;
	margin: 0 7px;
	padding: 7px 0;
	border-bottom: 1px solid #e1e3e6;
	position: relative
}

.selected_list .title {
	font-size: 16px;
	color: #18191a;
	line-height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.selected_list .abstract {
	color: #abaeb2;
	font-size: 14px;
	line-height: 20px
}

.selected_list .tag {
	font-size: 12px;
	color: #4dab8b;
	float: right;
	padding: 2px;
	line-height: 100%;
	position: absolute;
	right: 0;
	margin-top: 2px
}

.selected_list .tag::after {
	content: " ";
	border: 1px solid #4dab8b;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 4px;
	width: 200%;
	height: 200%;
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}

.selected_list .list-item1>.tag {
	bottom: 8px
}

.selected_list .list-item3>.tag {
	top: 10px
}

.selected_list .thumbnails1 {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 7px
}

.selected_list .thumbnails1 .image {
	width: 100%;
	height: 100%
}

.selected_list .thumbnails3>.image {
	display: block;
	float: left;
	width: 32%;
	margin-right: 2%
}

.selected_list .thumbnails3>.image:last-child {
	margin-right: 0
}

.user_info {
	padding: 15px;
	display: block;
	position: relative;
	border-bottom: 1px solid #E1E3E6
}

.user_info::after {
	left: auto;
	right: 15px;
	border-color: #C5C7CA
}

.user_info_portrait {
	display: inline-block;
	width: 70px;
	height: 70px;
	border-radius: 70px;
	margin-right: 10px;
	vertical-align: middle
}

.user_info_main {
	display: inline-block;
	width: 70%;
	line-height: 24px;
	vertical-align: middle
}

.user_info_name {
	font-size: 18px;
	color: #323233
}

.user_info_intro {
	font-size: 14px;
	color: #848587;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.clear_both {
	clear: both
}

.login_tip {
	width: 100%;
	position: relative
}

.login_tip_banner {
	width: 100%;
	display: block
}

.login_tip_text {
	position: absolute;
	color: #fff;
	font-size: 14px;
	text-shadow: 0 1px 2px rgba(4,0,0,.2);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.login_tip_text::before,.login_tip_text::after {
	content: '';
	display: block;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.login_tip_text_txt {
	padding: 0 15px;
	text-align: center;
	line-height: 22px
}

body {
	padding-bottom: 44px
}

.user_entrance_item {
	display: block;
	margin: 0 15px;
	padding: 18px 0 18px 40px;
	font-size: 16px;
	color: #313233;
	border-bottom: 1px solid #E1E3E6
}

.user_collect {
	background-position: 0 -75px
}

.user_tbean {
	background-position: 0 -125px
}

.user_lottery {
	background-position: 0 -225px
}

.user_feedback {
	background-position: 0 -275px
}

.user_safe_entrance {
	background-position: 0 -475px
}

.user_logout {
	background-position: 0 -325px
}

.region_head {
	font-size: 12px;
	line-height: 28px;
	padding-left: 10px;
	background: #f4f6f8;
	border-bottom: 1px solid #EAEBEC;
	color: #a3a8ad
}

.tab_index {
	position: relative
}

.tab_body_item {
	position: relative
}

.login_wrapper {
	text-align: center;
	padding: 15px 8px;
	padding-top: 160px;
	background: url(//tb2.bdstatic.com/tb/mobile/sindex/img/login_bg_b1089ac.png) center top no-repeat;
	background-size: 320px auto
}

.discovery {
	background: #EBEDF0
}

.user {
	background: #fff
}