.w1 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	width: 910px;
	height: 1300px;
	text-align: center;
	font-family: 'Times' serif
}

.w2 {
	position: absolute;
	text-align: left;
	top: 0;
	height: 5%;
	left: 0;
	right: 0;
	background-color: transparent;
	font-size: 200%
}

.w3 {
	position: absolute;
	display: inline;
	bottom: 6%;
	right: 0;
	left: 0;
	width: auto;
	background-color: transparent
}

.w4 {
	position: absolute;
	display: none;
	bottom: -8%;
	left: 0%;
	width: 100%;
	background-color: transparent;
	border: 2px solid transparent
}

.w5 {
	position: absolute;
	top: 6%;
	right: 0;
	width: 100%;
	height: 64%
}

.w51 {
	position: absolute;
	top: 0;
	width: 33%;
	height: 33%;
	background-color: #ffffff;
	border: 2px solid blue
}

.w52 {
	position: absolute;
	top: 0;
	left: 33%;
	width: 33%;
	height: 33%;
	background-color: #e8f4f4;
	border: 2px solid blue
}

.w53 {
	position: absolute;
	top: 0;
	left: 66%;
	width: 33%;
	height: 33%;
	background-color: #ffffff;
	border: 2px solid blue
}

.w54 {
	position: absolute;
	top: 33%;
	width: 33%;
	height: 33%;
	background-color: #e8f4f4;
	border: 2px solid blue
}

.w55 {
	position: absolute;
	top: 33%;
	left: 33%;
	width: 33%;
	height: 33%;
	background-color: #ffffff;
	border: 2px solid blue
}

.w56 {
	position: absolute;
	top: 33%;
	left: 66%;
	width: 33%;
	height: 33%;
	background-color: #e8f4f4;
	border: 2px solid blue
}

.w57 {
	position: absolute;
	top: 66%;
	width: 33%;
	height: 33%;
	background-color: #ffffff;
	border: 2px solid blue
}

.w58 {
	position: absolute;
	top: 66%;
	left: 33%;
	width: 33%;
	height: 33%;
	background-color: #e8f4f4;
	border: 2px solid blue
}

.w59 {
	position: absolute;
	top: 66%;
	left: 66%;
	width: 33%;
	height: 33%;
	background-color: #ffffff;
	border: 2px solid blue
}

.wf {
	position: absolute;
	top: 0;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wg {
	position: absolute;
	top: 0;
	left: 33%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wh {
	position: absolute;
	top: 0;
	left: 66%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wi {
	position: absolute;
	top: 33%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wj {
	position: absolute;
	top: 33%;
	left: 33%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wk {
	position: absolute;
	top: 33%;
	left: 66%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wl {
	position: absolute;
	top: 66%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wm {
	position: absolute;
	top: 66%;
	left: 33%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wn {
	position: absolute;
	top: 66%;
	left: 66%;
	width: 33%;
	height: 33%;
	background-color: transparent;
	border: 1px solid #aaaadd
}

.wo {
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border: 3px solid transparent;
	text-align: center;
	font-size: 300%
}

.w1_e {
	position: absolute;
	bottom: 25%;
	height: 4%;
	margin-top: 1%;
	left: 0;
	right: 0;
	background-color: transparent;
	font-size: 210%
}

.wr {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -15%;
	background-color: #ddeedd;
	font-size: 200%;
	visibility: hidden;
	border-radius: 5%
}

/*.ws {
	position: absolute;
	top: 5%;
	left: 14%;
	font-size: 110%
}

.wt {
	position: absolute;
	top: 5%;
	left: 34%;
	font-size: 110%
}*/

.wu {
	position: absolute;
	top: 0;
	left:40%;
	font-size: 150%
}

.wuw {
	position: absolute;
	top: 0;
	left:85%;
	font-size: 150%
}


.wv {
	position: absolute;
	top: 0;
	left: 53%;
	font-size: 150%;
	color: #325ecd
}

.ww {
	position: relative;
	left: 0;
	right: 0;
	color: #0000FF;
	border: 2px #0000FF solid;
	font-size: 250%
}

.wx {
	position: absolute;
	top: 50%;
	left: 5%;
	height: auto;
	width: 70%;
	font-size: 14px;
	color: #0000FF;
	border: 1px #0000FF solid
}

.wy {
	color: #000099;
	font-size: 150%
}

.w1_ads {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: -12%;
	width: 600px
}

.w1_p {
	position: absolute;
	top: 6%;
	right: 0;
	width: 100%;
	height: 64%;
	opacity: 1.0;
	background-color: #ffffee;
	font-size: 800%;
	visibility: hidden;
	color: #0000aa
}

.ha1 {
	position: absolute;
	top: 0;
	width: 100%;
	height: 25%;
	background-color: transparent;
	border: 1px solid #0000dd;
	font-size: 40%;
	font-style: italic
}

.ha2 {
	position: absolute;
	top: 25%;
	width: 100%;
	height: 25%;
	background-color: transparent
}

.ha3 {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 25%;
	background-color: transparent
}

.ha4 {
	position: absolute;
	top: 75%;
	width: 100%;
	height: 25%;
	background-color: transparent
}

.hb1 {
	position: absolute;
	left: 0;
	width: 25%;
	height: 100%;
	display: inline;
	border: 2px #0000dd solid
}

.hb2 {
	position: absolute;
	left: 25%;
	width: 25%;
	height: 100%;
	display: inline;
	border: 2px #0000dd solid
}

.hb3 {
	position: absolute;
	left: 50%;
	width: 25%;
	height: 100%;
	display: inline;
	border: 2px #0000dd solid
}

.hb4 {
	position: absolute;
	left: 75%;
	width: 25%;
	height: 100%;
	display: inline;
	border: 2px #0000dd solid
}

.hc {
	position: absolute;
	left: 25%;
	width: 50%;
	height: 100%;
	display: inline;
	border: 2px #0000dd solid;
	font-size: 70%
}

.hd {
	position: absolute;
	height: 90%;
	width: 100%;
	left: 0;
	top: 5%;
	background-color: transparent
}

.he {
	position: absolute;
	height: 90%;
	width: 100%;
	left: 0;
	top: 40%;
	color: #445566
}

.hf {
	position: absolute;
	height: 90%;
	width: 100%;
	left: 0;
	top: 20%
}

.hg {
	position: absolute;
	height: 90%;
	width: 100%;
	left: 0;
	top: 65%;
	background-color: transparent;
	font-size: 40%
}

.s1 {
	border: 1px solid transparent
}

.za {
	border: 1px solid blue
}

.zb {
	color: #0000ff;
	font-style: normal
}

.zf {
	display: inline-block;
	border-radius: 10px;
	width: 97px;
	border: 0;
	color: #fff;
	margin-left: 14px;
	margin-right: 14px;
	padding: 4px;
	cursor: pointer;
	font-size: 120%;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,.3);
	-webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5);
	-moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,.5);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
	line-height: 60px;
}

.zf.green {
	background: #32ad5e;
	background-image: linear-gradient(bottom, rgb(34,171,65) 0%, rgb(78,202,145) 100%);
	background-image: -o-linear-gradient(bottom, rgb(34,171,65) 0%, rgb(78,202,145) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(34,171,65) 0%, rgb(78,202,145) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(34,171,65) 0%, rgb(78,202,145) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(34,171,65) 0%, rgb(78,202,145) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(34,171,65)),color-stop(1, rgb(78,202,145)));
	border: 1px solid #00aa28;
	border-radius: 10px;
}

.zf.blue {
	background: #325ecd;
	background-image: linear-gradient(bottom, rgb(34,65,201) 0%, rgb(78,145,212) 100%);
	background-image: -o-linear-gradient(bottom, rgb(34,65,201) 0%, rgb(78,145,212) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(34,65,201) 0%, rgb(78,145,212) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(34,65,201) 0%, rgb(78,145,212) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(34,65,201) 0%, rgb(78,145,212) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(34,65,201)),color-stop(1, rgb(78,145,212)));
	border: 1px solid #0028aa;
	border-radius: 10px;
}

.zf.purple {
	background: #ad5ead;
	background-image: linear-gradient(bottom, rgb(171,34,171) 0%, rgb(202,78,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(171,34,171) 0%, rgb(202,78,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(171,34,171) 0%, rgb(202,78,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(171,34,171) 0%, rgb(202,78,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(171,34,171) 0%, rgb(202,78,202) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(171,34,171)),color-stop(1, rgb(202,78,202)));
	border: 1px solid #995599;
	border-radius: 10px;
}

.zf.red {
	background: #ad5e5e;
	background-image: linear-gradient(bottom, rgb(171,34,34) 0%, rgb(202,78,78) 100%);
	background-image: -o-linear-gradient(bottom, rgb(171,34,34) 0%, rgb(202,78,78) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(171,34,34) 0%, rgb(202,78,78) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(171,34,34) 0%, rgb(202,78,78) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(171,34,34) 0%, rgb(202,78,78) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(171,34,34)),color-stop(1, rgb(202,78,78)));
	border: 1px solid #aa2828;
	border-radius: 10px;
}

.xx {
	position: absolute;
	left: 47%;
	top: 29%;
	visibility: hidden;
	width: 60px;
	height: 60px;
	margin: 80px auto
}

.xx .hh {
	width: 33%;
	height: 33%;
	background-color: #777;
	float: left;
	-webkit-animation: hhGridScaleDelay 1.3s infinite ease-in-out;
	animation: hhGridScaleDelay 1.3s infinite ease-in-out;
}

.xx .hh1 {
	-webkit-animation-delay: 0.18s;
	animation-delay: 0.18s
}

.xx .hh2 {
	-webkit-animation-delay: 0.28s;
	animation-delay: 0.28s
}

.xx .hh3 {
	-webkit-animation-delay: 0.38s;
	animation-delay: 0.38s
}

.xx .hh4 {
	-webkit-animation-delay: 0.11s;
	animation-delay: 0.11s
}

.xx .hh5 {
	-webkit-animation-delay: 0.21s;
	animation-delay: 0.21s
}

.xx .hh6 {
	-webkit-animation-delay: 0.31s;
	animation-delay: 0.31s
}

.xx .hh7 {
	-webkit-animation-delay: 0.01s;
	animation-delay: 0.01s
}

.xx .hh8 {
	-webkit-animation-delay: 0.11s;
	animation-delay: 0.11s
}

.xx .hh9 {
	-webkit-animation-delay: 0.21s;
	animation-delay: 0.21s
}

@-webkit-keyframes hhGridScaleDelay {
	0%, 68%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}

	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

@keyframes hhGridScaleDelay {
	0%, 68%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	}

	35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}