.main {
	background: #fafbfc
}

.wrap {
	width: auto;
	height: auto;
	display: block
}

.glob {
	margin-bottom: 44px
}

.main {
	margin-top: 45px
}

.img_placeholder {
	display: block;
	background: url(//tb2.bdstatic.com/tb/mobile/spb/img/image_spb_2b7d835.png) no-repeat center
}

.scaleup {
	-webkit-animation-duration: .5s;
	-webkit-animation-name: scaleup;
	-webkit-transform-origin: 0 0
}

@-webkit-keyframes scaleup {
	0% {
		-webkit-transform: scale(1,.2)
	}

	100% {
		-webkit-transform: scale(1,1)
	}
}

.highlight {
	font-weight: 700
}

.button {
	display: inline-block;
	padding: 4px 10px;
	-webkit-border-radius: 5px;
	font: 400 14px/16px Helvetica,Arial,sans-serif;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#575757),color-stop(0.5,#454545),to(#333));
	border: solid 1px #000
}

.button.back {
	padding-left: 5px;
	margin-left: 8px;
	position: relative;
	background: #3c3c3c;
	background-image: none;
	border: solid 2px #292929;
	border-left: 0
}

.button.back>em {
	left: -7px;
	height: 19px;
	width: 19px;
	position: absolute;
	top: 2px;
	-webkit-border-radius: 4px 0;
	-webkit-transform: rotate(45deg);
	-webkit-background-clip: content;
	border-left: solid 2px #2929290;
	border-bottom: solid 2px #292929;
	background-color: #3C3C3C
}

.button.back>span {
	position: relative
}

.button.back>span a {
	color: #E2E2E2
}

.pb_icon,.pb_icon_before:before,.pb_icon_after:after {
	background-image: url(//tb2.bdstatic.com/tb/mobile/spb/img/spb_icon_31651ac.png);
	background-repeat: no-repeat;
	background-size: 43px auto
}

.ue_revision .pb_icon,.ue_revision .pb_icon_before:before,.ue_revision .pb_icon_after:after {
	background-image: url(//tb2.bdstatic.com/tb/mobile/spb/img/spb_icon_revision_bcf291c.png);
	background-repeat: no-repeat;
	background-size: 43px auto
}

.gif_mark {
	background: url(//tb2.bdstatic.com/tb/mobile/spb/img/light_gif_e170449.png) no-repeat 0 0;
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	height: 16px;
	background-size: 24px 16px;
	max-width: 100%
}

.BDE_Image {
	max-width: 100%
}

.sexy .BDE_Image {
	max-height: 80px
}

.sexy .gif_mark {
	height: 27px;
	width: 27px;
	background-size: contain
}

.sexy .img_placeholder {
	max-height: 80px
}

.photo_wall_wp {
	margin: 6px -3px 0 0;
	line-height: 0
}

.photo_wall_wp .pbimgwapper {
	display: inline-block;
	margin: 0 3px 3px 0
}

.photo_wall_wp .BDE_Image {
	max-width: none;
	height: inherit
}

#cool_game {
	background: #303e57
}

#cool_game .more_info {
	background-image: url(//tb2.bdstatic.com/tb/mobile/spb/img/cool_game_more_pb_2e7ac0d.png);
	border: solid 1px #242f40
}

#cool_game .word {
	color: #E7E7E1
}

#cool_game p {
	color: #A3ABB6
}

#cool_game .normal {
	color: #A3ABB6
}

#cool_game .title {
	color: #E7E7E1
}

.post_recover {
	color: red
}

.post_key_recover {
	color: #1665be
}

.colorfull_img,.bubble_img {
	background: url(//tb2.bdstatic.com/tb/mobile/spb/img/color_icons_7d82b04.png) no-repeat center center;
	background-size: 50px 90px;
	background-position: 0 0;
	width: 50px;
	height: 50px;
	position: absolute
}

.bubble_img {
	background-position: 0 -55px;
	left: 10px;
	z-index: 1
}

.colorfull_img {
	height: 20px;
	width: 50px;
	display: inline-block;
	margin-right: 3px;
	margin-bottom: -4px;
	position: relative
}

.main_editor {
	display: none
}