<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="oneDiv">
		<div id="bootstrap-shubing">
			<div id="mainContent" class="shubing-tool-wrapper">
				<div class="shubing-toolName">Web项目</div>
				<div class="shubing-toolUsing shubing-clearfix" style="padding-bottom:50px;">
					<ul class="shubing-nav shubing-nav-tabs">
						<li class="active"><a th:href="@{/history(showId=1)}">Web项目</a></li>
						<li><a th:href="@{/history(showId=2)}">学习程序</a></li>
						<li><a>待开发</a></li>
					</ul>
					<ul class="shubinghistorylist">
						<li>
							<span style="color: #2d64b3;font-size:16px;"><strong>Java菜鸟学习网站</strong></span>
							<p style="text-indent:2em;">2015年来到了中科软工作，在试用期的时候，很轻松的完成了任务，在当时的项目经理的鼓励下，开始写出这个网站</p>
							<p style="text-indent:2em;"><span class="historyhref">资源下载：<a href="http://pan.baidu.com/s/1hr8ongo">http://pan.baidu.com/s/1hr8ongo</a>（非Maven版，包含所有jar包）&nbsp;&nbsp;&nbsp;&nbsp;密码：<span style="color:green">xomj</span></span></p>
							<p style="text-indent:2em;"><span class="historyhref">资源下载：<a href="http://pan.baidu.com/s/1dERrnB7">http://pan.baidu.com/s/1dERrnB7</a>（Maven版）&nbsp;&nbsp;&nbsp;&nbsp;密码：<span style="color:green">7kp4</span></span></p>
						</li>
						<!--<li>
							<span style="color: #2d64b3;font-size:16px;"><strong>公司后台管理系统（学习前端jquery时搭建）</strong></span>
							<p style="text-indent:2em;">  </p>
							<p style="text-indent:2em;">网址为：<span style="color:red">暂未放上</span></p>
							 <p style="text-indent:2em;"><span class="historyhref">资源下载：<a href=""></a>（Maven版）&nbsp;&nbsp;&nbsp;&nbsp;密码：<span style="color:green"></span></span></p> 
						</li>-->
						<li>
							<span style="color: #2d64b3;font-size:16px;"><strong>手机APP“信天游”</strong></span>
							<p style="text-indent:2em;">该项目为我的小组参加电子商务竞赛作品，手机APP由我单独开发。其中我学会了搭建Android开发环境，使用各种控件，以及调用百度API。实现了百度地图的应用（搜索地点、路线），语音导游，经典展示等功能。该项目获得浙江大学生电子商务竞赛省赛一等奖，全国大学生电子商务竞赛三等奖。</p>
							<p style="text-indent:2em;"><img src="../images/app.png" th:src="@{/image/pc/images/app.png}" style="width:500px;"/></p>
							<p style="text-indent:2em;"><span class="historyhref">资源下载：<a href="http://pan.baidu.com/s/1i4HFD69">http://pan.baidu.com/s/1i4HFD69</a>&nbsp;&nbsp;&nbsp;&nbsp;密码：<span style="color:green">isik</span></span></p>
						</li>
						<li>
							<span style="color: #2d64b3;font-size:16px;"><strong>交互式外包项目管理系统</strong></span>
							<p style="text-indent:2em;">该项目与“信天游”的开发同时进行，为我的小组参加软件外包大赛的作品，系统编码由我独自开发。主要功能实现了对外包项目的管理，员工可以根据拥有的技能匹配可选的项目，项目也可以根据需要的技能挑选合适的员工。系统使用了SSH框架，以及Hibernate的多对多映射。该项目获得软件外包大赛的优秀奖。</p>
							<p style="text-indent:2em;"><span class="historyhref">资源下载：<a href=""></a>&nbsp;&nbsp;&nbsp;&nbsp;密码：<span style="color:green"></span></span></p>
						</li>
						<li>
							<span style="color: #2d64b3;font-size:16px;"><strong>宿舍管理系统</strong></span>
							<p style="text-indent:2em;">大学的专业是“计算机科学与技术”，学习的主要内容是C语言系列。当时的“软件工程”课程需要小组完成一个项目，大部分同学用的都是C#写的，为了出奇制胜，我们决定使用Java来写。当然有漂亮的美女小组长在，不管干什么都特别卖力，一扫懒散作风，通宵了好几天。其实那时我也并不懂Java，只是跟队友打ACM比赛，使用过几次而已，也听说用它写网站比较好。</p>
							<p style="text-indent:2em;">在“系统开发实训课程”上，帅哥讲了C#三层架构的MVC模型，可是初探Java却并不知道类似SSH这种架构的东西，只用jsp实现数据的增删改查。现在想来，当年的怎么会那么有耐心，一页一页的拷贝。最终在各位的不懈努力下，赶在学校那著名相声演员小云竹子的审核前完成。</p>
							<p style="text-indent:2em;"><span class="historyhref">资源下载：<a href=""></a>&nbsp;&nbsp;&nbsp;&nbsp;密码：<span style="color:green"></span></span></p>
						</li>
					</ul>
				</div>
				 <!-- <div class="dddys" style="margin-top:10px; margin-bottom:25px;">
			        <p class="ysxz">
			        <b style="font-size:16px;">使用须知</b><br/>
			        	1、设计初衷：在进行数据库插入数据操作时，要将原来的数据，每行开始加单引号，每行最后加单引号和逗号，重复操作差点累死我。于是就想着写了个小工具，现在正好把他搬到网站上。<br/>
			    		2、使用说明：在左边文本框输入初始文本，中间的两个框框中输入首尾要增加的字符，最后点击【提交】，就会在右侧生成目标文本。<br/>
			    		3、注意要点：原文本不能为空，空行也被算作是文本；行首、行尾增加的文本不能都为空。<br/>
         				4、PS：其实还有一些操作本地文件的小工具，只是不能放到网站上。因为除了服务器以外，网站并不能访问任何电脑。<br/>
        			</p>
       			 </div> -->
			</div>
		</div>
	</div>
</body>
</html>