<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<div th:fragment="twoDiv">
		<div id="bootstrap-shubing">
			<div id="mainContent" class="shubing-tool-wrapper">
				<div class="shubing-toolName">学习程序</div>
				<div class="shubing-toolUsing shubing-clearfix" style="padding-bottom:50px;">
					<ul class="shubing-nav shubing-nav-tabs">
						<li><a th:href="@{/history(showId=1)}">Web项目</a></li>
						<li class="active"><a th:href="@{/history(showId=2)}">学习程序</a></li>
						<li><a>待开发</a></li>
					</ul>
					<ul class="shubinghistorylist">
						<li>
							<span style="color: #2d64b3;font-size:16px;"><strong>查找Jar包小工具</strong></span>
							<p style="text-indent:2em;">在本地的项目中，有时想根据引入的类，查找所在的jar包。这个时候如果每个jar包都去找，那明显不是程序员的风格。于是我就写了一个小工具，运行后效果如下图，可以很方便得根据类名查找。</p>
							<p style="text-indent:2em;"><img src="../images/findjar.png" th:src="@{/image/pc/images/findjar.png}" style="width:500px;"/></p>
							<p style="text-indent:2em;">使用方法：在安装了jre环境的电脑中，进入控制台，然后输入命令：java -jar findjar.jar</p>
							<p style="text-indent:2em;"><span class="historyhref">资源下载：<a href="http://pan.baidu.com/s/1kVt5sj1">http://pan.baidu.com/s/1kVt5sj1</a>&nbsp;&nbsp;&nbsp;&nbsp;密码：<span style="color:green">367d</span></span></p>
						</li>
					</ul>
				</div>
				<!--  <div class="dddys" style="margin-top:10px; margin-bottom:25px;">
			        <p class="ysxz">
			        <b style="font-size:16px;">使用须知</b><br/>
			        	1、设计初衷：在进行数据库插入数据操作时，要将原来的数据，每行开始加单引号，每行最后加单引号和逗号，重复操作差点累死我。于是就想着写了个小工具，现在正好把他搬到网站上。<br/>
			    		2、使用说明：在左边文本框输入初始文本，中间的两个框框中输入首尾要增加的字符，最后点击【提交】，就会在右侧生成目标文本。<br/>
			    		3、注意要点：原文本不能为空，空行也被算作是文本；行首、行尾增加的文本不能都为空。<br/>
         				4、PS：其实还有一些操作本地文件的小工具，只是不能放到网站上。因为除了服务器以外，网站并不能访问任何电脑。<br/>
        			</p>
       			 </div> -->
			</div>
		</div>
	</div>
</body>
</html>