<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>阿丙的私人订制</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
	<link rel="stylesheet"  href="forum/css/bootstrap.css" th:href="@{/css/pc/forum/css/bootstrap.css}"/>
	<link rel="stylesheet"  href="forum/css/style.css" th:href="@{/css/pc/forum/css/style.css}" />
</head>
<body>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
    <ul class="navi">
        <li><a href="yun-index.html">首页</a></li>
        <li class="active"><a href="javascript:void(0)">论坛系统</a></li>
        <li><a href="yun-baomin.html">自然之声</a></li>
        <li><a href="javascript:void(0)">历史项目</a></li>
        <li><a href="yun-jxspnewone.html">网页小游戏</a></li>
        <li>
            <a href="javascript:void(0)">我的视频</a>
        </li>
        <li><a href="#">在线工具</a></li>
		<li><a href="#">作者亲密度调查</a></li>
        <li id="loginLi" style="padding:0px 0px 0px 20px;"
            th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
            <a href="javascript:void(0)" id="showLoginForm">控制台</a>
        </li>
    </ul>
</div>

<p style="clear:both"></p>
<div class="forum" >
	<div th:replace="pc/forum/common/top::top"  id="content" style="width: 1200px; margin: 0 auto;">
	</div>
	<div id="content" style="width: 1200px; margin: 0 auto;">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" style="margin-top: 8;">
			 <tbody th:remove="all-but-first">
				<tr th:each="zone:${zoneList}">
					<td>
						<table style="width: 1200px;" align="center">
							<tr height="30">
								<td style="text-indent:5;" background="forum/images/index/classT.jpg" th:attr="style='background:url('+@{/image/pc/forum/images/index/classT.jpg}+')  center 0 no-repeat;'">
									<b><span style="color:white" th:text="'■ '+${zone.name }">网站建设</span></b>
								</td>
							</tr>
							<tr>
								<td>
									<ul class="unstyled inline" th:remove="all-but-first">
										<li th:each="section:${zone.sectionList }" style="width: 394px; margin-left: 0px;padding: 0px;">
											<div align="center" style="margin-top: 20px;">
												<div><a href="#" th:href="@{/forum/topicList(sectionId=${section.id})}">
												<img style="width: 100px;" alt="" src="forum/images/logo/20150319072154.jpg" th:src="@{'/image/pc/forum/'+${section.logo }}" /></a></div>
												<div style="margin: 10px auto;"> <a href="# " th:href="@{/forum/topicList(sectionId=${section.id})}">
													<span style="font-size: 30px;font-weight: bold;" th:text="${section.name }">作者公告</span></a></div>
												<span style="font-size: 12px;" th:text="'帖子总数：'+${section.totalCount}">帖子总数：3</span>
												<span style="font-size: 12px;" th:text="'&nbsp;&nbsp;精华帖子：'+${section.goodCount}">精华帖子：3</span>
												<span style="font-size: 12px;" th:text="'&nbsp;&nbsp;未回复：'+${section.noReplyCount}">未回复：3</span>
												<!-- <span style="font-size: 12px;" th:text="'版主：'+${section.master.nickName }">版主：Shubing</span> -->
											</div>
										</li>

										<li style="width: 394px; margin-left: 0px;padding: 0px;">
											<div align="center" style="margin-top: 20px;">
												<div><a href="# }">
												<img style="width: 100px;" alt="" src="forum/images/logo/20150319072205.jpg" th:src="@{/image/pc/forum/images/logo/20150319072205.jpg}" /></a></div>
												<div style="margin: 10px auto;"> <a href="# }">
												<span style="font-size: 30px;font-weight: bold;" th:text="${section.name }">作者公告</span></a></div>
												<span style="font-size: 12px;" th:text="'帖子总数：'+${section.totalCount}">帖子总数：3</span>
												<span style="font-size: 12px;" th:text="'精华帖子0：'+${section.goodCount}">精华帖子：3</span>
												<span style="font-size: 12px;" th:text="'未回复：'+${section.noReplyCount}">未回复：3</span>
												<span style="font-size: 12px;" th:text="'版主：'+${section.master.nickName }">版主：Shubing</span>
											</div>
										</li>
										<li style="width: 394px; margin-left: 0px;padding: 0px;">
											<div align="center" style="margin-top: 20px;">
												<div><a href="# }">
												<img style="width: 100px;" alt="" src="forum/images/logo/20150319072926.jpg" th:src="@{/image/pc/forum/images/logo/20150319072926.jpg}" /></a></div>
												<div style="margin: 10px auto;"> <a href="# }">
													<span style="font-size: 30px;font-weight: bold;" th:text="${section.name }">作者公告</span></a></div>
												<span style="font-size: 12px;" th:text="'帖子总数：'+${section.totalCount}">帖子总数：3</span>
												<span style="font-size: 12px;" th:text="'精华帖子0：'+${section.goodCount}">精华帖子：3</span>
												<span style="font-size: 12px;" th:text="'未回复：'+${section.noReplyCount}">未回复：3</span>
												<span style="font-size: 12px;" th:text="'版主：'+${section.master.nickName }">版主：Shubing</span>
											</div>
										</li>
									</ul>
								</td>
							</tr>
							<tr height="25">
								<td>
									<span th:text="${zone.description }" style="color:orange;">论坛介绍：感谢您能为我的网站建设出一份力</span>
								</td>
							</tr>
							<tr height="25px">
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table style="width: 1200px;" align="center">
							<tr height="30"><td style="text-indent:5;" background="forum/images/index/classT.jpg" th:attr="style='background:url('+@{/image/pc/forum/images/index/classT.jpg}+')  center 0 no-repeat;'"><b><font color="white">■ 文艺苑区</font></b></td></tr>
							<tr>
								<td>
									<ul class="unstyled inline" >
										<li style="width: 394px; margin-left: 0px;padding: 0px;">
											<div align="center" style="margin-top: 20px;">
												<div><a href="# }">
												<img style="width: 100px;" alt="" src="forum/images/logo/20150319072419.jpg" th:src="@{/image/pc/forum/images/logo/20150319072419..jpg}" /></a></div>
												<div style="margin: 10px auto;"> <a href="# }">
													<span style="font-size: 30px;font-weight: bold;" th:text="${section.name }">作者公告</span></a></div>
												<span style="font-size: 12px;" th:text="'帖子总数：'+${section.totalCount}">帖子总数：3</span>
												<span style="font-size: 12px;" th:text="'精华帖子0：'+${section.goodCount}">精华帖子：3</span>
												<span style="font-size: 12px;" th:text="'未回复：'+${section.noReplyCount}">未回复：3</span>
												<span style="font-size: 12px;" th:text="'版主：'+${section.master.nickName }">版主：Shubing</span>
											</div>
										</li>
									</ul>
								</td>
							</tr>
							<tr height="25">
								<td>
									<span style="color:orange;">论坛介绍：分享那感动过我们的文章</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			<!--</c:forEach>-->
			</tbody>
		</table>
	</div>
</div>


<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
</body>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="js/myjson.js" th:src="@{/js/pc/js/myjson.js}" ></script>
</html>
