<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="baidu-site-verification" content="3uYjxVgfa1" />
    <title>亲密度调查 - 阿丙的私人订制</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/image/favicon.ico}" />
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
    <link rel="stylesheet" href="forum/css/style.css" th:href="@{/css/pc/forum/css/style.css}" />
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/taiji.css" th:href="@{/css/pc/css/taiji.css}"/>
<!--     <link rel="stylesheet" href="onlinetools/css/mytools.css" th:href="@{/css/pc/onlinetools/css/mytools.css}"/>
 -->    <link rel="stylesheet" href="onlinetools/css/bootstrap.shubing.css" th:href="@{/css/pc/onlinetools/css/bootstrap.shubing.css}"/>
</head>
<body>
<div style="min-height:834px">
    <div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;">
    </div>
   	 <p style="clear:both"></p>

<div class="fullSlide">

   <div class="bd">
       <ul>
           <li style="background:url(images/sky-bg.jpg)  center 0 no-repeat;" th:attr="style='background:url('+@{/image/pc/images/sky-bg.jpg}+')  center 0 no-repeat;'"></li>
           <li style="background:url(images/sky-bg2.jpg)  center 0 no-repeat;" th:attr="style='background:url('+@{/image/pc/images/sky-bg2.jpg}+')  center 0 no-repeat;'"></li>
        </ul>
    </div>

    <div class="hd">
        <ul></ul>
    </div>
</div>


<p style="clear:both"></p>

<p style="height:20px"></p>
<div style="text-align:center;" >
	<span class="shubingspan1">四个板块</span>
	<hr class="shubinghr"/>
	<span class="shubingspan2">论坛系统的后台功能最为完善，也是网站的主要交互功能；在线工具则是为了解决实际遇到的问题而设计</span>
</div>
<div class="hx">
    <p style="clear:both; height:50px"></p>

    <div class="hximg">
        <ul>
            <li class="pone">
                <p class="ystitle">论坛系统</p>
                <p class="poneimg"></p>
                <p class=" ysmf">分享点滴爱好与兴趣</p>
                <p class=" yssz">吾之所知<br/>犹如冰山一角</p>
            </li>
            <li class="ptwo">
                <p class="ystitle">在线工具</p>
                <p class="pthreeimg"></p>
                <p class="ysmf">我的小小创意</p>
                <p class="yssz">吾之所想<br/>技术改善生活</p>
            </li>
            <li class="pthree">
                <p class="pthree ystitle">历史项目</p>
                <p class="ptwoimg"></p>
                <p class="ysmf">程序路上是bug</p>
                <p class="yssz">吾之所学<br/>今生永不停息</p>
            </li>
			
			<li class="pfour">
                <p class="pfour ystitle">作者亲密度调查</p>
                <p class="pfourimg"></p>
                <p class="ysmf">厚脸皮是怎样炼成的</p>
				<p class="yssz">大哥大姐<br/>烦请多多支持啊</p>
           </li>
        </ul>
    </div>
</div>
<img src="images/topone.png" width="100%" th:src="@{/image/pc/images/topone.png}"/>

<div class="listone listhx">
    <div style="width: 960px; margin: 0 auto;">
		<img src="images/zuozhejiyu.png" width="100%" th:src="@{/image/pc/images/zhanzhangjiyu.png}"/>
    </div>
</div>
<img src="images/bottonone.png" width="100%" th:src="@{/image/pc/images/bottonone.png}"/>

<div class="kf">
	<div style="text-align:center;margin-bottom:50px;">
		<span class="shubingspan1">我的信息</span>
		<hr class="shubinghr"/>
		<span class="shubingspan2">大学有一点很好，它给予我的荣耀放到了网上，毕业以后也可以看到，在此展示下自己的才华哈</span>
	</div>
	<div class="shubingxinxi">
    <p><span style="color:orange">我的博客园</span>：<a href="http://www.cnblogs.com/acm-bingzi" target="_blank">http://www.cnblogs.com/acm-bingzi</a>(凌乱的心)</p>
    <p><span style="color:orange">我的微博</span>：<a href="http://weibo.com/jiashubing" target="_blank">http://weibo.com/jiashubing </a>(贾树丙)</p>
    <p><span style="color:orange">我的ACM</span>：<a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=2272&amp;archive=0" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=2272&amp;archive=0</a></p>
    <p style="text-indent:4em;"><a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=2186" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=2186</a></p>
    <p style="text-indent:4em;"><a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=2588" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=2588</a></p>
    <p style="text-indent:4em;"><a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3274" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3274</a></p>
    <p style="text-indent:4em;"><a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3020" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3020</a></p>
    <p style="text-indent:4em;"><a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbnewsid=2478&amp;wbtreeid=1074" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbnewsid=2478&amp;wbtreeid=1074</a></p>
    <p style="text-indent:4em;"><a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3285" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3285</a></p>
    <p style="text-indent:4em;"><a href="http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3325" target="_blank">http://info.zufe.edu.cn/xx_nry.jsp?urltype=news.NewsContentUrl&amp;wbtreeid=1074&amp;wbnewsid=3325</a></p>
    <p><br/><span style="color:orange">我的简历</span>：<a th:href="@{/resume}" target="_blank">http://www.jiashubing.cn/resume</a></p>
    </div>
</div>

<img src="images/topone.png" width="100%" th:src="@{/image/pc/images/topone.png}"/>
<div class="listone">
<div style="text-align:center;">
		<span class="shubingspan1">修行</span>
		<hr class="shubinghr"/>
		<span class="shubingspan2">学拳六七年，功夫到中成。招熟求懂劲，融汇能贯通</span>
	</div>
	<div class="square">
		<div class="rect rect_one">
			<div class="inner_circle rect_one_one">
				<div class="dot rect_one_two"></div>
			</div>
		</div>
		<div class="rect rect_two">
			<div class="inner_circle rect_two_one">
				<div class="dot rect_two_two"></div>
			</div>
		</div>
	</div>
</div>
 	 	<div id="ad1" style="z-index: 5; position: absolute; left: 978.182px; top: 1039.49px;">
    <!--漂浮开始-->
    <!--这个链接可以恶搞下-->
    <a href="#"><img src="images/aixin.png" th:src="@{/image/pc/images/aixin.png}"/></a>
    <!--漂浮结束-->
</div>

<div style="width: 126px; height: 189px; position: fixed; top:250px; right: 20px; display: block; z-index: 100;">
    <div style="display: block; width: 126px;"><img src="images/erweima.png" th:src="@{/image/pc/images/erweima.png}" style="width: 126px;"/></div>
    <div style="background-color: #f1f1f1; text-align: center; font-size: 16px; color: #666; height: 30px; line-height: 30px; display: block;">
    	 <!--这个链接可以恶搞下-->
        <a href="#" th:href="@{/happy/hahaha}" style="color: #333; font-size: 14px;" target="_blank">见证友谊的时刻到了</a></div>
    <img src="images/guli.png" th:src="@{/image/pc/images/guli.png}" style="width:126px; height:65px;"/></div>
</div>
<p style="clear:both"></p>
<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
<script type="text/javascript" src="js/cookie_util.js" th:src="@{/js/pc/js/cookie_util.js}" ></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="js/myjson.js" th:src="@{/js/pc/js/myjson.js}" ></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" th:src="@{/js/pc/js/jquery.SuperSlide.2.1.1.js}" ></script>
<script>
	/*<![CDATA[*/
	function addEvent(obj, evtType, func, cap) {
	    cap = cap || false;
	    if (obj.addEventListener) {
	        obj.addEventListener(evtType, func, cap);
	        return true;
	    } else if (obj.attachEvent) {
	        if (cap) {
	            obj.setCapture();
	            return true;
	        } else {
	            return obj.attachEvent("on" + evtType, func);
	        }
	    } else {
	        return false;
	    }
	}
	function getPageScroll() {
	    var xScroll, yScroll;
	    if (self.pageXOffset) {
	        xScroll = self.pageXOffset;
	    } else if (document.documentElement && document.documentElement.scrollLeft) {
	        xScroll = document.documentElement.scrollLeft;
	    } else if (document.body) {
	        xScroll = document.body.scrollLeft;
	    }
	    if (self.pageYOffset) {
	        yScroll = self.pageYOffset;
	    } else if (document.documentElement && document.documentElement.scrollTop) {
	        yScroll = document.documentElement.scrollTop;
	    } else if (document.body) {
	        yScroll = document.body.scrollTop;
	    }
	    arrayPageScroll = new Array(xScroll, yScroll);
	    return arrayPageScroll;
	}
	function GetPageSize() {
	    var xScroll, yScroll;
	    if (window.innerHeight && window.scrollMaxY) {
	        xScroll = document.body.scrollWidth;
	        yScroll = window.innerHeight + window.scrollMaxY;
	    } else if (document.body.scrollHeight > document.body.offsetHeight) {
	        xScroll = document.body.scrollWidth;
	        yScroll = document.body.scrollHeight;
	    } else {
	        xScroll = document.body.offsetWidth;
	        yScroll = document.body.offsetHeight;
	    }
	    var windowWidth, windowHeight;
	    if (self.innerHeight) {
	        windowWidth = self.innerWidth;
	        windowHeight = self.innerHeight;
	    } else if (document.documentElement && document.documentElement.clientHeight) {
	        windowWidth = document.documentElement.clientWidth;
	        windowHeight = document.documentElement.clientHeight;
	    } else if (document.body) {
	        windowWidth = document.body.clientWidth;
	        windowHeight = document.body.clientHeight;
	    }
	    if (yScroll < windowHeight) {
	        pageHeight = windowHeight;
	    } else {
	        pageHeight = yScroll;
	    }
	    if (xScroll < windowWidth) {
	        pageWidth = windowWidth;
	    } else {
	        pageWidth = xScroll;
	    }
	    arrayPageSize = new Array(pageWidth, pageHeight, windowWidth, windowHeight)
	    return arrayPageSize;
	}
	
	var AdMoveConfig = new Object();
	AdMoveConfig.IsInitialized = false;
	AdMoveConfig.ScrollX = 0;
	AdMoveConfig.ScrollY = 0;
	AdMoveConfig.MoveWidth = 0;
	AdMoveConfig.MoveHeight = 0;
	AdMoveConfig.Resize = function () {
	    var winsize = GetPageSize();
	    AdMoveConfig.MoveWidth = winsize[2];
	    AdMoveConfig.MoveHeight = winsize[3];
	    AdMoveConfig.Scroll();
	}
	AdMoveConfig.Scroll = function () {
	    var winscroll = getPageScroll();
	    AdMoveConfig.ScrollX = winscroll[0];
	    AdMoveConfig.ScrollY = winscroll[1];
	}
	addEvent(window, "resize", AdMoveConfig.Resize);
	addEvent(window, "scroll", AdMoveConfig.Scroll);
	function AdMove(id) {
	    if (!AdMoveConfig.IsInitialized) {
	        AdMoveConfig.Resize();
	        AdMoveConfig.IsInitialized = true;
	    }
	    var obj = document.getElementById(id);
	    obj.style.position = "absolute";
	    var W = AdMoveConfig.MoveWidth - obj.offsetWidth;
	    var H = AdMoveConfig.MoveHeight - obj.offsetHeight;
	    var x = W * Math.random(), y = H * Math.random();
	    var rad = (Math.random() + 1) * Math.PI / 6;
	    var kx = Math.sin(rad), ky = Math.cos(rad);
	    var dirx = (Math.random() < 0.5 ? 1 : -1), diry = (Math.random() < 0.5 ? 1 : -1);
	    var step = 1;
	    var interval;
	    this.SetLocation = function (vx, vy) {
	        x = vx;
	        y = vy;
	    }
	    this.SetDirection = function (vx, vy) {
	        dirx = vx;
	        diry = vy;
	    }
	    obj.CustomMethod = function () {
	        obj.style.left = (x + AdMoveConfig.ScrollX) + "px";
	        obj.style.top = (y + AdMoveConfig.ScrollY) + "px";
	        rad = (Math.random() + 1) * Math.PI / 6;
	        W = AdMoveConfig.MoveWidth - obj.offsetWidth;
	        H = AdMoveConfig.MoveHeight - obj.offsetHeight;
	        x = x + step * kx * dirx;
	        if (x < 0) {
	            dirx = 1;
	            x = 0;
	            kx = Math.sin(rad);
	            ky = Math.cos(rad);
	        }
	        if (x > W) {
	            dirx = -1;
	            x = W;
	            kx = Math.sin(rad);
	            ky = Math.cos(rad);
	        }
	        y = y + step * ky * diry;
	        if (y < 0) {
	            diry = 1;
	            y = 0;
	            kx = Math.sin(rad);
	            ky = Math.cos(rad);
	        }
	        if (y > H) {
	            diry = -1;
	            y = H;
	            kx = Math.sin(rad);
	            ky = Math.cos(rad);
	        }
	    }
	    this.Run = function () {
	        var delay = 10;
	        interval = setInterval(obj.CustomMethod, delay);
	        obj.onmouseover = function () {
	            clearInterval(interval);
	        }
	        obj.onmouseout = function () {
	            interval = setInterval(obj.CustomMethod, delay);
	        }
	    }
	}
	/*]]>*/
	</script>
<script type="text/javascript">
	jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
    //漂浮开始
    var ad1 = new AdMove("ad1");
    ad1.Run();
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
 	var loginFlag = /*[[${loginFlag}]]*/true;
    /*]]>*/
    if(loginFlag==1){
	   $("#asaimsg").show();
       $("#asaimsgbg").show();
    }
</script>
</body>
</html>
