<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="baidu-site-verification" content="3uYjxVgfa1" />
    <title>阿丙的私人订制</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/image/favicon.ico}" />
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
    <link rel="stylesheet" type="text/css" href="css/myhome.css" th:href="@{/css/pc/css/myhome.css}"/>
    <link rel="stylesheet" type="text/css" href="css/bing-news.css" th:href="@{/css/pc/css/bing-news.css}"/>
    <link rel="stylesheet" type="text/css" href="css/bing-weather.css" th:href="@{/css/pc/css/bing-weather.css}"/>
</head>
<body>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
    <ul class="navi">
        <li class="active"><a href="index.html" >首页</a></li>
        <li><a href="javascript:void(0)" >论坛系统</a></li>
        <li><a href="yun-baomin.html" >自然之声</a></li>
        <li><a href="javascript:void(0)" >历史项目</a></li>
        <li><a href="yun-jxspnewone.html" >网页小游戏</a></li>
        <li>
            <a href="javascript:void(0)" >我的视频</a>
        </li>
        <li><a href="#">在线工具</a></li>
		<li><a href="#">作者亲密度调查</a></li>
        <li id="loginLi" style="padding:0px 0px 0px 20px;"
            th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
            <a href="javascript:void(0)" id="showLoginForm">控制台</a>
        </li>
    </ul>
</div>
<div style="background: rgba(0,0,0,.04);">
		<p style="clear:both"></p>
		<div style="width:1000px; margin:auto;">
			<div style="float:left; width:322px; font-size:15px; line-height:20px;" >
			<p style="color:orange; font-size:18px; line-height:36px;"><strong>北京市</strong>天气预报</p>
			<p style="text-align:center;color:red;" th:if="${weatherVo.weatherFlag}">Sorry，该城市获取天气信息失败啦！ </p>
			<p>最后更新时间：<span style="color:green" th:text="${weatherVo.lastUpdateDate}"></span></p>
			<div style="width:100%; margin:auto; text-align:center;"><img th:src="@{'/image/pc/images/weather/a_'+${weatherVo.todayIconOne}}" /></div>
			<p>实时气温：<span style="color:blue" th:text="${weatherVo.realTemperature}"></span></p>
			<p>风向/风力：<span style="color:blue" th:text="${weatherVo.realWind}"></span></p>
			<p>湿度：<span style="color:blue" th:text="${weatherVo.realShidu}"></span></p>
			<p>紫外线强度：<span style="color:blue" th:text="${weatherVo.realZiwaixian}"></span></p>
			<p>空气质量：<span style="color:blue" th:text="${weatherVo.realAir}"></span></p>
			</div>
	   	 	<div class="shubing-weather" style="float:right; width:678px;">
				<ul class="shubing-weather-clearfix"> 
				    <li> <img class="shubing-weather-img" src="images/weather/001.jpg" th:src="@{/image/pc/images/weather/001.jpg}" /> <span th:text="${weatherVo.ziwaixian1}">中等</span> <em>紫外线指数</em> <p th:text="${weatherVo.ziwaixian2}">涂擦SPF大于15、PA+防晒护肤品。</p> </li> 
				    <li> <img class="shubing-weather-img" src="images/weather/002.jpg" th:src="@{/image/pc/images/weather/002.jpg}" /> <span th:text="${weatherVo.ganmao1}">较易发</span> <em>感冒指数</em> <p th:text="${weatherVo.ganmao2}">风较大，较易发生感冒，注意防护。</p> </li> 
				    <li> <a th:href="@{/subscribe(showId=2)}"><img class="shubing-weather-img" src="images/weather/003.jpg" th:src="@{/image/pc/images/weather/003.jpg}" /> 
					    <div class="pageflip" id="chuanyi"> 
					        <img src="images/page_flip.png" th:src="@{/image/pc/images/page_flip.png}" style="overflow: hidden; width: 30px; height: 30px; top: -1px; right: -3px;" /> 
					        <div class="msg_block" style="overflow: hidden; width: 25px; height: 25px;"> </div> 
					    </div>
					    <span th:text="${weatherVo.chuanyi1}">热</span> <em>穿衣指数</em> <p th:text="${weatherVo.chuanyi2}">适合穿T恤、短薄外套等夏季服装。</p></a> 
					</li> 
				    <li style="margin-top:3px;"> <img class="shubing-weather-img" src="images/weather/004.jpg" th:src="@{/image/pc/images/weather/004.jpg}" /> <span th:text="${weatherVo.xiche1}">较不宜</span> <em>洗车指数</em> <p th:text="${weatherVo.xiche2}">风力较大，洗车后会蒙上灰尘。</p> </li> 
				    <li style="margin-top:3px;"> <img class="shubing-weather-img" src="images/weather/005.jpg" th:src="@{/image/pc/images/weather/005.jpg}" /> <span th:text="${weatherVo.yundong1}">较适宜</span> <em>运动指数</em> <p th:text="${weatherVo.yundong2}">风力稍强，推荐您进行室内运动。</p> </li> 
				    <li style="margin-top:3px;"> <img class="shubing-weather-img" src="images/weather/006.jpg" th:src="@{/image/pc/images/weather/006.jpg}" /> <span th:text="${weatherVo.wuran1}">良</span> <em>空气污染扩散指数</em> <p th:text="${weatherVo.wuran2}">气象条件有利于空气污染物扩散。</p> </li> 
			    </ul> 
			</div> 
		</div>
		<div style="width:1000px; margin:auto;">
			<div id="shubing-news-scroll">   
				<ul id="shubing-news-list">   
					<li th:each="topic:${goodTopicList}">
					&nbsp;&nbsp;【<a href="#" th:href="@{/forum/topicList(sectionId=${topic.section.id})}" target="_blank"><span th:text="${topic.section.name}"></span></a>】
					<a href="#" th:href="@{/forum/details(id=${topic.id})}" target="_blank"><span th:text="${topic.title}"></span></a>
					<span class="news-span-right" th:text="${#calendars.format(topic.publishTime,'yyyy-MM-dd')}">2016-11-11</span></li>   
				</ul>   
	        </div>   
	        <div class="div_model" style="width:333px; background-color:#C6E2FF;"><p class="p_model">在线人数(Session)统计</p>
	       		<p th:unless="${application==null}" th:text="${application.lineCount}" class="p_session">42</p>
	       		<p th:if="${application==null}" class="p_session">0</p>
	        </div>
			<div class="div_model" style="width:334px; background-color:#90EE90;">
				<p class="p_model">邮箱：<span style="color:#5a5a5a">jiashubing@foxmail.com</span></p>
				<p class="p_model">微博：<span style="color:#5a5a5a">贾树丙</span></p>
				<p class="p_model">微信：<span style="color:#5a5a5a">Jia_Shubing</span></p>
			</div>
			<div class="div_model" style="width:333px; background-color:#CAFF70;"><p class="p_model">我的博客园</p>
				<p class="p_model"><a href="http://www.cnblogs.com/acm-bingzi">http://www.cnblogs.com/acm-bingzi</a></p>
			</div>
		</div>
		
		<div style="width:1000px; margin:auto;" >
	 		<div class="homeleft"><img src="images/home/1.jpg" width="100%" th:src="@{/image/pc/images/home/1.jpg}"/></div>
	    	<div class="homeright">
		    	<p style="height:100px;"></p>
		    	<p class="homep1" style="padding-left:20px;">欢迎来到我的网站</p>
				<p class="homep2" style="color:green; padding-left:20px;">个人网站建立以来，最大的价值就是带给我自娱自乐的满足感。看到自己的代码变成生动的网页，对每一个程序员来说都是一件幸福的事情吧！感谢浏览网站的各位，希望能在这里看到些有用的东西。</p></div>
	 		<div class="homeleft">
	 			<p style="height:100px;"></p>
		    	<p class="homep1" style="padding-right:20px;">概览</p>
				<p class="homep2" style="color:orange; padding-right:20px;">网站内容很杂，有【杂文阅读】、【在线工具】、【我的订阅】等诸多模块。不同于个人博客，有时候想起什么来放什么。网站区分PC端和移动端，移动端内容相对少，但是排版整齐、统一。这自然是为了提升逼格，至少看起来很厉害的样子。</p>
	 		</div>
	    	<div class="homeright"><img src="images/home/2.jpg" width="100%" th:src="@{/image/pc/images/home/2.jpg}"/></div>
	 		<div class="homeleft"><img src="images/home/3.jpg" width="100%" th:src="@{/image/pc/images/home/3.jpg}"/></div>
	    	<div class="homeright">
	    		<p style="height:100px;"></p>
		    	<p class="homep1" style="padding-left:20px;">杂文阅读</p>
				<p class="homep2" style="color:#FF6A6A; padding-left:20px;">网站最主要的功能是“论坛系统”，用户注册登录和权限部分等功能都是为此服务的。论坛可以发表、评论帖子，我会不定时分享一些觉得有意义的文章。不过几乎没什么人看，更没有人发表和评论了，所以后来更名为“杂文阅读”。</p>
	    	</div>
	    	
	 		<div class="homeleft">
	    		<p style="height:80px;"></p>
		    	<p class="homep1" style="padding-right:20px;">在线游戏&amp;在线工具</p>
				<p class="homep2" style="color:#9B30FF ; padding-right:20px;">目前移动端拥有简单数独、Flappy Bird两个游戏，电脑端有简单数独、大转盘、推箱子三个游戏。闲时无聊，可以用来打发时间。</p>
				<p class="homep2" style="color:#9B30FF ; padding-right:20px;">在线工具有“每行文本的首尾增加相同字符工具”、“自定义加密工具”、“每个段落后增加空行工具”、“删除行首到指定字符工具”、“删除空白行”五个工具。</p>
	 		</div>
	    	<div class="homeright"><img src="images/home/4.jpg" width="100%" th:src="@{/image/pc/images/home/4.jpg}"/></div>
	 		<div class="homeleft"><img src="images/home/6.jpg" width="100%" th:src="@{/image/pc/images/home/6.jpg}"/></div>
	    	<div class="homeright">
	 			<p style="height:120px;"></p>
		    	<p class="homep1" style="padding-left:20px;">我的订阅&amp;成长之路</p>
				<p class="homep2" style="color:#FF4040; padding-left:20px;">【我的订阅】暂时只有将我的博客园订阅添加进来，可以查看最新的十条博客。</p>
				<p class="homep2" style="color:#FF4040; padding-left:20px;">【成长之路】记录我曾做过的一些项目，留下历史的足迹。</p>
	    	</div>
	 		<div class="homeleft">
	 			<p style="height:100px;"></p>
	 			<p class="homep1" style="padding-right:20px;">个性化&amp;我的视频</p>
		    	<p class="homep2" style="color:#CD950C; padding-right:20px;">【个性化】罗列一些大学里的成绩，一张简历，还有一幅关键的“支付宝打赏”图片。未来这里会胡乱搞些难加载的东西！</p>
				<p class="homep2" style="color:#CD950C; padding-right:20px;">【我的视频】里将要放一些自己视频，可能是游戏录制 ，也可能是自恋的旅行视频。录这些是我的一个梦想，只是一直未曾实现。</p>
	 		</div>
	    	<div class="homeright"><img src="images/home/5.jpg" width="100%" th:src="@{/image/pc/images/home/5.jpg}"/></div>
 		</div>
 		<p style="clear:both"></p>
</div>

<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
<script type="text/javascript" src="js/pagefilp.js" th:src="@{/js/pc/js/pagefilp.js}" ></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="js/myjson.js" th:src="@{/js/pc/js/myjson.js}" ></script>
<script type="text/javascript" src="js/bing-news.js" th:src="@{/js/pc/js/bing-news.js}" ></script>

<script th:inline="javascript">
    /*<![CDATA[*/
 	var loginFlag = /*[[${loginFlag}]]*/true;
    /*]]>*/
    if(loginFlag==1){
	   $("#asaimsg").show();
       $("#asaimsgbg").show();
    }
</script>
</body>

</html>
