<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>阿丙的私人订制</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>
	<link rel="stylesheet" type="text/css" href="disc/disc-style.css" th:href="@{/css/pc/disc/disc-style.css}"/>
</head>
<body><img src="images/logo.png" class="logoimgi" th:src="@{/image/pc/images/logo.png}"/>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
    <ul class="navi">
        <li class="active"><a href="index.html" >首页</a></li>
        <li><a href="javascript:void(0)" >论坛系统</a></li>
        <li><a href="yun-baomin.html" >自然之声</a></li>
        <li><a href="javascript:void(0)" >历史项目</a></li>
        <li><a href="yun-jxspnewone.html" >网页小游戏</a></li>
        <li>
            <a href="javascript:void(0)" >我的视频</a>
        </li>
        <li><a href="#">在线工具</a></li>
		<li><a href="#">作者亲密度调查</a></li>
        <li id="loginLi" style="padding:0px 0px 0px 20px;"
            th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
            <a href="javascript:void(0)" id="showLoginForm">控制台</a>
        </li>
    </ul>
</div>

<p style="clear:both"></p>

<div class="fullSlide">

    <div class="bd">
        <ul>
            <li style="background:url(images/sky-bg.jpg)  center 0 no-repeat;" th:attr="style='background:url('+@{/image/pc/images/sky-bg.jpg}+')  center 0 no-repeat;'"></li>
            <li style="background:url(images/sky-bg2.jpg)  center 0 no-repeat;" th:attr="style='background:url('+@{/image/pc/images/sky-bg2.jpg}+')  center 0 no-repeat;'"></li>
            <li style="background:url(images/ice-bg.jpg)  center 0 no-repeat;" th:attr="style='background:url('+@{/image/pc/images/ice-bg.jpg}+')  center 0 no-repeat;'"></li>
        </ul>
    </div>

    <div class="hd">
        <ul></ul>
    </div>
</div>


<p style="clear:both"></p>

<p style="height:20px"></p>
<img src="images/wzwz.png" th:src="@{/image/pc/images/wzwz.png}" width="100%"/>

<div class="hx">
    <p style="clear:both; height:50px"></p>

    <div class="hximg">
        <ul>
            <li class="pone">
                <p class="ystitle">论坛系统</p>
                <p class="poneimg"></p>
                <p class=" ysmf">分享点滴爱好与兴趣</p>
                <p class=" yssz">吾之所知<br/>犹如冰山一角</p>
            </li>
            <li class="ptwo">
                <p class="ystitle">自然之声</p>
                <p class="pthreeimg"></p>
                <p class="ysmf">最纯洁的声音与美景</p>
                <p class="yssz">吾之所感<br/>寂静相伴入眠</p>
            </li>
            <li class="pthree">
                <p class="pthree ystitle">历史项目</p>
                <p class="ptwoimg"></p>
                <p class="ysmf">程序路上是bug</p>
                <p class="yssz">吾之所学<br/>今生永不停息</p>
            </li>
			
			<li class="pfour">
                <p class="pfour ystitle">作者亲密度调查</p>
                <p class="pfourimg"></p>
                <p class="ysmf">厚脸皮是怎样炼成的</p>
				<p class="yssz">大哥大姐<br/>烦请多多支持啊</p>
           </li>
        </ul>
    </div>
</div>
<img src="images/topone.png" width="100%" th:src="@{/image/pc/images/topone.png}"/>

<div class="listone listhx">
    <div style="width: 960px; margin: 0 auto;">
		<img src="images/zuozhejiyu.png" width="100%" th:src="@{/image/pc/images/zuozhejiyu.png}"/>
    </div>
</div>
<img src="images/bottonone.png" width="100%" th:src="@{/image/pc/images/bottonone.png}"/>

<div class="kf"><img src="images/wzwz-1.png" width="100%" th:src="@{/image/pc/images/wzwz-1.png}"/>

    <p style="clear:both; height:30px"></p>
    
    <div class="kfimg">
		<div id="disc-main">
			<div id="outer-cont">
				<div id="outer">
					<img src="disc/disc-1.png" th:src="@{/image/pc/disc/disc-1.png}"/>
				</div>
			</div>
			<div id="inner-cont">
				<div id="inner"><img src="disc/disc-2.png" th:src="@{/image/pc/disc/disc-2.png}"/></div>
			</div>
		</div>
    </div>
</div>

<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
</body>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js" th:src="@{/js/pc/js/jquery.SuperSlide.2.1.1.js}" ></script>
<script type="text/javascript" src="js/myjson.js" th:src="@{/js/pc/js/myjson.js}" ></script>
<script type="text/javascript" src="disc/myjson.js" th:src="@{/js/pc/disc/myjson.js}" ></script>
<script type="text/javascript" src="disc/jQueryRotate.2.2.js" th:src="@{/js/pc/disc/jQueryRotate.2.2.js}" ></script>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
 	var loginFlag = /*[[${loginFlag}]]*/true;
    /*]]>*/
    if(loginFlag==1){
	   $("#asaimsg").show();
       $("#asaimsgbg").show();
    }
</script>

</html>
