<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!--登录弹窗-->
<div th:fragment="loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none" th:style="${errInfo}==null?'display: none':'display: block'">
    <P th:align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)" onClick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <span style="color:#111; font-size:20px;">×</span></a></P>
    <div class="sign-in">
        <div class="user-form">
            <form id="login_form" accept-charset="UTF-8" action="yun-geren.html" th:action="@{/security_check}"
                  class="sign-in__form user-form__form" method="post">

                <div class="user-form__fieldset">
                    <label class="user-form__label" for="username" style="color:#111">用户名：</label>
                    <input th:autocapitalize="off" th:autocorrect="off" class="sign-in__field user-form__field"
                           id="username" name="username" placeholder="请输入您的昵称" maxlength="20" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="password" style="color:#111">密码：</label>
                    <input class="sign-in__field user-form__field" id="password" name="password"

                           placeholder="请输入您的密码" type="password"/>

                </div>
                <div class="user-form__href" th:align="right"><a th:href="@{/regist}">注册</a></div>
                <button id="btn_login" class="sign-in__button user-form__button" name="btn_login" type="submit">
                    登录
                </button>
            </form>
            <span style="color:red" id="loginFailedInfo" th:text="${errInfo}"></span>
        </div>
    </div>
</div>
<!--登录弹窗end-->

<!--头部header-->
<div style="background-color:#fff;" th:fragment="headerDiv">
    <div class="headeri">
        <ul class="navi">
			<li th:class="${flag=='index.html'}?'active'" class="active"><a href="index.html" th:href="@{/index}">首页</a></li>
			<li th:class="${flag=='forum.html'}?'active'" ><a href="javascript:void(0)" th:href="@{/forum}">论坛系统</a></li>
			<li><a href="" th:href="@{/index}">自然之声</a></li>
			<li th:class="${flag=='history.html'}?'active'" ><a href="javascript:void(0)" th:href="@{/history}">历史项目</a></li>
			<li><a href="" th:href="@{/index}">在线游戏</a></li>
			<li>
				<a href="javascript:void(0)" th:href="@{/}">我的视频</a>
			</li>
			<li th:class="${flag=='tools.html'}?'active'"><a href="#" th:href="@{/tools}">在线工具</a></li>
			<li><a href="#" th:href="@{/index}">亲密度</a></li>
			<li th:style="${dbUser==null}?'':'display:none'" th:class="${flag=='regist.html'}?'active'"><a href="#" th:href="@{/regist}">注册</a></li>
			<li id="loginLi" style="padding:0px 0px 0px 20px;" th:style="${dbUser==null}?'padding:0px 0px 0px 20px;':'display:none'">
				<a href="javascript:void(0)" id="showLoginForm">控制台</a>
			</li>
			<li id="userLi" style="padding:0px;display:block;"
				th:style="${dbUser==null}?'display:none;':'padding:0px 0px 0px 20px;'">
				
				<a th:if="${dbUser!=null &amp;&amp; dbUser.user!=null}" id="memberLi" href="#">
					<img class="lodingimg" th:if="${dbUser.user.face!=null  &amp;&amp; dbUser.user.face!=''}" src="images/toux.png" th:src="@{'/image/pc/forum/'+${dbUser.user.face}}" width="100%"/>
					<span th:if="${dbUser.user.face==null || dbUser.user.face==''}">
						<img class="lodingimg" th:if="${dbUser.user.sex==null || dbUser.user.sex=='未知' || dbUser.user.sex==''}" th:src="@{/image/pc/forum/images/user/toux.png}" width="100%"/>
						<img class="lodingimg" th:if="${dbUser.user.sex!=null &amp;&amp; dbUser.user.sex=='男'}" th:src="@{/image/pc/forum/images/user/male.png}" width="100%"/>
						<img class="lodingimg" th:if="${dbUser.user.sex!=null &amp;&amp; dbUser.user.sex=='女'}" th:src="@{/image/pc/forum/images/user/female.png}" width="100%"/>
					</span>
				</a>
				
				<p style="display: none" class="zhizheni"><img src="images/lodingj.png" th:src="@{/image/pc/images/lodingj.png}" width="18px" height="7px"/></p>
	
				<p style="display: none" class="lbpo">
					<a href="#"><span th:if="${dbUser!=null}" th:text="${dbUser.username}"></span></a>
					<a href="#">个人中心</a>
					<a href="#">修改密码</a>
					<a href="#" th:href="@{/logout}">退出</a>
				</p>
			</li>
    	</ul>
    </div>
</div>
<!--头部headerEnd-->

<!--底部footer-->
<div th:fragment="footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>
<!--底部footerEnd-->

</body>
</html>
