<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<!--登录弹窗-->
<div th:fragment="loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none" th:style="${errInfo}==null?'display: none':'display: block'">
    <P th:align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)" onClick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <span style="color:#111; font-size:20px;">×</span></a></P>
    <div class="sign-in">
        <div class="user-form">
            <form id="login_form" accept-charset="UTF-8" action="" th:action="@{/security_check}"
                  class="sign-in__form user-form__form" method="post">

                <div class="user-form__fieldset">
                    <label class="user-form__label" for="username" style="color:#111">用户名：</label>
                    <input th:autocapitalize="off" th:autocorrect="off" class="sign-in__field user-form__field"
                           id="username" name="username" placeholder="请输入您的昵称" maxlength="20" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="password" style="color:#111">密码：</label>
                    <input class="sign-in__field user-form__field" id="password" name="password"

                           placeholder="请输入您的密码" type="password"/>

                </div>
                <div class="user-form__href" th:align="right"><a th:href="@{/regist}">注册</a></div>
                <button id="btn_login" class="sign-in__button user-form__button" name="btn_login" type="button">
                    登录
                </button>
            </form>
            <span style="color:red" id="loginFailedInfo" th:text="${errInfo}"></span>
        </div>
    </div>
    <input type="hidden" id="beforeloginpath"  th:value="${#httpServletRequest.getServletPath()}" />
    <input type="hidden" id="beforeloginpar"  th:value="${#httpServletRequest.getQueryString()}" />
</div>
<!--登录弹窗end-->

<!--头部header-->
<div style="background-color:#fff;" th:fragment="headerDiv">
    <div class="headeri"><img src="images/logo.png" class="logoimgi" th:src="@{/image/pc/images/shubinglogo.png}" style="margin-top:0; width:161px;"/>
        <ul class="navi" th:style="${session.dbUser==null}?'margin-right:0px':'margin-right:64px'">
			<li th:class="${flag=='index.html'}?'active'" class="active"><a href="index.html" th:href="@{/index}">首页</a></li>
			<li th:class="${flag=='forum.html'}?'active'" ><a href="javascript:void(0)" th:href="@{/forum}">论坛系统</a></li>
			<li><a href="" th:href="@{/index}">自然之声</a></li>
			<li th:class="${flag=='history.html'}?'active'" ><a href="javascript:void(0)" th:href="@{/index}">历史项目</a></li>
			<li><a href="" th:href="@{/index}">在线游戏</a></li>
			<li><a href="javascript:void(0)" th:href="@{/}">我的视频</a></li>
			<li th:class="${flag=='tools.html'}?'active'"><a href="#" th:href="@{/tools}">在线工具</a></li>
			<li><a href="#" th:href="@{/index}">亲密度</a></li>
 			<li id="loginLi" th:style="${session.dbUser==null}?'':'display:none'" th:class="${flag=='regist.html'}?'active'">
				<a href="javascript:void(0)" id="showLoginForm">控制台</a>
				<p style="display: none;" class="zhizheni" th:class="${flag!='regist.html'}?'zhizheni'"><img src="images/lodingj.png" th:src="@{/image/pc/images/lodingj.png}" width="18px" height="7px"/></p>
				<p style="display: none;" class="lbpo" th:class="${flag!='regist.html'}?'lbpo'">
					<a href="javascript:void(0)" id="showLoginForm2">登录</a>
					<a th:href="@{/regist}">注册</a>
					<a th:href="@{/feedback}">意见反馈</a>
				</p>
			</li>
			<li id="userLi" style="padding:0px;"
				th:style="${session.dbUser==null}?'display:none;':'padding:0px 0px 0px 20px;'">
				
				<a th:if="${session.dbUser!=null &amp;&amp; session.dbUser.user!=null}" id="memberLi" href="#">
					<img class="lodingimg" th:if="${session.dbUser.user.face!=null  &amp;&amp; session.dbUser.user.face!=''}" src="images/toux.png" th:src="@{'/image/pc/forum/'+${session.dbUser.user.face}}" width="100%"/>
					<span th:if="${session.dbUser.user.face==null || session.dbUser.user.face==''}">
						<img class="lodingimg" th:if="${session.dbUser.user.sex==null || session.dbUser.user.sex=='未知' || session.dbUser.user.sex==''}" th:src="@{/image/pc/forum/images/user/toux.png}" width="100%"/>
						<img class="lodingimg" th:if="${session.dbUser.user.sex!=null &amp;&amp; session.dbUser.user.sex=='男'}" th:src="@{/image/pc/forum/images/user/male.png}" width="100%"/>
						<img class="lodingimg" th:if="${session.dbUser.user.sex!=null &amp;&amp; session.dbUser.user.sex=='女'}" th:src="@{/image/pc/forum/images/user/female.png}" width="100%"/>
					</span>
				</a>
				
				<p style="display: none" class="zhizheni"><img src="images/lodingj.png" th:src="@{/image/pc/images/lodingj.png}" width="18px" height="7px"/></p>
	
				<p style="display: none" class="lbpo">
					<a href="#"><span th:if="${session.dbUser!=null}" th:text="${session.dbUser.username}"></span></a>
					<a href="#" th:href="@{/basicinfo}">个人中心</a>
					<a th:href="@{/feedback}">意见反馈</a>
					<a href="#" th:href="@{/mylogout(beforepath=${#httpServletRequest.getServletPath()},beforepar=${#httpServletRequest.getQueryString()})}">退出</a>
				</p>
			</li>
    	</ul>
    </div>
</div>
<!--头部headerEnd-->

<!--底部footer-->
<div th:fragment="footerDiv" class="footer">
     <p>Copyright&copy;2016-2017. 贾树丙, 冀ICP备16028291号</p>
     <p>联系邮箱：jiashubing@foxmail.com&nbsp;&nbsp;&nbsp;【<a th:href="@{/feedback}"><span style="color:white;">意见反馈</span></a>】</p>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18e0f33db7609c8e4d02a81149c37a31";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
     
</div>
<!--底部footerEnd-->

</body>
</html>
