<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="baidu-site-verification" content="3uYjxVgfa1" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />	
    <title>我的简历 - 阿丙的私人订制</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" th:href="@{/css/pc/resume/css/style.css}" media="all"/>
</head>
<body class="loading-process">
<div class="loading">
	<div class="loading-circle"></div>
	<div class="loading-avatar"><img src="images/avatar@2x.jpg" th:src="@{/image/pc/resume/images/avatar@2x.jpg}" alt="" width="100" height="100" /></div>
	<div class="loading-info">正在努力加载中...</div>
</div>
<div class="section-header">
	<div class="section">
		<nav class="nav" role="navigation">
			<ul>
				<li class="nav-about fade fade1"><a href="#about">关于</a></li>
				<li class="nav-works fade fade4"><a href="#works">作品</a></li>
				<li class="fade back-home"><a href="#top">首页</a></li>
				<li class="nav-skill fade fade2"><a href="#skill">能力</a></li>
				<li class="nav-contact fade fade3"><a href="#contact">联系</a></li>
			</ul>
		</nav>
	</div>
	<div class="nav-bg"></div>
</div>
<div class="home-bg">
	<img src="images/home-bg.jpg" th:src="@{/image/pc/resume/images/home-bg.jpg}" alt="" width="1000" height="667" />
</div>
<div class="section-wrap section-fristpage" data-slide="1"  >
	<div class="section">
		<div class="section-content">
			<p class="fade fade1">Hi，我是 贾树丙</p>
			<p class="fade fade2">欢迎光临我的社区！</p>
			<p class="fade fade3">想了解更多，往下滚动哦 ^_^</p>
		</div>
		<a class="button2 scroll-tip fade fade4" data-slide="3" title="">向下滚动</a>
	</div>
</div>
<div id="about" data-slide="2" data-stellar-background-ratio="0.3" class="section-wrap section-about">
	<div class="section">
		<div class="about-content clearfix section-content">
			<div class="introli">
			  <span class="left_icon"><img class="bio-text bio-icon-1" src="images/bio-icon-1.png" th:src="@{/image/pc/resume/images/bio-icon-1.png}" data-stellar-ratio="0.7" /></span>
			  <span class="right_content "><img class="bio-text bio-text-1" src="images/bio-text-1.png" th:src="@{/image/pc/resume/images/bio-text-1.png}" data-stellar-ratio="0.7" /></span>
			</div>
			<div class="introli">
			  <span class="left_icon"><img class="bio-text bio-icon-2" src="images/bio-icon-2.png" th:src="@{/image/pc/resume/images/bio-icon-2.png}" data-stellar-ratio="0.7" /></span>
			  <span class="right_content"><img class="bio-text bio-text-2" src="images/bio-text-2.png" th:src="@{/image/pc/resume/images/bio-text-2.png}" data-stellar-ratio="0.7" /></span>
			</div>
			<div class="introli">
			  <span class="left_icon"><img class="bio-text bio-icon-3" src="images/bio-icon-3.png" th:src="@{/image/pc/resume/images/bio-icon-3.png}" data-stellar-ratio="0.7" /></span>
			  <span class="right_content"><img class="bio-text bio-text-3" src="images/bio-text-3.png" th:src="@{/image/pc/resume/images/bio-text-3.png}" data-stellar-ratio="0.7" /></span>
			</div>

		</div>

	</div>
	<a class="button2 dark-button2 scroll-tip" style="background-position:0 -60px;" data-slide="3" title=""></a>
</div>
<div id="works" class="section-wrap section-works" data-slide="3" >
	<div class="section">
		<div class="works-content section-content">
			<h1>历史项目（大学开始）</h1>
			<div class="works-list clearfix">
				<div class="works-item first fade fade1">
					<a href="#" target="_blank">
						<img src="images/works/1.jpg" th:src="@{/image/pc/resume/images/works/1.jpg}" alt="" width="300" height="180" />
						<div class="work-info">
							<h2>宿舍管理系统</h2>
							<p><strong>开发时间</strong>：2013年12月<br/>
							<strong>学习详情</strong>：软件工程期末作品。</p>
						</div>
					</a>
				</div>
				<div class="works-item fade fade2">
					<a href="#/" target="_blank">
						<img src="images/works/91zaojia.jpg" th:src="@{/image/pc/resume/images/works/2.jpg}" alt="" width="300" height="180" />
						<div class="work-info">
							<h2>交互式外包项目管理系统</h2>
							<p><strong>开发时间</strong>：2014年5月<br/>
							<strong>学习详情</strong>：软件外包大赛作品。</p>
						</div>
					</a>
				</div>
				<div class="works-item fade fade3">
					<a href="#/" target="_blank">
						<img src="images/works/wenku.jpg" th:src="@{/image/pc/resume/images/works/3.jpg}" alt="" width="300" height="180" />
						<div class="work-info">
							<h2>信天游App</h2>
							<p><strong>开发时间</strong>：2014年4月<br/>
							<strong>学习详情</strong>：电子商务竞赛作品。</p>
						</div>
					</a>
				</div>
				<div class="works-item first fade fade4">
					<a href="#" target="_blank">
						<img src="images/works/shinedeliver.jpg" th:src="@{/image/pc/resume/images/works/4.jpg}" alt="" width="300" height="180" />
						<div class="work-info">
							<h2>ZJCANU官网</h2>
							<p><strong>开发时间</strong>：2015年1月<br/>
							<strong>工作详情</strong>：中澳诸暨自动化设备有限公司实习。</p>
						</div>
					</a>
				</div>
				<div class="works-item fade fade2">
					<a>
						<img src="images/works/5.jpg" th:src="@{/image/pc/resume/images/works/5.jpg}" alt="" width="300" height="180" />
						<div class="work-info">
							<h2>云商学院官网</h2>
							<p><strong>开发时间</strong>：2015年8月<br/>
							<strong>工作详情</strong>：杭州火图科技有限公司工作。</p>
						</div>
					</a>
				</div>
				<div class="works-item fade fade1">
					<a>
						<img src="images/works/5.jpg" th:src="@{/image/pc/resume/images/works/6.jpg}" alt="" width="300" height="180" />
						<div class="work-info">
							<h2>PICC新非车险理赔系统</h2>
							<p><strong>开发时间</strong>：2015年11月<br/>
							<strong>工作详情</strong>：中科软科技股份有限公司工作。</p>
						</div>
					</a>
				</div>
			</div>
			<a class="more-link" href="page/product" th:href="@{/}" target="_blank">我的网站</a>
		</div>
		<a class="button2 scroll-tip fade fade4" data-slide="4" title="">向下滚动</a>
	</div>
</div>
<div id="skill" class="section-wrap section-skill" data-slide="4">
	<div class="section">
		<div class="skill-content section-content">
			<h1>相关技能</h1>
			<ul>
				<li class="fade fade1">熟练掌握Java语言，扎实的Java编程功底，和良好的编码习惯</li>
				<li class="fade fade3">熟练使用SSH三大框架（Struts2、Spring、Hibernate）、SpringMVC等主流的开发框架</li>
				<li class="fade fade2">掌握Tomcat、Weblogic等应用服务器的搭建与使用</li>
				<li class="fade fade4">熟悉Linux系统，可使用shell命令进行基本操作</li>
				<li class="fade fade4">熟练使用Thymeleaf、Html、js、css、jQuery、ajax等语言</li>
				<li class="fade fade3">熟悉MySql，Oracle，SqlServer数据库的安装配置，并熟练掌握sql、hql、jpql语言</li>
				<li class="fade fade2">熟练使用MyEclipse、IDEA、Dreamweaver等开发工具进行项目开发</li>
				<li class="fade fade1">熟悉C/C++语言（大学入门语言），有较强的程序分析能力</li>
				<li class="fade fade4">服务器使用阿里云ECS，对 Linux 有一定了解。</li>
				<li class="fade fade2">喜欢接触新事物，有一定的自学能力。</li>
			</ul>
		</div>
	</div>
	<a class="button2 scroll-tip fade fade4"  data-slide="5" title="">向下滚动</a>
</div>
<div id="contact" class="section-wrap section-contact" data-slide="5">
	<div class="section">
		<div class="contact-content clearfix section-content">
			<h1>联系本人</h1>
			<div class="left">
				<div class="contact-ways fade fade1">
					<h2>社交网络</h2>
					<ul>
						<li>邮箱：jiashubing@foxmail.com</li>
						<li>微博：贾树丙</li>
						<li>微信：Jia_Shubing</li>
					</ul>
				</div>
				<div class="contact-info fade fade2">
					<p>虽然有社交网络，但是平时上的比较少，很多时候是只看不发！不过你可以关注我哦！</p>
				</div>
			</div>
			<div class="right fade fade3">
				<h2>我的人生观</h2>
				<p>人活着，最重要的是<strong>开心</strong></p>
				<ul>
					<li>人不能总是去做自己想做的事情，这个世界也不会允许。所以更应当在有时间的时候，抓紧去做想做的事</li>
					<li>工作是为了生活，生活不光是为了工作！有自己的时间，不用花很多钱，也可以过得很有趣</li>
					<li>没有解不开的数独，只有瞎蒙的思路。玩好数独，一定要相信之前的判断</li>
				</ul>
				
			</div>
		</div>
	</div>
	<a class="button2 button2-2-top scroll-tip" id="gototops" data-slide="1" href="#top" style="background-position: -60px 0;width:80px;height:80px;" title=""></a>
</div>

<div class="overlay"></div>
<div class="state-indicator"></div>

<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script src="js/global.js" th:src="@{/js/pc/resume/js/global.js}"></script>
<script src="js/waypoints.min.js" th:src="@{/js/pc/resume/js/waypoints.min.js}"></script>
<script src="js/js.js" th:src="@{/js/pc/resume/js/js.js}"></script>
<script src="js/jquery.stellar.min.js" th:src="@{/js/pc/resume/js/jquery.stellar.min.js}"></script>
</body>
</html>

