<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>阿丙的私人订制</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
	<link rel="stylesheet"  href="forum/css/bootstrap.css" th:href="@{/css/pc/forum/css/bootstrap.css}"/>
	<link rel="stylesheet"  href="forum/css/style.css" th:href="@{/css/pc/forum/css/style.css}" />
	<link rel="stylesheet" href="forum/css/shubingcsdn.css" th:href="@{/css/pc/forum/css/shubingbbs.css}" />
	<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
</head>
<body>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
</div>

<p style="clear:both"></p>
<div class="forum" >
	<div id="content" style="width: 1200px; margin: 0 auto;">
		<div id="forum-header-wrapper">
			<div id="forum-header" class="container">
				<div id="forum-logo">
					<h1><a href="#">冰山一角论坛</a></h1>
				</div>
			</div>
		</div>
	</div>

<div style="width: 1200px; margin: 40px auto 0 auto;">
	<div id="shubing-topics-show" class="shubing-bbs">
		<div class="detail_tbox">
			<div class="detail_title">
				<h1>
					<span>【主题】</span> 
					<span th:text="${topic.title }">帖子一</span>
				</h1>
			</div>
		</div>
		<div class="detailed">
			<table border="0" cellspacing="0" cellpadding="0" class="post topic" data-is-topic-locked="false">
				<colgroup>
					<col width="180"></col>
				</colgroup>
				<tbody>
					<tr>
						<td rowspan="2" valign="top" class="wirter">
							<dl class="user_info ">
								<dt class="user_head">
									<span th:unless="${topic==null||topic.user==null}">
										<span th:if="${topic.user.face==null||topic.user.face==''}">
											<img th:if="${topic.user.sex==null || topic.user.sex=='未知' || topic.user.sex==''}" th:src="@{/image/pc/forum/images/user/toux.png}" width="100%"/>
											<img th:if="${topic.user.sex!=null &amp;&amp; topic.user.sex=='男'}" th:src="@{/image/pc/forum/images/user/male.png}" width="100%"/>
											<img th:if="${topic.user.sex!=null &amp;&amp; topic.user.sex=='女'}" th:src="@{/image/pc/forum/images/user/female.png}" width="100%"/>
										</span>
										<span th:unless="${topic.user.face==null||topic.user.face==''}">
											<img alt="" src="${topic.user.face}" th:src="@{'/image/pc/forum/'+${topic.user.face}}" width="100%" />
										</span>
									</span>
								</dt>


								<dd>
									<!-- <span class="name2nick">我还未入门</span> -->
									<span class="name2nick" th:unless="${topic==null||topic.user==null}" th:text="${topic.user.nickName }">赵云</span>
								</dd>
								
								<dd>
									性别：<span th:text="${topic.user.sex }">男</span>
								</dd>
								
								<dd>
									邮箱：<span th:text="${topic.user.email }" style="padding-right:20px;">123@qq.com</span>
								</dd>

								<dd class="showTittleDD"></dd>
							</dl>
						</td>
						<td valign="top" class="post_info topic"
							data-username="imfree2010" data-floor="">
							<div class="data">
								<span> 发表于：
								<span th:text="${#calendars.format(topic.publishTime,'yyyy-MM-dd HH:mm:ss')}">2016-11-11</span></span>
								<strong class="fr"> 楼主 </strong> 
							</div>
							<div class="post_body">
								<div class="tag"></div>
									<div style="width: 982px;padding:6px;" class="show_e">
									<span id="topiccontent">祖国我爱你</span>
									<script th:inline="javascript">
										/*<![CDATA[*/
										$("#topiccontent").html(/*[[${topic.content}]]*/);
	   									 /*]]>*/
									</script>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td valign="bottom">
							<div class="control">
								<div class="fr">
									<a href="" class="quote" rel="nofollow">回复</a>
								</div>
								<span class="return_time">回复次数：<span th:text="${topic.replySum}">6</span></span>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div th:each="reply:${replyList }">
			<table border="0" cellspacing="0" cellpadding="0" class="post" data-is-topic-locked="false">
				<colgroup>
					<col width="180"></col>
				</colgroup>
				<tbody>
					<tr>
						<td rowspan="2" valign="top" class="wirter">
							<dl class="user_info ">
								<dt class="user_head">
									<span th:unless="${reply==null||reply.user==null}">
										<span th:if="${reply.user.face==null||reply.user.face==''}">
											<img th:if="${reply.user.sex==null || reply.user.sex=='未知' || reply.user.sex==''}" th:src="@{/image/pc/forum/images/user/toux.png}" width="100%"/>
											<img th:if="${reply.user.sex!=null &amp;&amp; reply.user.sex=='男'}" th:src="@{/image/pc/forum/images/user/male.png}" width="100%"/>
											<img th:if="${reply.user.sex!=null &amp;&amp; reply.user.sex=='女'}" th:src="@{/image/pc/forum/images/user/female.png}" width="100%"/>
										</span>
										<span th:unless="${reply.user.face==null||reply.user.face==''}">
											<img alt="" src="${reply.user.face}" th:src="@{'/image/pc/forum/'+${reply.user.face}}" width="100%" />
										</span>
									</span>
								</dt>
								
								<dd>
									<span class="name2nick" th:unless="${reply==null||reply.user==null}" th:text="${reply.user.nickName }">赵云</span>
								</dd>
								
								<dd>
									性别：<span th:text="${reply.user.sex }">男</span>
								</dd>
								
								<dd>
									邮箱：<span th:text="${reply.user.email }" style="padding-right:20px;">123@qq.com</span>
								</dd>

								<dd class="showTittleDD"></dd>

							</dl>

						</td>
						<td valign="top" class="post_info " data-username="Saleayas"
							data-floor="1">
							<div class="data">
								<span class="fr"> #<span th:text="${pageNo*10+replyStat.count }">1</span></span> 
								<span> 回复于： <span th:text="${#calendars.format(reply.publishTime,'yyyy-MM-dd HH:mm:ss')}">2016-11-11</span> </span>
								<input class="replyid" th:value="${reply.id }" type="hidden"/>
							</div>
							<div class="post_body">
								<div style="width: 982px;padding:6px;" class="show_e">
									<span class="replycontent">哈哈哈，我也爱</span>
									<script th:inline="javascript">
										/*<![CDATA[*/
										$(".replycontent:last").html(/*[[${reply.content}]]*/);
	   									 /*]]>*/
									</script>
								</div>
							</div>

						</td>
					</tr>
					<tr class="replytr">
						<td valign="bottom">
							<div class="control">
								<div class="fr">
									<a rel="nofollow">回复</a>
									<span th:unless="${session==null || session.dbUser==null || session.dbUser.access==0 &amp;&amp; topic.user!=null &amp;&amp; topic.section.master!=null &amp;&amp; session.dbUser.user.id!=topic.user.id &amp;&amp; session.dbUser.user.id != topic.section.master.id }"> | 
									<a rel="nofollow" onclick="javascript:deleteReply(this)"><span style="color:red">删除</span> </a>
									</span>
								</div>
							</div>
							<input class="replyid" th:value="${reply.id }" type="hidden"/>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<div class="pagination alternate" align="center">
		<span th:if="${totalPages}==0"  th:text="本帖还没有人回复">本帖还没有人回复</span>
		<span th:unless="${totalPages}==0" >
			<ul class="clearfix">
				<li th:class="${pageNo}==0?'disabled':''" ><a th:if="${pageNo}==0">首页</a>
					<a th:unless="${pageNo}==0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=0)}">首页</a></li>
				<li th:class="${pageNo}>0?'':'disabled'"><a th:unless="${pageNo}>0">上一页</a>
					<a href='' th:if="${pageNo}>0" th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-1)}">上一页</a></li>
				<li th:style="${pageNo}-3>0?'':'display: none'"><a th:unless="${pageNo}-3>0"><span th:text="${pageNo}-3"></span></a>
					<a th:if="${pageNo}-3>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-4)}"><span th:text="${pageNo}-3"></span></a></li>
				<li th:style="${pageNo}-2>0?'':'display: none'"><a th:unless="${pageNo}-2>0"><span th:text="${pageNo}-2"></span></a>
					<a th:if="${pageNo}-2>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-3)}"><span th:text="${pageNo}-2"></span></a></li>
				<li th:style="${pageNo}-1>0?'':'display: none'"><a th:unless="${pageNo}-1>0"><span th:text="${pageNo}-1"></span></a>
					<a th:if="${pageNo}-1>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-2)}"><span th:text="${pageNo}-1"></span></a></li>
				<li th:style="${pageNo}>0?'':'display: none'"><a th:unless="${pageNo}>0"><span th:text="${pageNo}"></span></a>
					<a th:if="${pageNo}>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-1)}"><span th:text="${pageNo}"></span></a></li>
				<li th:class="active"><a><span th:text="${pageNo}+1"></span></a></li>
				<li th:style="${totalPages}-1>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-1>${pageNo}"><span th:text="${pageNo}+2"></span></a>
					<a th:if="${totalPages}-1>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+1)}"><span th:text="${pageNo}+2"></span></a></li>
				<li th:style="${totalPages}-2>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-2>${pageNo}"><span th:text="${pageNo}+3"></span></a>
					<a th:if="${totalPages}-2>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+2)}"><span th:text="${pageNo}+3"></span></a></li>
				<li th:style="${totalPages}-3>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-3>${pageNo}"><span th:text="${pageNo}+4"></span></a>
					<a th:if="${totalPages}-3>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+3)}"><span th:text="${pageNo}+4"></span></a></li>
				<li th:style="${totalPages}-4>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-4>${pageNo}"><span th:text="${pageNo}+5"></span></a>
					<a th:if="${totalPages}-4>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+4)}"><span th:text="${pageNo}+5"></span></a></li>
				<li  th:class="${totalPages}-1>${pageNo}?'':'disabled'" ><a th:unless="${totalPages}-1>${pageNo}">下一页</a>
					<a href='' th:if="${totalPages}-1>${pageNo}" th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+1)}">下一页</a></li>
				<li th:class="${totalPages}-1==${pageNo}?'disabled':''" ><a th:if="${totalPages}-1==${pageNo}">末页</a>
					<a th:unless="${totalPages}-1==${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${totalPages}-1)}">末页</a></li>
			</ul>
		</span>
	</div>
	<div class="shubing-huitie">
		<table>
			<tr>
				<td style="width: 20%; line-height:25px;">
					回帖许可：
					<p style="text-indent:2em;">请不要发表含有不适当内容的留言 请不要发表广告贴</p>
				</td>
				<td style="width: 80%;">
					<form id="fm" class="form-horizontal" style="margin-top: 10px;" method="post" th:action="@{/forum/replyAdd}">
					<table style="width: 100%;" cellpadding="10px;">
						 <!--<tr>
							<td>
								【主题】:
							</td>
							<td>
								<input type="text" id="rTopic" name="reply.rTopic" value="${reply.rTopic }" style="width: 800px;">
							</td>
						</tr> -->
						<!-- <tr>
							<td>
								【表情】:
							</td>
							<td>
								<div id="container">
								<a href="JavaScript:void(0)" id="message_face">请选择...</a>
								</div>
							</td>
						</tr> -->
						<tr>
							<td style="vertical-align: top;">
								【内容】:
							</td>
							<td>
								<textarea name="replyContent" id="kindcontent" cols="50" style="height:200px;width: 800px;" ></textarea>
							</td>
						</tr>
						<tr>
							<td>
								<input id="replyTopicId" name="replyTopicId" th:value="${topic.id }" type="hidden"/>
								<input id="pageNo" name="pageNo" th:value="${pageNo}" type="hidden"/>
							</td>
							<td>
								<Button class="shubing-btn shubing-btn-primary " data-dismiss="modal" aria-hidden="true" type="button" onClick="javascript:saveReply()">提交</Button>
								<span id="error"></span>
							</td>
						</tr>
					</table>
					</form>
				</td>
			</tr>
		</table>
	</div>
	</div>
	
	</div>
<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>

<script th:inline="javascript">

   function saveReply(){
	/*<![CDATA[*/
 	var flag= /*[[${session.dbUser==null}]]*/true;
 	var loginhref= /*[[@{/login}]]*/"login/";
    /*]]>*/
    
 	if(flag){
		var con = confirm('回帖需要注册登录！\n您要现在登录吗？');
		if (con) {
			location.href=loginhref;
		}
		return false;
    }
    editor.sync();
    var len = $("#kindcontent").val().length;
    if (10 > len) {
		alert("最少输入10个字符！");
		return false;
	}
	
	if (len > 10000) {
		alert("最多输入10000个字符！");
		return false;
	}
	
	$("#fm").submit();
	alert("回复成功！");
	resetValue();    
}
</script>

<script type="text/javascript" src="js/myjson.js" th:src="@{/js/pc/js/myjson.js}" ></script>
<script type="text/javascript" src="" th:src="@{/js/pc/forum/js/myDetailJson.js}" ></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/kindeditor-min.js" th:src="@{/js/pc/kindeditor-4.1.10/kindeditor-min.js}"></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/lang/zh_CN.js" th:src="@{/js/pc/kindeditor-4.1.10/lang/zh_CN.js}"></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/init.js"  th:src="@{/js/pc/kindeditor-4.1.10/init.js}"></script>
</body>
</html>
