<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>阿丙的私人订制</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
	<link rel="stylesheet"  href="forum/css/bootstrap.css" th:href="@{/css/pc/forum/css/bootstrap.css}"/>
	<link rel="stylesheet"  href="forum/css/style.css" th:href="@{/css/pc/forum/css/style.css}" />
</head>
<body>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
</div>

<p style="clear:both"></p>
<div class="forum" >
	<div id="content" style="width: 1200px; margin: 0 auto; padding-bottom:100px;">
		<div id="forum-header-wrapper">
			<div id="forum-header" class="container">
				<div id="forum-logo">
					<h1><a href="#">冰山一角论坛</a></h1>
				</div>
			</div>
		</div>
</div>

<div style="width: 1200px; margin: 0 auto">
	<table border="0" width="100%" cellspacing="0" cellpadding="0" style="margin-top: 8;width: 1400px;" align="center">
		<tr height="30" th:attr="style='background:url('+@{/image/pc/forum/images/index/classT.jpg}+')  center 0 no-repeat;'">
			<td style="text-indent:5;">
				<b><span style="color:white">■ 发表帖子</span></b>
			</td>
			<td></td>
		</tr>
		<tr>
			<td style="width: 220px;" valign="top">
				<table style="margin-top: 10;margin-left: 20px;" class="">
					<tr>
						<td valign="top" width="99%" style="line-height:20px;">发帖许可：<br/><br/>
							<ul class="unstyled">
								<li>*请不要发表危害祖国的非法信息！</li><br/><br/>
								<li>*请不要发表侵犯个人名誉的信息！</li><br/><br/>
								<li>*请不要发表不文明内容！</li>
							</ul>
						</td>
					</tr>
					<tr height="40">
						<td align="center">违反以上规则所发生的后果自负！</td>
					</tr>
				</table>
			</td>
			<td>
				<form id="fm" class="form-horizontal" style="margin-top: 10px;" th:action="@{/forum/topicSave}" method="post">
					<div class="control-group">
						<label class="control-label" for="title">【主题】</label>
						<div class="controls">
							<input type="text" id="title" name="topicTitle" style="height:30px; width: 800px; padding:4px 6px;"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="section">【板块】</label>
						<div class="controls">
							<select id="section" name="topicSectionId" style="width: 400px;">
								<option value="0">请选择板块...</option>
								<option th:each="section:${sectionList}" th:value="${section.id}" th:text="${section.name}"></option>
							</select>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="kindcontent">【内容】</label>
						<div class="controls">
							<textarea name="topicContent" id="kindcontent" class="ckeditor" style="height:500px;width: 800px;" ></textarea>
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<Button class="shubing-btn shubing-btn-primary " data-dismiss="modal" aria-hidden="true" type="button" onclick="checkForm()">提交</Button>
							<span id="error"></span>
						</div>
					</div>
				</form>
			</td>
		</tr>
	</table>
</div>
</div>


<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
</body>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/kindeditor-min.js" th:src="@{/js/pc/kindeditor-4.1.10/kindeditor-min.js}"></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/lang/zh_CN.js" th:src="@{/js/pc/kindeditor-4.1.10/lang/zh_CN.js}"></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/init.js"  th:src="@{/js/pc/kindeditor-4.1.10/init.js}"></script>
<script th:inline="javascript">
function checkForm() {

	/*<![CDATA[*/
	var flag = /*[[${dbUser==null}]]*/true;
	/*]]>*/

	if (flag) {
		alert("请先登陆，再回帖！");
		return false;
	}
	if ($("#title").val() == "" || $("#title").val() == null) {
		alert("请填写帖子主题！");
		return false;
	}
	if ($("#section").val() == 0 || $("#section").val() == null) {
		alert("请选择板块！");
		return false;
	}
	editor.sync();
	var len = $("#kindcontent").val().length;
	console.log($("#kindcontent").val());
	console.log(len);
	if (10 > len) {
		alert("帖子内容最少10个字符！");
		return false;
	}
	if (len > 50000) {
		alert("帖子内容最多50000个字符！");
		return false;
	}

	$("#fm").submit();
	alert("发表成功！");
}
</script>
</html>
