<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>阿丙的私人订制</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>

    <script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>


	<link rel="stylesheet"  href="forum/bootstrap/css/bootstrap.css" th:href="@{/css/pc/forum/bootstrap/css/bootstrap.css}"/>
	<link rel="stylesheet"  href="forum/bootstrap/css/bootstrap-responsive.css"  th:href="@{/css/pc/forum/bootstrap/css/bootstrap-responsive.css}" />
	<link rel="stylesheet"  href="forum/css/style.css" th:href="@{/css/pc/forum/css/style.css}" />
	
	<script type="text/javascript" src="forum/bootstrap/js/jquery.js" th:src="@{/js/pc/forum/bootstrap/js/jquery.js}" ></script>
	<script type="text/javascript" src="forum/bootstrap/js/bootstrap.min.js" th:src="@{/js/pc/forum/bootstrap/js/bootstrap.min.js}" ></script>
	<script type="text/javascript" src="forum/bootstrap/js/bootstrap.js" th:src="@{/js/pc/forum/bootstrap/js/bootstrap.js}" ></script>

</head>
<body><img src="images/logo.png" class="logoimgi" th:src="@{/image/pc/images/logo.png}"/>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
    <ul class="navi">
        <li><a href="yun-index.html" th:href="@{/}">首页</a></li>
        <li class="active"><a href="javascript:void(0)" th:href="@{/}">论坛系统</a></li>
        <li><a href="yun-baomin.html" th:href="@{/}">自然之声</a></li>
        <li><a href="javascript:void(0)" th:href="@{/}">历史项目</a></li>
        <li><a href="yun-jxspnewone.html" th:href="@{/}">网页小游戏</a></li>
        <li>
            <a href="javascript:void(0)" th:href="@{/}">我的视频</a>
        </li>
        <li><a href="#">在线工具</a></li>
		<li><a href="#">作者亲密度调查</a></li>
        <li id="loginLi" style="padding:0px 0px 0px 20px;"
            th:style="${#authentication.name}=='anonymousUser'?'padding:0px 0px 0px 20px;':'display:none'">
            <a href="javascript:void(0)" id="showLoginForm">控制台</a>
        </li>
    </ul>
</div>

<p style="clear:both"></p>
<div class="forum" >
	<div id="content" style="width: 1200px; margin: 0 auto;">
		<div id="forum-header-wrapper">
			<div id="forum-header" class="container">
				<div id="forum-logo">
					<h1><a href="#">冰山一角论坛</a></h1>
				</div>
			</div>
		</div>
		<div style="margin: 0 auto;" align="right">
			<!--<c:choose>
				<c:when test="${not empty currentUser }">
					当前用户：<a href="#">${currentUser.nickName }</a>&nbsp;『<c:choose>
													<c:when test="${currentUser.sectionList.size()==0&&currentUser.type!=2 }">
														<font style="color: black;">普通用户</font>	
													</c:when>
													<c:when test="${currentUser.sectionList.size()!=0&&currentUser.type!=2 }">
														<font style="color: blue;">版主</font>
													</c:when>
													<c:otherwise>
														<font style="color: red;">管理员</font>
													</c:otherwise>
												</c:choose>』|
					<a href="javascript:logout()">注销</a>|
					<a href="register.jsp">注册</a>|
					<a href="javascript:checkUserLogin()">个人中心</a>
				</c:when>
				<c:otherwise>
					<a href="javascript:login()">登录</a>|
					<a href="../register.jsp">注册</a>|
					<a href="javascript:checkUserLogin()">个人中心</a>
				</c:otherwise>
			</c:choose>-->
			<a href="javascript:logout()">注销</a>|
			<a href="../register.jsp">注册</a>|
			<a href="javascript:checkUserLogin()">个人中心</a>
		</div>
	</div>
<!--<div id="content" style="width: 1200px; margin: 0 auto;">
	<jsp:include page="common/default.jsp"></jsp:include>
</div>-->

<div style="width: 1200px; margin: 0 auto;">
	<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
		<div class="row-fluid">
			<div class="span2">
				<table style="width: 100%;" cellpadding="5px;">
					<tr>
						<td>
							★楼主&nbsp;<a href="#" style="font-size: 9pt;color: black;"><strong>赵云<!--${topic.user.nickName }--></strong></a>
						</td>
					</tr>
					<tr>
						<td>
							<img th:if="${((topic.user.face==null||topic.user.face=='')&amp;&amp;topic.user.sex=='男')}" 
									alt="" src="images/user/user0.gif" th:src="@{/image/pc/images/user/user0.gif}" style="width: 100px;height: 100px;" />
							<img th:if="${(topic.user.face==null||topic.user.face=='')&amp;&amp;topic.user.sex=='女'}"  
									alt="" src="${pageContext.request.contextPath}/images/user/female.gif" style="width: 100px;height: 100px;" />
							<img th:unless="${topic.user.face==null||topic.user.face==''}"  
									alt="" src="${topic.user.face}" th:src="@{'/image/pc/forum/'+${topic.user.face}}" style="width: 100px;height: 100px;" />
						</td>
					</tr>
					<tr>
						<td>
							性别：<span th:text="${topic.user.sex }">男</span>
						</td>
					</tr>
					<tr>
						<td>
							邮箱：<span th:text="${topic.user.email }">123@qq.com</span>
						</td>
					</tr>
					<tr>
						<td>普通用户
							<!--<c:choose>
									<c:when test="${topic.user.sectionList.size()==0&&topic.user.type!=2 }">
										<font style="color: black;">普通用户</font>
									</c:when>
									<c:when test="${topic.user.sectionList.size()!=0&&topic.user.type!=2 }">
										<font style="color: blue;">版主</font>
										【<c:forEach items="${topic.user.sectionList }" var="section">
					                  	  				${section.name }；
					                  	 </c:forEach>】
					                </c:when>
									<c:otherwise>
										<font style="color: red;">管理员</font>
									</c:otherwise>
								</c:choose>-->
							</td>
					</tr>
				</table>
			</div>
			<div class="span10">
				<table style="width: 100%;">
					<tr style="height: 50px;">
						<td>
							【主题】:<strong><span th:text="${topic.title }">帖子一</span></strong>
						</td>
					</tr>
					<tr>
						<td style="text-align: right;">
							发表时间:『<span th:text="${topic.publishTime }">2016-11-11</span>』
						</td>
					</tr>
					<tr>
						<td>
							【内容】:
							<div style="width: 982px;padding:6px; background-color: #F0F0F0" class="show_e">
								<span th:text="${topic.content }">祖国我爱你</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div th:each="reply:${replyList }">
			<div class="row-fluid" style="margin-top: 20px;">
				<div class="span2">
					<table style="width: 100%;" cellpadding="5px;">
						<tr>
							<td>
								▲<span th:text="${pageNo*10+replyStat.count+1 }">二</span>楼
							</td>
						</tr>
						<tr>
							<td>
								<img th:if="${((topic.user.face==null||topic.user.face=='')&amp;&amp;topic.user.sex=='男')}" 
										alt="" src="images/user/user0.gif" th:src="@{/image/pc/images/user/user0.gif}" style="width: 100px;height: 100px;" />
								<img th:if="${(topic.user.face==null||topic.user.face=='')&amp;&amp;topic.user.sex=='女'}"  
										alt="" src="${pageContext.request.contextPath}/images/user/female.gif" style="width: 100px;height: 100px;" />
								<img th:unless="${topic.user.face==null||topic.user.face==''}"  
										alt="" src="${topic.user.face}" th:src="@{'/image/pc/forum/'+${topic.user.face}}" style="width: 100px;height: 100px;" />
								<a href="#" style="font-size: 9pt;color: black;"><strong><!--${reply.user.nickName }-->诸葛亮</strong></a>
							</td>
						</tr>
						<tr>
							<td>
								性别：<span th:text="${reply.user.sex }">男</span>
							</td>
						</tr>
						<tr>
							<td>
								邮箱：<span th:text="${reply.user.email }">123@qq.com</span>
							</td>
						</tr>
						<tr>
							<td>
								<!--<c:choose>
										<c:when test="${reply.user.sectionList.size()==0&&reply.user.type!=2 }">
											<font style="color: black;">普通用户</font>
										</c:when>
										<c:when test="${reply.user.sectionList.size()!=0&&reply.user.type!=2 }">
											<font style="color: blue;">版主</font>
											【<c:forEach items="${reply.user.sectionList }" var="section">
						                  	  				${section.name }；
						                  	 </c:forEach>】
						                </c:when>
										<c:otherwise>
											<font style="color: red;">管理员</font>
										</c:otherwise>
									</c:choose>-->
									普通用户
								</td>
						</tr>
					</table>
				</div>
				<div class="span10">
					<table style="width: 100%;">
						<tr>
							<td style="text-align: right;">
								<!--<c:choose>
									<c:when test="${currentUser.id==section.master.id }">
										<button class="btn btn-danger" onClick="javascript:deleteReply(${reply.id })">删除</button>
									</c:when>
									<c:when test="${currentUser.type==2 }">
										<button class="btn btn-danger" onClick="javascript:deleteReply(${reply.id })">删除</button>
									</c:when>
									<c:otherwise>
									</c:otherwise>
								</c:choose>-->
								<button class="btn btn-danger" onClick="javascript:deleteReply(${reply.id })">删除</button>
								回复时间:『<span th:text="${reply.publishTime }">2016-11-11</span>』
							</td>
						</tr>
						<tr>
						<td>
							<div style="width: 982px;padding:6px; background-color: #F0F0F0" class="show_e">
								<span th:text="${reply.content }">哈哈哈，我也爱</span>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
	</div>
	<div class="pagination alternate" align="center">
		<!--<c:choose>
			<c:when test="${pageCode =='未查询到数据'}">
				本帖还没有人回复
			</c:when>
			<c:otherwise>
				<ul class="clearfix">${pageCode }
				</ul>
			</c:otherwise>
		</c:choose>-->
		本帖还没有人回复
	</div>
	<div>
		<table>
			<tr>
				<td style="width: 20%;">
					回帖许可：
				</td>
				<td style="width: 80%;">
					<form id="replyForm" class="form-horizontal" style="margin-top: 10px;">
					<table style="width: 100%;" cellpadding="10px;">
						 <!--<tr>
							<td>
								【主题】:
							</td>
							<td>
								<input type="text" id="rTopic" name="reply.rTopic" value="${reply.rTopic }" style="width: 800px;">
							</td>
						</tr> -->
						<tr>
							<td>
								【表情】:
							</td>
							<td>
								<div id="container">
								<a href="JavaScript:void(0)" id="message_face">请选择...</a>
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align: top;">
								【内容】:
							</td>
							<td>
								<textarea name="reply.content" id="Content" cols="50" style="height:200px;width: 800px;" ></textarea>
							</td>
						</tr>
						<tr>
							<td>
								<input id="userId" name="reply.user.id" value="${currentUser.id }" type="hidden"/>
								<input id="topicId" name="reply.topic.id" value="${topic.id }" type="hidden"/>
							</td>
							<td>
								<Button class="btn btn-primary " data-dismiss="modal" aria-hidden="true" type="button" onClick="javascript:saveReply()">提交</Button>
								<font id="error"></font>
							</td>
						</tr>
					</table>
					</form>
				</td>
			</tr>
		</table>
	</div>
</div>
</div>


<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="document.getElementById('asaimsg').style.display='none';document.getElementById('asaimsgbg').style.display='none'">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form accept-charset="UTF-8" action="yun-geren.html" th:action="@{/pc/index}"
                  class="sign-in__form user-form__form" method="post">

                <div class="user-form__fieldset">
                    <label class="user-form__label" for="username" style="color:#111">手机号：</label>
                    <input autocapitalize="off" autocorrect="off" class="sign-in__field user-form__field"
                           id="username" name="username" placeholder="请输入您的手机号" maxlength="20" type="text"/>
                </div>
                <div class="user-form__fieldset">
                    <label class="user-form__label" for="password" style="color:#111">密码：</label>
                    <input class="sign-in__field user-form__field" id="password" name="password"
                           placeholder="password" type="password"/>

                </div>
                <div class="user-form__href" align="right"><a id="goToRegister" href="javascript:void(0)">免费注册</a></div>
                <button id="btn_login" class="sign-in__button user-form__button" name="btn_login" type="submit">
                    登录
                </button>
            </form>
            <span style="color:red" id="loginFailedInfo" th:text="${errInfo}"></span>
        </div>
    </div>
</div>
<!--登录弹窗end-->
<!--注册弹窗-->
<div th:replace="pc/loginPopup::registPopupDiv" id="regDiv" class="AsaiDivShow" style="display:none">
    <P align="right" style="margin:0px; padding:0px;"><a href="javascript:void(0)"
                                                         onclick="javascript:hideRegisterForm()">
        <FONT style="color:#111; font-size:20px;">×</FONT></a></P>

    <div class="sign-in">
        <div class="user-form">
            <form action="yun-baomin.html">
                <p>
                    <input class="ysw500 sign-in__field ys-form__field" id="regPhoneNo" name="regPhoneNo"
                           placeholder="真实手机号" maxlength="20" type="text"/>
                    <span style="color:red" id="phoneErr"/>
                    <span style="color:green" id="phoneRig"/>
                </p>

                <p style="height:10px;"></p>

                <p style="margin: 0 auto;">
                    <input class="ys-form__field" id="regMessage" name="regMessage" placeholder="短信验证码" maxlength="6"
                           type="text" style="float: left; margin-top: 10px; margin-left:40px; width:430px;"/>
                    <input id="verify_btn" value="获取验证码" class="user-form__yanzheng" type="button"
                           onclick="settime(this)"/>
                </p>

                <p style="text-align:center;">
                    <button class="sign-in__button user-form__button" id="registerBtn" type="button">
                        提交
                    </button>
                </p>
                <div style="text-align: center">
                    <i style="color:#FFBE00">*</i>注册成功后初始密码为手机号后四位，您可以登录后在个人中心修改<br/>
                </div>
            </form>
            <span style="color:red" id="regErrInfo"></span>
            <span style="color:blue" id="regMsgInfo"></span>
        </div>
    </div>
</div>
<!--注册弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
</body>


</html>
<script type="text/javascript">
    jQuery(".fullSlide").slide({
        titCell: ".hd ul",
        mainCell: ".bd ul",
        effect: "fold",
        autoPlay: true,
        autoPage: true,
        trigger: "click"
    });
</script>
