<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>阿丙的私人订制</title>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
	<link rel="stylesheet"  href="forum/css/bootstrap.css" th:href="@{/css/pc/forum/css/bootstrap.css}"/>
	<link rel="stylesheet"  href="forum/css/style.css" th:href="@{/css/pc/forum/css/style.css}" />
	<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
</head>
<body><img src="images/logo.png" class="logoimgi" th:src="@{/image/pc/images/logo.png}"/>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
</div>

<p style="clear:both"></p>
<div class="forum" >
	<div id="content" style="width: 1200px; margin: 0 auto;">
		<div id="forum-header-wrapper">
			<div id="forum-header" class="container">
				<div id="forum-logo">
					<h1><a href="#">冰山一角论坛</a></h1>
				</div>
			</div>
		</div>
	</div>
<div style="width: 1200px; margin: 40px auto 0 auto;">
	<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
		<div class="row-fluid">
			<div class="span2">
				<table style="width: 100%;" cellpadding="5px;">
					<tr>
						<td>
							★楼主&nbsp;<a href="#" style="font-size: 9pt;color: black;"><strong><span th:unless="${topic==null||topic.user==null}" th:text="${topic.user.nickName }">赵云</span></strong></a>
						</td>
					</tr>
					<tr>
						<td>
							<span th:unless="${topic==null||topic.user==null}">
								<span th:if="${topic.user.face==null||topic.user.face==''}">
									<img th:if="${topic.user.sex=='男'}" 
										alt="" src="images/user/user0.gif" th:src="@{/image/pc/forum/images/user/user0.gif}" style="width: 100px;height: 100px;" />
									<img th:if="${topic.user.sex=='女'}"  
										alt="" src="images/user/female.gif"  th:src="@{/image/pc/forum/images/user/female.gif}"  style="width: 100px;height: 100px;" />
								</span>
								<span th:unless="${topic.user.face==null||topic.user.face==''}">
									<img alt="" src="${topic.user.face}" th:src="@{'/image/pc/forum/'+${topic.user.face}}" style="width: 100px;height: 100px;" />
								</span>
							</span>
						</td>
					</tr>
					<tr>
						<td>
							性别：<span th:text="${topic.user.sex }">男</span>
						</td>
					</tr>
					<tr>
						<td>
							邮箱：<span th:text="${topic.user.email }">123@qq.com</span>
						</td>
					</tr>
					<tr>
						<td>普通用户
						<span th:if="${not #lists.isEmpty(topic.user.sectionList) &amp;&amp; topic.user.type!=2 }" style="color: black;">普通用户</span>
							<!--<c:choose>
									<c:when test="${topic.user.sectionList.size()==0&&topic.user.type!=2 }">
										<font style="color: black;">普通用户</font>
									</c:when>
									<c:when test="${topic.user.sectionList.size()!=0&&topic.user.type!=2 }">
										<font style="color: blue;">版主</font>
										【<c:forEach items="${topic.user.sectionList }" var="section">
					                  	  				${section.name }；
					                  	 </c:forEach>】
					                </c:when>
									<c:otherwise>
										<font style="color: red;">管理员</font>
									</c:otherwise>
								</c:choose>-->
							</td>
					</tr>
				</table>
			</div>
			<div class="span10">
				<table style="width: 100%;">
					<tr style="height: 50px;">
						<td>
							【主题】:<strong><span th:text="${topic.title }">帖子一</span></strong>
						</td>
					</tr>
					<tr>
						<td style="text-align: right;">
							发表时间:『<span th:text="${topic.publishTime }">2016-11-11</span>』
						</td>
					</tr>
					<tr>
						<td>
							【内容】:
							<div style="width: 982px;padding:6px; background-color: #F0F0F0" class="show_e">
								<span id="topiccontent">祖国我爱你</span>
								<script th:inline="javascript">
									/*<![CDATA[*/
									$("#topiccontent").html(/*[[${topic.content}]]*/);
   									 /*]]>*/
								</script>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div th:each="reply:${replyList }">
			<div class="row-fluid" style="margin-top: 20px;">
				<div class="span2">
					<table style="width: 100%;" cellpadding="5px;">
						<tr>
							<td>
								▲<span th:text="${pageNo*10+replyStat.count+1 }">二</span>楼
							</td>
						</tr>
						<tr>
							<td>
								<img th:if="${((topic.user.face==null||topic.user.face=='')&amp;&amp;topic.user.sex=='男')}" 
										alt="" src="images/user/user0.gif" th:src="@{/image/pc/forum/images/user/user0.gif}" style="width: 100px;height: 100px;" />
								<img th:if="${(topic.user.face==null||topic.user.face=='')&amp;&amp;topic.user.sex=='女'}"  
										alt="" src="images/user/female.gif" th:src="@{/image/pc/forum/images/user/female.gif}" style="width: 100px;height: 100px;" />
								<img th:unless="${topic.user.face==null||topic.user.face==''}"  
										alt="" src="${topic.user.face}" th:src="@{'/image/pc/forum/'+${topic.user.face}}" style="width: 100px;height: 100px;" />
								<a href="#" style="font-size: 9pt;color: black;"><strong><span th:text="${reply.user.nickName }">诸葛亮</span></strong></a>
							</td>
						</tr>
						<tr>
							<td>
								性别：<span th:text="${reply.user.sex }">男</span>
							</td>
						</tr>
						<tr>
							<td>
								邮箱：<span th:text="${reply.user.email }">123@qq.com</span>
							</td>
						</tr>
						<tr>
							<td>
								<!--<c:choose>
										<c:when test="${reply.user.sectionList.size()==0&&reply.user.type!=2 }">
											<font style="color: black;">普通用户</font>
										</c:when>
										<c:when test="${reply.user.sectionList.size()!=0&&reply.user.type!=2 }">
											<font style="color: blue;">版主</font>
											【<c:forEach items="${reply.user.sectionList }" var="section">
						                  	  				${section.name }；
						                  	 </c:forEach>】
						                </c:when>
										<c:otherwise>
											<font style="color: red;">管理员</font>
										</c:otherwise>
									</c:choose>-->
									普通用户
								</td>
						</tr>
					</table>
				</div>
				<div class="span10">
					<table style="width: 100%;">
						<tr class="replytr">
							<td style="text-align: right;">
								<!--<c:choose>
									<c:when test="${currentUser.id==section.master.id }">
										<button class="shubing-btn shubing-btn-danger" onClick="javascript:deleteReply(${reply.id })">删除</button>
									</c:when>
									<c:when test="${currentUser.type==2 }">
										<button class="shubing-btn shubing-btn-danger" onClick="javascript:deleteReply(${reply.id })">删除</button>
									</c:when>
									<c:otherwise>
									</c:otherwise>
								</c:choose>-->
								<button class="shubing-btn shubing-btn-danger" onClick="javascript:deleteReply(this)">删除</button>
								回复时间:『<span th:text="${reply.publishTime }">2016-11-11</span>』
							</td>
							<td>
								<input class="replyid" th:value="${reply.id }" type="hidden"/>
							</td>
						</tr>
						<tr>
						<td>
							<div style="width: 982px;padding:6px; background-color: #F0F0F0" class="show_e">
								<span class="replycontent">哈哈哈，我也爱</span>
								<script th:inline="javascript">
									/*<![CDATA[*/
									$(".replycontent:last").html(/*[[${reply.content}]]*/);
   									 /*]]>*/
								</script>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		</div>
	</div>
	<div class="pagination alternate" align="center">
		<span th:if="${totalPages}==0"  th:text="本帖还没有人回复">本帖还没有人回复</span>
		<span th:unless="${totalPages}==0" >
			<ul class="clearfix">
				<li th:class="${pageNo}==0?'disabled':''" ><a th:if="${pageNo}==0">首页</a>
					<a th:unless="${pageNo}==0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=0)}">首页</a></li>
				<li th:class="${pageNo}>0?'':'disabled'"><a th:unless="${pageNo}>0">上一页</a>
					<a href='' th:if="${pageNo}>0" th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-1)}">上一页</a></li>
				<li th:style="${pageNo}-3>0?'':'display: none'"><a th:unless="${pageNo}-3>0"><span th:text="${pageNo}-3"></span></a>
					<a th:if="${pageNo}-3>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-4)}"><span th:text="${pageNo}-3"></span></a></li>
				<li th:style="${pageNo}-2>0?'':'display: none'"><a th:unless="${pageNo}-2>0"><span th:text="${pageNo}-2"></span></a>
					<a th:if="${pageNo}-2>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-3)}"><span th:text="${pageNo}-2"></span></a></li>
				<li th:style="${pageNo}-1>0?'':'display: none'"><a th:unless="${pageNo}-1>0"><span th:text="${pageNo}-1"></span></a>
					<a th:if="${pageNo}-1>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-2)}"><span th:text="${pageNo}-1"></span></a></li>
				<li th:style="${pageNo}>0?'':'display: none'"><a th:unless="${pageNo}>0"><span th:text="${pageNo}"></span></a>
					<a th:if="${pageNo}>0" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}-1)}"><span th:text="${pageNo}"></span></a></li>
				<li th:class="active"><a><span th:text="${pageNo}+1"></span></a></li>
				<li th:style="${totalPages}-1>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-1>${pageNo}"><span th:text="${pageNo}+2"></span></a>
					<a th:if="${totalPages}-1>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+1)}"><span th:text="${pageNo}+2"></span></a></li>
				<li th:style="${totalPages}-2>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-2>${pageNo}"><span th:text="${pageNo}+3"></span></a>
					<a th:if="${totalPages}-2>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+2)}"><span th:text="${pageNo}+3"></span></a></li>
				<li th:style="${totalPages}-3>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-3>${pageNo}"><span th:text="${pageNo}+4"></span></a>
					<a th:if="${totalPages}-3>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+3)}"><span th:text="${pageNo}+4"></span></a></li>
				<li th:style="${totalPages}-4>${pageNo}?'':'display: none'"><a th:unless="${totalPages}-4>${pageNo}"><span th:text="${pageNo}+5"></span></a>
					<a th:if="${totalPages}-4>${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+4)}"><span th:text="${pageNo}+5"></span></a></li>
				<li  th:class="${totalPages}-1>${pageNo}?'':'disabled'" ><a th:unless="${totalPages}-1>${pageNo}">下一页</a>
					<a href='' th:if="${totalPages}-1>${pageNo}" th:href="@{/forum/topicList(id=${topic.id},pageNo=${pageNo}+1)}">下一页</a></li>
				<li th:class="${totalPages}-1==${pageNo}?'disabled':''" ><a th:if="${totalPages}-1==${pageNo}">末页</a>
					<a th:unless="${totalPages}-1==${pageNo}" href='' th:href="@{/forum/topicList(id=${topic.id},pageNo=${totalPages}-1)}">末页</a></li>
			</ul>
		</span>
	</div>
	<div class="shubing-huitie">
		<table>
			<tr>
				<td style="width: 20%;">
					回帖许可：
				</td>
				<td style="width: 80%;">
					<form id="fm" class="form-horizontal" style="margin-top: 10px;" method="post" th:action="@{/forum/replyAdd}">
					<table style="width: 100%;" cellpadding="10px;">
						 <!--<tr>
							<td>
								【主题】:
							</td>
							<td>
								<input type="text" id="rTopic" name="reply.rTopic" value="${reply.rTopic }" style="width: 800px;">
							</td>
						</tr> -->
						<!-- <tr>
							<td>
								【表情】:
							</td>
							<td>
								<div id="container">
								<a href="JavaScript:void(0)" id="message_face">请选择...</a>
								</div>
							</td>
						</tr> -->
						<tr>
							<td style="vertical-align: top;">
								【内容】:
							</td>
							<td>
								<textarea name="replyContent" id="kindcontent" cols="50" style="height:200px;width: 800px;" ></textarea>
							</td>
						</tr>
						<tr>
							<td>
								<input id="replyTopicId" name="replyTopicId" th:value="${topic.id }" type="hidden"/>
								<input id="pageNo" name="pageNo" th:value="${pageNo}" type="hidden"/>
							</td>
							<td>
								<Button class="shubing-btn shubing-btn-primary " data-dismiss="modal" aria-hidden="true" type="button" onClick="javascript:saveReply()">提交</Button>
								<span id="error"></span>
							</td>
						</tr>
					</table>
					</form>
				</td>
			</tr>
		</table>
	</div>
</div>
</div>


<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
</body>
<script th:inline="javascript">

   function saveReply(){
	/*<![CDATA[*/
 	var flag= /*[[${dbUser==null}]]*/true;
    /*]]>*/
    
    if(flag){
   	 	alert("请先登陆，再回帖！");
		return false;
    }
    editor.sync();
    var len = $("#kindcontent").val().length;
    alert(len);
    if (10 > len) {
		alert("最少输入10个字符！");
		return false;
	}
	
	if (len > 1000) {
		alert("最多输入1000个字符！");
		return false;
	}
	
	$("#fm").submit();
	alert("回复成功！");
	resetValue();    
}
</script>

<script type="text/javascript" src="js/myjson.js" th:src="@{/js/pc/js/myjson.js}" ></script>
<script type="text/javascript" src="" th:src="@{/js/pc/forum/js/myDetailJson.js}" ></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/kindeditor-min.js" th:src="@{/js/pc/kindeditor-4.1.10/kindeditor-min.js}"></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/lang/zh_CN.js" th:src="@{/js/pc/kindeditor-4.1.10/lang/zh_CN.js}"></script>
<script charset="utf-8" src="pc/kindeditor-4.1.10/init.js"  th:src="@{/js/pc/kindeditor-4.1.10/init.js}"></script>
</html>
