<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="baidu-site-verification" content="3uYjxVgfa1" />
    <title>帖子推荐  - 论坛系统 - 阿丙的私人订制</title>
    <link rel="shortcut icon" href="favicon.ico" th:href="@{/image/favicon.ico}" />
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/css/pc/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/index.css" th:href="@{/css/pc/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="css/main.css" th:href="@{/css/pc/css/main.css}"/>
    <link rel="stylesheet" type="text/css" href="css/indexnew.css" th:href="@{/css/pc/css/indexnew.css}"/>
	<link rel="stylesheet" type="text/css" href="forum/css/style.css" th:href="@{/css/pc/forum/css/style.css}" />
	<link rel="stylesheet" type="text/css" href="forum/css/bootstrap.css" th:href="@{/css/pc/forum/css/bootstrap.css}"/>
	<link rel="stylesheet" type="text/css" href="historyproject/css/shubing.history.css" th:href="@{/css/pc/historyproject/css/shubing.history.css}"/>
	<link rel="stylesheet" type="text/css" href="css/bing-progress.css" th:href="@{/css/pc/css/bing-progress.css}" />
</head>
<body>
<div th:replace="pc/loginPopup::headerDiv" style="background-color:#fff;" class="headeri">
</div>

<p style="clear:both"></p>
<div class="forum" style="min-height:1000px; background-color:white;">
	<div th:replace="pc/forum/common/top::top" id="content" style="width: 1200px; margin: 0 auto;">
		<div id="forum-header-wrapper">
			<div id="forum-header" class="container">
				<div id="forum-logo">
					<h1><a href="#">冰山一角论坛</a></h1>
				</div>
			</div>
		</div>
	</div>

	<div style="width: 1200px; margin: 0 auto;">
		<h1 align="center">版主推荐</h1>
		<h4>推荐榜单（被列为精华的帖子）</h4>
	</div>
	<div style="width: 1200px; margin: 0 auto; min-height:100px;">
		<ul class="shubinghistorylist" th:remove="all-but-first">
			<li th:each="topic,toNum:${goodTopicList}">
				<div style="color:#2d64b3;font-size:16px;"><span th:text="${toNum.count}"></span>、<a th:href="@{/forum/details(id=${topic.id})}" style="color:#2d64b3;"><strong><span th:text="${#strings.abbreviate(topic.title,24)}">钟汉良杨颖抠像演戏</span></strong></a></div>
	          	<div style="margin:5px 10px 5px 0; max-width:170px; float:left;">
	          		<img th:if="${topic.firstimg!=null}" th:src="@{'/image/images/reaImg/'+${topic.firstimg }}" style="height:90px;"/> 
	          	</div>
          		<div>
					<p style="text-indent:2em;"><span th:text="${topic.remark}">哈哈哈，我也爱</span></p>
					<div style="text-align:right;"><a th:href="@{/forum/topicList(sectionId=${topic.section.id})}" style="color:red"><span th:text="${topic.section.name }"></span></a>
					&nbsp;&nbsp;<span th:text="${#calendars.format(topic.modifyTime,'yyyy-MM-dd HH:mm:ss')}">9:33</span></div>
				</div>
			</li>
			<li>
				<span style="color: #2d64b3;font-size:16px;"><strong>交互式外包项目管理系统</strong></span>
				<p style="text-indent:2em;">该项目与“信天游”的开发同时进行，为我的小组参加软件外包大赛的作品，系统编码由我独自开发。主要功能实现了对外包项目的管理，员工可以根据拥有的技能匹配可选的项目，项目也可以根据需要的技能挑选合适的员工。系统使用了SSH框架，以及Hibernate的多对多映射。该项目获得软件外包大赛的优秀奖</p>
				<p style="text-indent:2em;">网址为：<span style="color:red">暂未放上</span></p>
			</li>
			<li>
				<span style="color: #2d64b3;font-size:16px;"><strong>手机APP“信天游”</strong></span>
				<p style="text-indent:2em;">该项目为我的小组参加电子商务竞赛作品，手机APP由我单独开发。其中我学会了搭建Android开发环境，使用各种控件，以及调用百度API。实现了百度地图的应用（搜索地点、路线），语音导游，经典展示等功能。该项目获得浙江大学生电子商务竞赛省赛一等奖，全国大学生电子商务竞赛三等奖。</p>
				<p style="text-indent:2em;">网址为：<span style="color:red">暂未放上</span></p>
			</li>
		</ul>
	</div>
</div>


<div th:include="pc/loginPopup::footerDiv" class="footer">
    <p>阿丙工作室</p>
    <p>联系邮箱：jiashubing@foxmail.com</p>
</div>

<!--登录弹窗-->
<div th:replace="pc/loginPopup::loginPopupDiv" id="asaimsg" class="AsaiDivShow" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'">
</div>
<!--登录弹窗end-->
<div id="asaimsgbg" class="AsaiDivBG" style="display: none"
     th:style="${errInfo}==null?'display: none':'display: block'"></div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="js/myjson.js" th:src="@{/js/pc/js/myjson.js}" ></script>
<!-- <script type="text/javascript" src="js/jquery.ui.custom.js" th:src="@{/js/pc/admin/js/jquery.ui.custom.js}" ></script>
<script type="text/javascript" src="js/bootstrap.js" th:src="@{/js/pc/admin/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="js/jquery.dataTables.min.js" th:src="@{/js/pc/admin/js/jquery.dataTables.min.js}"></script>
<script type="text/javascript" src="js/unicorn.tables.js" th:src="@{/js/pc/admin/js/unicorn.tables.js}"></script>
<script type="text/javascript" src="js/uploadPreview.min.js" th:src="@{/js/pc/admin/js/uploadPreview.min.js}"></script>
<script type="text/javascript" src="/js/myjson.js" th:src="@{/js/pc/forum/js/myListJson.js}" ></script>
<script th:inline="javascript">
function checkUser(){
    /*<![CDATA[*/
 	var flag= /*[[${session.dbUser!=null}]]*/true;
    /*]]>*/
    
    if(flag){
   	 	$("#preSaveForm").submit();
    }else{
    	$("#loginFailedInfo").text("");
        $("#asaimsg").show();
        $("#asaimsgbg").show();
    }
}
</script> -->
</body>
</html>
