<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>查询商品列表</title>
</head>
<body> 
商品列表：<br/>
<span th:text="bbbbbbbbbbbb">aaaaaaaaaaaaaaaaaaa</span>
	<table border="1"  width="100%">
		<tr>
			<td>商品名称</td>
			<td>商品价格</td>
			<td>生产日期</td>
			<td>商品描述</td>
			<td>操作</td>
		</tr>
	 	<tr th:each="item:${itemsList }" >
	           <td th:text="${item.name }">01</td>
	           <td th:text="${item.price }">女女女</td>
			   <td th:text="${#calendars.format(item.createtime,'yyyy-MM-dd HH:mm:ss')}">2015.01.01/13.00.00</td>
	           <td th:text="${item.detail }">杭州</td>
	           <td><a href="yun-index.html" th:href="@{/item/loadEditItem(id=${item.id})}">修改</a></td>
		</tr> 
	</table>
</body>

</html>