@charset "utf-8";
/* CSS Document */
 
/* 渐显动画 */
body {
	-webkit-animation: pulsate 0.7s linear;/* -webkit-transition:all .05s linear; */
}
 @-webkit-keyframes pulsate {
 0% {
opacity:0
}
 20% {
opacity:.2
}
 40% {
opacity:.4
}
 60% {
opacity:.6
}
 80% {
opacity:.8
}
 100% {
opacity:1
}
}
/* 按钮 */

body {
	font-family: "微软雅黑";
	color: #5a5a5a;
	background-color: #fff;
	font-size: 12px;
	line-height: 14px;
	word-wrap: break-word;
	word-break: break-all;
}
.logoimg {
	float: left;
	vertical-align: middle;
	margin-top: 3px;
}

.header {
	font-size: 16px;
	width: 1200px;
	margin: 0 auto;
	height: 45px;
}
.header .nav {
	float: right;
	margin-top: 30px;
}
.header .navi {
	float: right;
	margin-top: 11px;
	margin-right: 50px;
}
.header .nav li {
	display: inline-block;
	padding: 0px 21px;
	margin-bottom: 5px;
	line-height: 18px;
}
.header .navi li {
	display: inline-block;
	padding: 0px 21px;
	margin-bottom: 5px;
	line-height: 18px;
}
.header .nav li.active a {
	position: relative;
	color: #000;
	padding: 20px 0px 20px 0px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.header .navi li.active a {
	position: relative;
	color: #000;
	padding: 10px 0px 2px 0px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.header .nav li.active a::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: -1px;
	right: -1px;
	border-bottom: 6px solid #0097fe;
}
.header .navi li.active a::after {
	content: "";
	position: absolute;
	bottom: -14px;
	left: -1px;
	right: -1px;
	border-bottom: 6px solid #0097fe;
}
.header .nav li a:hover {
	color: #4bcaff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.header .navi li a:hover {
	color: #4bcaff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
/**/
/*i*/
.logoimgi {
	float: left;
	vertical-align: middle;
	width:161px;
}

.headeri {
	font-size: 16px;
	width: 1160px;
	margin: 0 auto;
	height:64px;
}
.headeri .nav {
	float: right;
	margin-top: 30px;
}
.headeri .navi {
	float: right;
	margin-top:20px;
	margin-right: 50px;
	font-size:14px;
}
.headeri .nav li {
	display: inline-block;
	padding: 0px 21px;
	margin-bottom: 5px;
	line-height: 18px;
}
.headeri .navi li {
	display: inline-block;
	padding: 0px 21px;
	margin-bottom: 5px;
	line-height: 18px;
}
.headeri .nav li.active a {
	position: relative;
	color: #000;
	padding: 20px 0px 20px 0px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.headeri .navi li.active a {
	position: relative;
	color: #000;
	padding: 10px 0px 2px 0px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.headeri .nav li.active a::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: -1px;
	right: -1px;
	border-bottom: 6px solid #0097fe;
}
.headeri .navi li.active a::after {
	content: "";
	position: absolute;
	bottom: -23px;
	left: -1px;
	right: -1px;
	border-bottom: 6px solid #0097fe;
}
.headeri .nav li a:hover {
	color: #4bcaff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.headeri .navi li a:hover {
	color: #4bcaff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}




/*i*/
/* 本例子1css */
.fullSlidei {
	min-width: 1000px;
	position: relative;
	height:455px;
	overflow: hidden;
}
.fullSlidei .bd {
	position: relative;
	z-index: 0;
}
.fullSlidei .bd ul {
	width: 100% !important;
}
.fullSlidei .bd li {
	width: 100% !important;
	height: 648px;
}
.fullSlidei .bd li .siteWidth {
	width: 1000px;
	position: relative;
	margin: 0 auto;
}
.fullSlidei .bd li a {
	position: absolute;
	width: 100%;
	height: 648px;
	display: block;
	z-index: 1;
}
.fullSlidei .hd {
	width: 100%;
	position: absolute;
	z-index: 1;
	bottom: 0;
	left:-15px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.fullSlidei .hd ul li {
	cursor: pointer;
	display: inline-block;
*display:inline;
	zoom: 1;
	width: 11px;
	height: 11px;
	margin: 4px;
	background: url(../images/dot-black.png) 0 0;
	overflow: hidden;
	line-height: 9999px;
	filter: alpha(opacity=40);
	opacity: 0.4;
	-webkit-transition: all 0.20s ease-out;
	-moz-transition: all 0.20s ease-out;
	-ms-transition: all 0.20s ease-out;
	-o-transition: all 0.20s ease-out;
	transition: all 0.20s ease-out;
}
.fullSlidei .hd ul .on {
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
/*1*/
 /* 本例子css */
	.fullSlide{ min-width:1000px;  position:relative;  height:648px; overflow:hidden;   }
	.fullSlide .bd{ position:relative; z-index:0;  }
	.fullSlide .bd ul{ width:100% !important; }
	.fullSlide .bd li{ width:100% !important;  height:648px; }
	.fullSlide .bd li .siteWidth{ width:1000px; position:relative;  margin:0 auto;  }
	.fullSlide .bd li a{ position:absolute; width:100%; height:648px; display:block; z-index:1;   }
	 
	 

	.fullSlide .hd{ width:100%;  position:absolute; z-index:1; bottom:0; left:0; height:30px; line-height:30px; text-align:center; }
	.fullSlide .hd ul li{ cursor:pointer; display:inline-block; *display:inline; zoom:1; width:11px; height:11px; margin:4px; background:url(../images/dot-black.png) 0 0; overflow:hidden; 
		line-height:9999px; filter:alpha(opacity=40);opacity:0.4; -webkit-transition: all 0.20s ease-out;
-moz-transition: all 0.20s ease-out;
-ms-transition: all 0.20s ease-out;
-o-transition: all 0.20s ease-out;
transition: all 0.20s ease-out;
	}
	.fullSlide .hd ul .on{ filter:alpha(opacity=100);opacity:1; 
	
-webkit-transition: all 0.20s ease-in;
-moz-transition: all 0.20s ease-in;
-ms-transition: all 0.20s ease-in;
-o-transition: all 0.20s ease-in;
transition: all 0.20s ease-in; }
/**/
/**/
.hx {
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	min-width: 1000px;
	overflow: hidden;
	height: 443px;
	padding: 0px 0px 0px 0px
}
.hx img {
}
.hximg {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
.hximg li {
	padding: 25px 0px 38px 0px;
	border: solid 1px #ddd;
	float: left;
	width: 215px;
	margin: 0px 10px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.hximg li:hover {
	background-color: #0195ff;
	height: auto;
	padding: 25px 0px;
	margin: 0px 10px;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.kf {
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	min-width: 1000px;
	overflow: hidden;
	padding-top:82px;
}
/* .kfimg {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}
.kfimg li {
	margin: 4px;
	float: left;
	background-color: #fff
}
.kfimg li img {
	width: 80%
} */
.morebtn {
	margin: 0 auto;
	text-align: center;
	width: 150px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	border: 1px solid #4bcaff;
	background-color: #4bcaff;
	color: #fff;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.morebtn:hover {
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
	background-color: #fff;
	color: #4bcaff
}
/**/
.footer {
  width: 100%;
  background-color: #0074C7;
  height: 30px;
  text-align: center;
  color: #FFF;
  padding: 20px 0px;

}
/**/
.dh_small {
	text-align: center;
	overflow: hidden;
	background-color: #d2d2d2;
	height: 58px;
	line-height: 58px;
}
.dh_small span {
	padding: 30px 60px 30px 60px;
	font-size: 18px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.dh_small span a {
	position: relative;
	color: #000;
}
.dh_small span:hover {
	background-color: #eee;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.dh_small span.active a::after {
	content: "";
	position: absolute;
	bottom: -63px;
	left: 0px;
	right: 0px;
	background-image: url(../images/sjsj.png);
	background-position: top;
	height: 58px;
	background-repeat: no-repeat;
	overflow: hidden
}
.neirongnav {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0px 100px 0px
}
.fl {
	float: left
}
.fr {
	float: right
}
.neirongnav h1 {
	font-size: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	margin-top: 40px;
	color: #333
}
.neirongnav h2 {
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 20px;
	color: #999;
}
.neirongnav .fl.wz {
	text-align: left;
	width: 450px;
	font-size: 18px;
	line-height: 22px
}
.neirongnav .fr.wz {
	text-align: right;
	width: 450px;
	font-size: 18px;
	line-height: 22px
}
.neirongnav .button1 {
	background-color: #4bcaff;
	border: 1px solid #4bcaff;
	color: #fff;
	padding: 10px 20px;
	margin: 30px 0px 0px 0px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.neirongnav .button1:hover {
	border: 1px solid #4bcaff;
	background-color: #fff;
	color: #4bcaff;
	cursor: pointer;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.neirongnav .button2 {
	background-color: #FF3A00;
	border: 1px solid #FF3A00;
	color: #fff;
	padding: 10px 30px;
	margin: 30px 0px 0px 0px;
	-webkit-transition: all 0.30s ease-out;
	-moz-transition: all 0.30s ease-out;
	-ms-transition: all 0.30s ease-out;
	-o-transition: all 0.30s ease-out;
	transition: all 0.30s ease-out;
}
.neirongnav .button2:hover {
	border: 1px solid #FF3A00;
	background-color: #fff;
	color: #FF3A00;
	cursor: pointer;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
/**/
.font14 {
	font-size: 14px;
}
.font16 {
	font-size: 16px;
}
.fontyahei {
	font-family: Microsoft Yahei, STHeiti, Helvetica, Arial, sans-serif;
}
.container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	line-height: 30px;
}
.h60 {
	height: 60px;
}
.clear {
	clear: both;
}
.h40 {
	height: 40px;
}
.huiimg img {
	-webkit-filter: grayscale(1);/* Webkit */
	filter: gray;/* IE6-9 */
	filter: grayscale(1);/* W3C */
}
.tm_tit h3 {
	font-size: 24px;
	line-height: 20px;
	color: #AFAFAF;
	font-weight: 400;
}
.tm_tit {
	height: 26px;
	padding: 20px 0 30px 0px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	position: relative;
	min-width: 980px;
}
.tm_tit:after, .tm_tit:before {
	height: 1px;
	width: 40%;
	content: '\20';
	position: absolute;
	top: 30px;
	display: block;
	background: #ddd;
}
.xxd {
	text-align: left;
	font-size: 16px;
	line-height: 30px;
	width: 1000px;
	margin: 0 auto
}
.xxd a {
	color: #000;
}
.xxd p {
	margin: 20px 10px;
}
.xxd span {
	font-size: 20px;
	line-height: 38px;
	border-bottom: 1px dotted #ddd;
}
/**/
.hximg .pone:hover p {
	color: #fff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .ptwo:hover p {
	color: #fff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .pthree:hover p {
	color: #fff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .pfour:hover p {
	color: #fff;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
}
.hximg .poneimg {
	background: url(../images/one.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .poneimg:hover {
	background: url(../images/bone.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .ptwoimg {
	background: url(../images/two.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .ptwoimg:hover {
	background: url(../images/btwo.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .pthreeimg {
	background: url(../images/three.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .pthreeimg:hover {
	background: url(../images/bthree.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .pfourimg {
	background: url(../images/four.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
.hximg .pfourimg:hover {
	background: url(../images/bfour.png) no-repeat;
	background-size: 97px;
	height: 97px;
	background-position: center;
	-webkit-transition: all 0.20s ease-in;
	-moz-transition: all 0.20s ease-in;
	-ms-transition: all 0.20s ease-in;
	-o-transition: all 0.20s ease-in;
	transition: all 0.20s ease-in;
}
