.homeleft{float:left;width:500px; height:500px;}
.homeright{float:right;width:500px;height:500px;}
.homep1{text-align:center; line-height: 100px; font-size: 30px; color: blue;}
.homep2{text-indent:2em; font-size:20px; line-height:30px;}