<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="sectionDiv">
<script type="text/javascript">
$(function () {
	$("#logo").uploadPreview({ Img: "ImgPr", Width: 220, Height: 220 });
});
function openAddDlg(){
	$("#myModalLabel").html("增加小板块");
}
function saveSection(){
	 if ($("#sectionName").val()==null||$("#sectionName").val()=='') {
		 $("#error").html("请输入小板块名称！");
		 return false;
	 }
	 if ($("#zone").val()==null||$("#zone").val()=='') {
		 $("#error").html("请选择所属大板块！");
		 return false;
	 }
	 if ($("#masterId").val()==null||$("#masterId").val()=='') {
		 $("#error").html("请输入版主昵称！");
		 return false;
	 }
	 /* $.post("Section_save.action", $("#fm").serialize()); */
	 $("#fm").submit();
	 alert("保存成功！");
	 resetValue();
	 location.reload(true);
 }
 function modifySection(id,name,zone,masterNickName,logo){
	 $("#myModalLabel").html("修改小板块");
	 $("#id").val(id);
	 $("#sectionName").val(name);
	 $("#ImgPr").attr("src","${pageContext.request.contextPath}/"+logo);
	 $("#zone").val(zone);
	 $("#masterNickName").val(masterNickName);
 }
function sectionDelete(sectionId){
	if(confirm("确定要删除这条数据吗?")){
		$.post("Section_delete.action",{sectionId:sectionId},
				function(result){
					var result=eval('('+result+')');
					if(result.error){
						alert(result.error);
					}else{
						alert("删除成功！");
						window.location.reload(true);
					}
				}
			);
	}
}
function resetValue(){
	 $("#id").val("");
	 $("#sectionName").val("");
}
function searchUserByNickName(obj){
    var userNickName = $(obj).val(); 
	$.ajax({
			url : "getUserByNickName",
			type : "post",
			data:{"nickName":userNickName},
			dataType : "json",
			success : function(result) {
				var msg = result.message; //提示信息
				$("#info").html(msg);
				if (result.status == 1) {
					var userId = parseInt(result.body); //用户id 
					$("#masterId").val(userId);
				}
			},
			error : function() {
				alert("请求失败！");
			}
		});

	}
</script>
	<div class="container-fluid">
		<div id="tooBar" style="padding: 10px 0px 0px 10px;">
			<button class="btn btn-primary" type="button" data-backdrop="static" data-toggle="modal" data-target="#dlg" onclick="return openAddDlg()">添加小板块</button>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#" role="button" class="btn btn-danger" onclick="javascrip:deleteSections()">批量删除</a>
			<form action="Section_list.action" method="post" class="form-search" style="display: inline;">
	          &nbsp;小板块名称：
			  <input th:if="${s_section==null}" name="s_secname" type="text" class="input-medium search-query" placeholder="输入小板块名称..."/>
			  <input th:unless="${s_section==null}" name="s_secname" th:value="${s_section.name }" type="text" class="input-medium search-query" placeholder="输入小板块名称..."/>
			  &nbsp;所属大板块：
			  <select name="s_section.zone.id"><option value="">请选择...</option>
				<!-- 这里和原来的写法不一样，少了一点东西，可以回去再看看-->
				<span th:each="zone:${zoneList}">
					<option th:value="${zone.id}">
						<span th:text="${zone.name}"></span>
					</option>
				</span>
			  </select>
			  &nbsp;版主：
			  <select name="s_section.master.id"><option value="">请选择...</option>
				<span th:each="master:${masterList}">
					<option th:value="${master.id}">
						<span th:text="${master.nickName}"></span>
					</option>
				</span>
			  </select>
			  &nbsp;
			  <button type="submit" class="btn btn-primary" title="Search">查询&nbsp;<i class="icon  icon-search"></i></button>
			</form>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div class="widget-box">
					<div class="widget-title">
						<!-- <span class="icon"> <input type="checkbox"
							id="title-checkbox" name="title-checkbox" />
						</span> -->
						<h5>小板块列表</h5>
					</div>
					<div class="widget-content nopadding">
						<table class="table table-bordered table-striped with-check">
							<thead>
								<tr>
									<th><i class=""></i></th>
									<th>编号</th>
									<th>小板块名称</th>
									<th>小板块logo</th>
									<th class="th">所属大板块</th>
									<th>版主</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
									<tr th:each="section:${sectionList}">
										<td><input type="checkbox" /></td>
										<td style="text-align: center;vertical-align: middle;"><span th:text="${section.id }"></span></td>
										<td style="text-align: center;vertical-align: middle;"><span th:text="${section.name }"></span></td>
										<td style="text-align: center;vertical-align: middle;width: 110px;vertical-align: middle;">
											<img style="width: 100px;" src='s' th:src="@{'/image/pc/forum/'+${section.logo }}"></img>
										</td>
										<td style="text-align: center;vertical-align: middle;"><span th:text="${section.zone.name }"></span></td>
										<td style="text-align: center;vertical-align: middle;"><span th:text="${section.master.nickName }"></span></td>
										<td style="text-align: center;vertical-align: middle;">
											<button class="btn btn-info" type="button" data-backdrop="static" data-toggle="modal" data-target="#dlg" onclick="return modifySection(${section.id},'${section.name }',${section.zone.id },'${section.master.nickName }','${section.logo }')">修改
											</button>&nbsp;&nbsp;<button class="btn btn-danger" type="button" onclick="javascript:sectionDelete(${section.id})">删除</button>
										</td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="pagination alternate">
					<ul class="clearfix">
						<li th:class="${pageNo}==0?'disabled':''" ><a href='' th:href="@{/admin/sectionList(pageNo=0)}">首页</a></li>
						<li th:class="${pageNo}>0?'':'disabled'"><a th:unless="${pageNo}>0" href=''>上一页</a>
							<a href='' th:if="${pageNo}>0" th:href="@{/admin/sectionList(pageNo=${pageNo}-1)}">上一页</a></li>
						<li th:style="${pageNo}-3>0?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}-4)}"><span th:text="${pageNo}-3"></span></a></li>
						<li th:style="${pageNo}-2>0?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}-3)}"><span th:text="${pageNo}-2"></span></a></li>
						<li th:style="${pageNo}-1>0?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}-2)}"><span th:text="${pageNo}-1"></span></a></li>
						<li th:style="${pageNo}>0?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}-1)}"><span th:text="${pageNo}"></span></a></li>
						<li th:class="active"><a href=''><span th:text="${pageNo}+1"></span></a></li>
						<li th:style="${totalPages}-1>${pageNo}?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}+1)}"><span th:text="${pageNo}+2"></span></a></li>
						<li th:style="${totalPages}-2>${pageNo}?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}+2)}"><span th:text="${pageNo}+3"></span></a></li>
						<li th:style="${totalPages}-3>${pageNo}?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}+3)}"><span th:text="${pageNo}+4"></span></a></li>
						<li th:style="${totalPages}-4>${pageNo}?'':'display: none'"><a href='' th:href="@{/admin/sectionList(pageNo=${pageNo}+4)}"><span th:text="${pageNo}+5"></span></a></li>
						<li th:class="${totalPages}-1>${pageNo}?'':'disabled'" ><a href='' th:unless="${totalPages}-1>${pageNo}">下一页</a>
							<a href='' th:if="${totalPages}-1>${pageNo}" th:href="@{/admin/sectionList(pageNo=${pageNo}+1)}">下一页</a></li>
						<li th:class="${totalPages}-1==${pageNo}?'disabled':''" ><a href='' th:href="@{/admin/sectionList(pageNo=${totalPages}-1)}">末页</a></li>
					</ul>
				</div>


			</div>
		</div>
		<div id="dlg" class="modal hide fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true" onclick="return resetValue()">×</button>
				<h3 id="myModalLabel">增加小板块</h3>
			</div>
			<div class="modal-body">
				<form id="fm" action="" th:action="@{/admin/sectionSave}" method="post" enctype="multipart/form-data">
					<table>
						<tr>
							<td>
								<label class="control-label" for="sectionName">请输入小板块名称：</label>
							</td>
							<td>
								<input id="sectionName" type="text" name="secName" placeholder="请输入…"/>
							</td>
						</tr>
						<tr>
							<td>
								<img id="ImgPr" class="pull-left" style="width: 120px; height: 120px;" src="" />
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								<label class="control-label" for="logo">上传logo：</label>
							</td>
							<td>
								<input type="file" id="logo" name="logo"/>
							</td>
						</tr>
						<tr>
							<td>
								<label class="control-label" for="zone">请选择所属大板块：</label>
							</td>
							<td>
								<select id="zone" name="secZoneId"><option value="">请选择...</option>
									<span th:each="zone:${zoneList}">
										<option th:value="${zone.id}">
											<span th:text="${zone.name}"></span>
										</option>
									</span>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<label class="control-label" for="masterNickName">版主：</label>
							</td>
							<td>
								<input id="masterNickName" type="text" name="masterNickName" onblur="searchUserByNickName(this)" placeholder="请输入昵称回车"/><br/>
								<span id="info" style="color: red;"></span>
							</td>
						</tr>
					</table>
					<input id="id" type="hidden" name="secId"/>
					<input id="masterId" type="hidden" name="secMasterId"/>
				</form>
			</div>
			<div class="modal-footer">
				<span id="error" style="color: red;"></span>
				<button class="btn" data-dismiss="modal" aria-hidden="true"
					onclick="return resetValue()">关闭</button>
				<button class="btn btn-primary" onclick="javascript:saveSection()">保存</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>