<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 66.67%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8" />
<meta name="baidu-site-verification" content="3uYjxVgfa1" />
<title>阿丙的私人定制</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="viewport" content="width=240, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<meta name="format-detection" content="telephone=no, email=no" />

<link rel="stylesheet" href="./css/base.shubing.css" th:href="@{/css/mobile/css/base.shubing.css}" />
<link rel="stylesheet" href="" th:href="@{/css/mobile/css/common.shubing.css}" />
<link rel="stylesheet" href="" th:href="@{/css/mobile/css/feedback.shubing.css}" />
<style type="text/css">
.error_area {
    background: rgba(0,0,0,.7);
    text-align: center;
    line-height: 2rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 2px;
    z-index: 9999;
    display: none;
    padding: 15px 17px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-family: Helvetica,sans-serif;
}
  	</style>
</head>
<body>

<div id="pageWrapper" style="min-height:0%; padding-bottom:15px; background:#f0f1f2">
	<header class="pass-header ">
	<a class="pass-header-back" id="goBack" th:href="${prePage}"></a>
	<span class="pass-header-title">
       	意见反馈     
	</span>
	<a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=zaekrL6luK_ko6qNq6K1oKykoeOuoqA" style="text-decoration:none;"><span class="pass-header-links" style="color:black">
       	QQ     
	</span></a>
	</header>
</div>
<div class="feedback-form">
	<form id="feedbackFm" th:action="@{/doFeedback}" method="POST">
	<div class="bg-white">
		<p class="question-title">
			您的反馈是：
		</p>
		<div class="grid grid_2">
			<div class="grid_container j-question-box">
				<span class="grid_item">
				<div class="grid_box">
					<input class="ui_checkbox" name="type" type="radio" value="1" id="checkbox_1"/>
					<label class="grid-label" for="checkbox_1">咨询</label>
				</div>
				</span>
				<span class="grid_item">
				<div class="grid_box">
					<input class="ui_checkbox" name="type" type="radio" value="2" id="checkbox_2"/>
					<label class="grid-label" for="checkbox_2">建议</label>
				</div>
				</span>
				<span class="grid_item">
				<div class="grid_box">
					<input class="ui_checkbox" name="type" type="radio" value="3" id="checkbox_7" checked="checked"/>
					<label class="grid-label" for="checkbox_7">其他</label>
				</div>
				</span>
			</div>
		</div>
	</div>
	<div class="textarea-container">
		<textarea class="textarea" id="feedbackContent" name="content" placeholder="请尽量详细您反馈的内容，感谢您提出的宝贵建议！" maxlength="1000" style="font-size:15.3677px;"></textarea>
		<span class="textarea-info">1000字以内</span>
	</div>
	<div class="textarea-container">
		<textarea class="textarea" id="feedbackEmail" name="email" placeholder="您的邮箱（选填）" maxlength="50" style="font-size:15.3677px;height:45px;"></textarea>
	</div>
	<div class="submit-box">
		<button class="btn btn_default submit j-submit" id="feedbackBtn">提交</button>
	</div>
	</form>
	<span class="error_area" id="feedbackMsgInfo" th:text="${errInfo}">
		阿斯蒂芬
	</span>
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="" th:src="@{/js/mobile/js/myfeedback.js}" ></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18e0f33db7609c8e4d02a81149c37a31";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>