<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta charset="utf-8" />
  	<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
  	<meta name="format-detection" content="telephone=no" />
  	<title>阿丙的私人定制</title>
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="mobile-web-app-capable" content="yes" />
	
	<link rel="stylesheet" href="./css/common.shubing.css" th:href="@{/css/mobile/css/common.shubing.css}"/> 
  	<link rel="stylesheet" href="./css/resource.shubing.css" th:href="@{/css/mobile/css/resource.shubing.css}"/> 
</head>
<body class="ue_revision">
  <div class="j_top_bar blue_kit">
   <div class="blue_kit_left">
    <a href="" class="j_back_btn blue_kit_btn"><span class="icon_tieba_logo blue_kit_btn_logo"></span><span class="blue_kit_text">阿丙的私人定制</span></a>
   </div>
   <div class="blue_kit_right"> 
    <a href="" class="blue_kit_icon j_top_message index_icon top_message"> </a>
    <a href="" class="blue_kit_icon index_icon top_search"></a> 
   </div>
  </div>
  <div class="j_tab_index tab_index"> 
   <div class="tab_head tab_index_head j_tab_index_head blue_kit light_tab_head"> 	
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/index}">首页</a>
	<a class="tab_head_item j_tab_discovery active" href="" th:href="@{/forum}">论坛</a>
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">助眠</a>
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">调查</a>
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">登录</a>
   </div>
	
	<div class="tab_head tab_index_head j_tab_index_head blue_kit light_tab_head tab_index_head_clone" style="display: -webkit-box; opacity: 1;"> 
     	<a class="tab_head_item j_tab_selected" href="" th:href="@{/index}">首页</a>
		<a class="tab_head_item j_tab_discovery active" href="" th:href="@{/forum}">论坛</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">助眠</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">调查</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">登录</a>
    </div>

   <div class="j_tab_content tab_index_content"> 
    <div class="j_tab_content_item" style="display: none;"></div>
    <div class="j_tab_content_item"> 
     <div class="discovery">
      <div class="j_carousel carousel">
    
	   <div align="center"><h1>冰山一角论坛</h1></div>
       <div class="carousel-decoration-wrapper">
        <div class="carousel-description"></div>

       </div>
      </div>
      <section class="module">
       <header class="module_head">
        <h1>版主推荐</h1>
       </header>
       <ul class="module_list"> 
        <li><a class="hot-message-link" data-topic-id="154761" data-topic-name="范冰冰大秀长腿" href="">范冰冰大秀长腿</a></li>
        <li><a class="hot-message-link" data-topic-id="154760" data-topic-name="易烊千玺超狂腹肌" href="">易烊千玺超狂腹肌</a></li>
        <li><a class="hot-message-link" data-topic-id="154759" data-topic-name="吴京疑炮轰徐若瑄" href="">吴京疑炮轰徐若瑄</a></li>
        <li><a class="hot-message-link" data-topic-id="154752" data-topic-name="俄国防部飞机消失" href="">俄国防部飞机消失</a></li>
        <li><a class="hot-message-link" data-topic-id="154749" data-topic-name="网红吐槽哭诉生活艰难" href="">网红吐槽哭诉生活...</a></li>
        <li><a class="hot-message-link" data-topic-id="154748" data-topic-name="袁惟仁离婚" href="">袁惟仁离婚</a></li>
        <li><a class="hot-message-link" data-topic-id="154730" data-topic-name="谢霆锋演唱会遭痛批" href="">谢霆锋演唱会遭痛批</a></li>
        <li><a href="" class="more">更多热议 &gt;</a></li>
       </ul>
      </section>
      <section class="module forum_list">
       <header class="module_head">
        <h1>论坛板块</h1>
       </header>
       <div class="module_body"> 
        <div class="forum_card">
         <a href="" class="forum_card_title index_press_area arrow arrow_line arrow_right">书法鉴赏</a>
         <div class="forum_card_body grid">
          <div class="grid_container">
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">行书吧</span>
            </span></a>
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">草书吧</span>
            </span></a>
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">字体吧</span>
            </span></a>
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">小篆吧</span>
            </span></a>
          </div>
         </div>
        </div>
        <div class="forum_card">
         <a href="" class="forum_card_title index_press_area arrow arrow_line arrow_right">话题女王</a>
         <div class="forum_card_body grid">
          <div class="grid_container">
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">谢娜吧</span>
            </span></a>
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">姚晨吧</span>
            </span></a>
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">赵丽颖吧</span>
            </span></a>
           <a href="" class="grid_item index_press_area forum_card_item">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{/image/mobile/images/tmp.jpg}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name">古力娜扎吧</span>
            </span></a>
          </div>
         </div>
        </div>
       
       </div>
      </section>
      
     </div>
    </div>
    <div class="j_tab_content_item" style="display: none;"> 
    </div>
   </div> 
   
  </div>
  
 </body>
</html>
