<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta charset="utf-8" />
  	<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
  	<meta name="format-detection" content="telephone=no" />
  	<title>阿丙的私人定制</title>
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="mobile-web-app-capable" content="yes" />
	
	<link rel="stylesheet" href="./css/common.shubing.css" th:href="@{/css/mobile/css/common.shubing.css}"/> 
  	<link rel="stylesheet" href="./css/resource.shubing.css" th:href="@{/css/mobile/css/resource.shubing.css}"/> 
</head>
<body class="ue_revision" style="padding-bottom:0px;">
  <div class="j_top_bar blue_kit">
   <div class="blue_kit_left">
    <a href="" class="j_back_btn blue_kit_btn"><span class="icon_tieba_logo blue_kit_btn_logo"></span><span class="blue_kit_text">阿丙的私人定制</span></a>
   </div>
   <div class="blue_kit_right"> 
    <!-- <a href="" class="blue_kit_icon j_top_message index_icon top_message"> </a>
    <a href="" class="blue_kit_icon index_icon top_search"></a>-->
   </div>
  </div>
  <div class="j_tab_index tab_index"> 
  <!--  <div class="tab_head tab_index_head j_tab_index_head blue_kit light_tab_head"> 	
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/index}">首页</a>
	<a class="tab_head_item j_tab_discovery active" href="" th:href="@{/forum}">论坛</a>
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">助眠</a>
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">调查</a>
	<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">登录</a>
   </div> -->
	
	<div class="tab_head tab_index_head j_tab_index_head blue_kit light_tab_head tab_index_head_clone" style="display: -webkit-box; opacity: 1;"> 
     	<a class="tab_head_item j_tab_selected" href="" th:href="@{/index}">首页</a>
		<a class="tab_head_item j_tab_discovery active" href="" th:href="@{/forum}">论坛</a>
		<!-- <a class="tab_head_item j_tab_selected" href="" th:href="@{/}">助眠</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">调查</a> -->
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/beforelogin}">个人</a>
    </div>

   <div class="j_tab_content tab_index_content"> 
    <div class="j_tab_content_item" style="display: none;"></div>
    <div class="j_tab_content_item"> 
     <div class="discovery">
      <div class="j_carousel carousel">
    
	   <div class="j_carousel_wrapper carousel_wrapper scroller"> 
        <img th:src="@{/image/mobile/images/ice-bg.jpg}" class="carousel_item_img" style="max-height: 180px;" />
       </div>
       
      </div>
      <section class="module">
       <header class="module_head">
        <h1>版主推荐</h1>
       </header>
       <ul class="module_list"> 
        <li th:each="topic:${goodTopicList}"><a href="" th:href="@{/forum/details(id=${topic.id})}" ><label th:text="${#strings.abbreviate(topic.title,12)}">范冰冰大秀长腿</label></a></li>
        <li><a href="" class="more">更多热议 &gt;</a></li>
       </ul>
      </section>
      <section class="module">
       <header class="module_head">
        <h1>最新更新</h1>
       </header>
       <ul class="module_list"> 
        <li th:each="topic:${newTopicList}"><a href="" th:href="@{/forum/details(id=${topic.id})}" ><label th:text="${#strings.abbreviate(topic.title,12)}">谢霆锋演唱会遭痛批</label></a></li>
        <li><a href="" class="more">更多热议 &gt;</a></li>
       </ul>
      </section>
      
      <section class="module forum_list">
       <header class="module_head">
        <h1>论坛板块</h1>
       </header>
       <div class="module_body"> 
        <div class="forum_card" th:each="zone:${zoneList}">
         <a href="" class="forum_card_title index_press_area arrow arrow_line arrow_right"><span th:text="${zone.name}">书法鉴赏</span></a>
         <div class="forum_card_body grid">
          <div class="grid_container">
           <a href="" class="grid_item index_press_area forum_card_item"  th:each="section:${zone.sectionList }" th:href="@{/forum/topicList(sectionId=${section.id})}">
            <span class="forum_card_item_wrapper">
             <img src="./images/tmp.jpg" th:src="@{'/image/pc/forum/'+${section.logo }}" alt="" class="forum_card_item_img" />
             <span class="forum_card_item_name" th:text="${section.name }">行书吧</span>
            </span></a>
          </div>
         </div>
        </div>
       </div>
      </section>
      
     </div>
    </div>
   </div> 
  </div>
   <div class="j_footer footer">
		<a class="footer_link" href="">反馈</a><span class="separator">|</span>
		<a class="j_footer_toast footer_link" href="" th:href="@{/login}">登录</a><span class="separator">|</span>
		<a class="footer_link" href="">注册</a><br/>
	</div>
 </body>
</html>
