<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta charset="utf-8" />
  	<meta name="baidu-site-verification" content="3uYjxVgfa1" />
  	<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
  	<meta name="format-detection" content="telephone=no" />
  	<title>阿丙的私人定制</title>
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="mobile-web-app-capable" content="yes" />
	<link rel="shortcut icon" href="favicon.ico" th:href="@{/image/favicon.ico}" />
	<link rel="stylesheet" href="./css/common.shubing.css" th:href="@{/css/mobile/css/common.shubing.css}"/> 
  	<link rel="stylesheet" href="./css/resource.shubing.css" th:href="@{/css/mobile/css/resource.shubing.css}"/>
  	<link rel="stylesheet" href="./css/heart.shubing.css" th:href="@{/css/mobile/css/heart.shubing.css}"/>
</head>
<body style="padding-bottom:0px;">
  <div class="j_top_bar blue_kit">
   <div class="blue_kit_left">
    <a href="" class="j_back_btn blue_kit_btn"><span class="icon_tieba_logo blue_kit_btn_logo"></span><span class="blue_kit_text">阿丙的私人定制</span></a>
   </div>
   <div class="blue_kit_right"> 
    <!-- <a href="" class="blue_kit_icon j_top_message index_icon top_message"> </a>
    <a href="" class="blue_kit_icon index_icon top_search"></a>  -->
   </div>
  </div>
  <div class="j_tab_index tab_index"> 
	<div class="tab_head tab_index_head j_tab_index_head blue_kit light_tab_head tab_index_head_clone" style="display: -webkit-box; opacity: 1;"> 
     	<a class="tab_head_item j_tab_discovery active" href="" th:href="@{/index}">首页</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/forum}">论坛</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/games}">数独</a>
		<!-- <a class="tab_head_item j_tab_selected" href="" th:href="@{/}">助眠</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">调查</a> -->
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/beforelogin}">个人</a>
    </div>
  	<!--1-->
    <div style="width:100%;background-color:#eee;" th:attr="style='width:100%; background:url('+@{/image/mobile/images/bc.jpg}+') repeat;'">
    <p style="line-height:50%; padding-top:50px; padding-bottom:20px;"><img src="../mobile/images/welcome.png" th:src="@{/image/mobile/images/welcome.png}" width="100%"/></p>
	<div class="heartcontainer"><div class="hometown"><div class="heart"></div></div></div> 
    <p style="line-height:50%; padding-bottom:50px;"><img src="../mobile/images/heart.png" th:src="@{/image/mobile/images/heart.png}" width="100%"/></p>
    </div>
	<!--1-->
	<!--2-->
	<p style="line-height:50%;"><img width="100%" src="../mobile/images/zhanzhangjiyu.png" th:src="@{/image/mobile/images/zhanzhangjiyu.png}"/></p>
	<p style="line-height:50%;"><img width="100%" src="../mobile/images/pc2.jpg" th:src="@{/image/mobile/images/pc2.jpg}"/></p>  
	<!--2-->
	<!--3-->
	<div style="margin-top:25px">
	     <p style="margin:0 auto;width:90%">
	    	 <img style="width:100%" src="../mobile/images/1.png" th:src="@{/image/mobile/images/1.png}"/>
	     </p>
	    <div th:attr="style='background:url('+@{/image/mobile/images/up.png}+') center 0 no-repeat;color:#fff; font-size: 14px;padding: 10px;'">
	        <p><b>论坛系统</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">
	            这是我的网站上主要的功能，注册用户可以发表帖子、回复，管理员可以对用户，论坛大模块、小模块、帖子、回复等进行删查操作。
	欢迎每一位同学在我的论坛里发表帖子和回复，我每天都会查看回帖，也会时常搜集一些觉得有趣的文章发表出来。希望同学闲着的时候，可以多来看看，说不定就有哪篇文章感动你了呢。</p>
	 		<p style="text-indent:2em;">
	需要注意的是，手机端的论坛系统样式要好看的多，但是发帖回帖不能上传图片，也不能对样式进行修改。而PC端的论坛系统可以实现图片上传和样式修改，只是样子丑了点。那是我最开始的时候做的，以后会再调整。</p>
	    </div>
	    <div style="background-color:blue;color: #fff;font-size: 14px;padding: 10px;">
	        <p><b>在线游戏</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">后来也迷上了数独游戏，排队时打发时间最有效。所以这里会做一个数独游戏，并且提供排行榜功能。</p>
	    </div>
	</div>
	<!--3-->
	<!--4-->
	<div style="margin-top:25px">
	    <p style="margin:0 auto;width:90%">
	    	<img style="width:100%" src="../mobile/images/2.png" th:src="@{/image/mobile/images/2.png}"/>
	    </p>
	    <div style="background-color:red;color: #fff;font-size: 14px;padding: 10px;">
	        <p><b>在线工具</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">目前有“每行文本的首尾增加相同字符工具”、“自定义加密工具”、“每个段落后增加空行工具”三个工具</p>
	    </div>
		 <div style="background-color:orange;color: #fff;font-size: 14px;padding: 10px;">
	        <p><b>幸运大转盘</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">其实只是在首页上增加了一个转盘插件。以前充钱玩游戏的时候就为了点一下转盘，现在总算是看出来了，那做游戏的有多没良心。</p>
	    </div>
	</div>
	<!--4-->
	<!--5-->
	<div style="margin-top:25px">
	    <p style="margin:0 auto;width:90%">
	    	<img style="width:100%" src="../mobile/images/3.png" th:src="@{/image/mobile/images/3.png}"/>
	    </p>
	    <div style="background-color:#FF6666;color: #fff;font-size: 14px;padding: 10px;">
	        <p><b>历史项目</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">这里会放我从前开发过的项目，计划整理以下项目：宿舍管理系统、外包项目管理系统、公司后台管理系统（前端框架）、“信天游”APP、jar包小工具（可以下载到本地查看）。但为公司开发的项目，还有不容易展示出的项目，我就不放了，太麻烦了。</p>
	    </div>
	    <div style="background-color:#6633FF;color: #fff;font-size: 14px;padding: 10px;">
	        <p><b>自然之声</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">这里做成一个音乐播放器，但是播放的不是音乐，而是white noise（白噪声）。一张自然的图片，配上自然的声音，可以帮助人更快的入眠。灵感来源也是某white noise的手机APP，好几次失眠就一直听着这个，把耳边的嗡嗡声全赶跑了。做这个目的也是为了推荐更多的人认识到它。</p>
	    </div>
	    <div style="background-color:green;color: #fff;font-size: 14px;padding: 10px;">
	        <p><b>我的视频</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">发现开源项目里边有好些html5在线视频的，我会直接拿过来加工下使用，毕竟是很好的东西。我也希望以后有值得纪念的视频，也放到自己的网站上。</p>
	    </div>
		<div style="background-color:purple;color: #fff;font-size: 14px;padding: 10px;">
	        <p><b>亲密度调查</b></p>
	        <p style="border-bottom:1px solid #fff;"></p>
	        <p style="text-indent:2em;">这里会放一些关于我的选择题，主打jquery特效。</p>
	    </div>
	</div>
	<!--5-->
	<!--6-->
	<div>
	    <p style="margin:0 auto;width:100%">
	  		<img style="width:100%" src="../mobile/images/pc6.jpg" th:src="@{/image/mobile/images/pc6.jpg}"/>
	    </p>
	</div>
	<!--6-->
</div>
 	<div th:if="${session.dbUser==null}" class="j_footer footer">
		<a class="footer_link" href="" th:href="@{/feedback}">反馈</a><span class="separator">|</span>
		<a class="footer_link" href="" th:href="@{/login(beforepath=${#httpServletRequest.getServletPath()},beforepar=${#httpServletRequest.getQueryString()})}">登录</a><span class="separator">|</span>
		<a class="footer_link" href="" th:href="@{/regist}">注册</a><br/>
	</div>
 	<div th:unless="${session.dbUser==null}" class="j_footer footer">
		<a class="footer_link" href="" th:href="@{/feedback}">反馈</a><span class="separator">|</span>
		<a class="footer_link" href="" th:href="@{/mylogout(beforepath=${#httpServletRequest.getServletPath()},beforepar=${#httpServletRequest.getQueryString()})}">注销</a><br/>
	</div>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18e0f33db7609c8e4d02a81149c37a31";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 </body>
</html>
