<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta charset="utf-8" />
  	<meta name="baidu-site-verification" content="3uYjxVgfa1" />
  	<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
  	<meta name="format-detection" content="telephone=no" />
  	<title>个人信息 - 阿丙的私人定制</title>
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="mobile-web-app-capable" content="yes" />
	<link rel="shortcut icon" href="favicon.ico" th:href="@{/image/favicon.ico}" />
	<link rel="stylesheet" href="./css/common.shubing.css" th:href="@{/css/mobile/css/common.shubing.css}"/> 
  	<link rel="stylesheet" href="./css/resource.shubing.css" th:href="@{/css/mobile/css/resource.shubing.css}"/> 
  	<style type="text/css">
.error_area {
    background: rgba(0,0,0,.7);
    text-align: center;
    line-height: 2rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-border-radius: 2px;
    z-index: 9999;
    display: none;
    padding: 15px 17px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-family: Helvetica,sans-serif;
}
  	</style>
</head>
<body style="padding-bottom:0px;">
  <div class="j_top_bar blue_kit">
   <div class="blue_kit_left">
    <a href="" class="j_back_btn blue_kit_btn"><span class="icon_tieba_logo blue_kit_btn_logo"></span><span class="blue_kit_text">阿丙的私人定制</span></a>
   </div>
   <div class="blue_kit_right"> 
    <!-- <a href="" class="blue_kit_icon j_top_message index_icon top_message"> </a>
    <a href="" class="blue_kit_icon index_icon top_search"></a>  -->
   </div>
  </div>
  <div class="j_tab_index tab_index"> 
	<div class="tab_head tab_index_head j_tab_index_head blue_kit light_tab_head tab_index_head_clone" style="display: -webkit-box; opacity: 1;"> 
     	<a class="tab_head_item j_tab_selected" href="" th:href="@{/index}">首页</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/forum}">阅读</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/mobilegames}">游戏</a>
		<!-- <a class="tab_head_item j_tab_selected" href="" th:href="@{/}">助眠</a>
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/}">调查</a> -->
		<a class="tab_head_item j_tab_selected" href="" th:href="@{/mobilesubscribe}">订阅</a>
		<a class="tab_head_item j_tab_discovery active" href="" th:href="@{/beforelogin}">个人</a>
    </div>

  	<div class="j_tab_content tab_index_content">
		<div class="j_tab_content_item">
			<div class="j_user user">
				<a class="index_press_area user_info arrow arrow_line arrow_right" th:href="@{/basicinfo}">
				<span th:if="${session!=null &amp;&amp; session.dbUser!=null &amp;&amp; session.dbUser.user!=null}">
				<img class="user_info_portrait" th:if="${session.dbUser.user.face!=null  &amp;&amp; session.dbUser.user.face!=''}" src="images/toux.png" th:src="@{'/image/pc/forum/'+${session.dbUser.user.face}}" width="100%"/>
				<span th:if="${session.dbUser.user.face==null || session.dbUser.user.face==''}">
					<img class="user_info_portrait" th:if="${session.dbUser.user.sex==null || session.dbUser.user.sex=='未知' || session.dbUser.user.sex==''}" th:src="@{/image/pc/forum/images/user/toux.png}" width="100%"/>
					<img class="user_info_portrait" th:if="${session.dbUser.user.sex!=null &amp;&amp; session.dbUser.user.sex=='男'}" th:src="@{/image/pc/forum/images/user/male.png}" width="100%"/>
					<img class="user_info_portrait" th:if="${session.dbUser.user.sex!=null &amp;&amp; session.dbUser.user.sex=='女'}" th:src="@{/image/pc/forum/images/user/female.png}" width="100%"/>
				</span>
				</span>
				<div class="user_info_main">
					<span class="user_info_name" th:if="${session.dbUser!=null}" th:text="${session.dbUser.username}">
						老男孩就是要唱
					</span>
					<p class="user_info_intro" th:if="${session.dbUser!=null}" th:text="${session.dbUser.user.email}">
						<!-- 以后可以输入备注 -->
					</p>
				</div>
				</a>
				<a th:href="@{/basicinfo}" class="index_press_area user_entrance_item index_icon user_collect">我的信息</a>
				<!-- <a href="" class="index_press_area user_entrance_item index_icon user_tbean j_user_tbean">我的T豆</a> -->
				<a th:href="@{/feedback}" class="index_press_area user_entrance_item index_icon user_feedback j_user_feedback">意见反馈</a>
				<a th:href="@{/updatepassword}" class="index_press_area user_entrance_item index_icon user_safe_entrance j_user_safe_entrance">修改密码</a>
				<a th:href="@{/mylogout(beforepath=${#httpServletRequest.getServletPath()},beforepar=${#httpServletRequest.getQueryString()})}" class="index_press_area user_entrance_item index_icon user_logout j_user_logout">退出登录</a>
			</div>
		</div>
	</div>
	<div class="j_footer footer">
		<a class="footer_link" href="" th:href="@{/feedback}">反馈</a><span class="separator">|</span><a class="footer_link" href="" th:href="@{/mylogout(beforepath=${#httpServletRequest.getServletPath()},beforepar=${#httpServletRequest.getQueryString()})}">注销</a><br/>
	</div>
	<span class="error_area" id="msgInfo" th:text="${errInfo}">
		阿斯蒂芬
	</span>
    </div>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
	<script th:inline="javascript">
	    /*<![CDATA[*/
	 	var msgInfo = /*[[${msgInfo}]]*/"";
	    /*]]>*/
	    if(msgInfo!=null){
	    	$("#msgInfo").text(msgInfo);
			$("#msgInfo").fadeIn( 200 );
			setTimeout("shubingDelTime()", 3000);
	    }
	    function shubingDelTime(){
			$("#msgInfo").fadeOut( 200 );
	    }
	</script>
	<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18e0f33db7609c8e4d02a81149c37a31";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 </body>
</html>
