<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 66.67%;">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta charset="utf-8"/>
<meta name="baidu-site-verification" content="3uYjxVgfa1" />
<title>阿丙的私人定制</title>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="viewport" content="width=240, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta name="format-detection" content="telephone=no, email=no"/>
<link rel="stylesheet" href="./css/base.shubing.css" th:href="@{/css/mobile/css/base.shubing.css}"/>
</head>
<body>
<div id="pageWrapper" style="padding-bottom:50px;">
	<header class="pass-header ">
	<a class="pass-header-back" id="goBack" th:href="${prePage}"></a>
	<span class="pass-header-title">
        帐号注册        
	</span>
	</header>
	<div class="mod-content">
		<form autocomplete="off" method="POST" class="form-wrapper" id="reg-formWrapper" th:action="@{/doRegist}" >
			<span class="error_area" id="loginFailedInfo" th:text="${errInfo}">
			</span>
			<div class="img-div">
				<div class="logo-dom" style="width:138px; height:46px; margin:0 auto; background-size:100% 100%" th:attr="style='background:url('+@{/image/pc/images/shubinglogo.png}+') no-repeat; background-size:100% 100%;'">
				</div>
			</div>
			<p class="form-item form-input-wrapper form-item-username form-input-mobile">
				<input name="nickName" class="text-input" maxlength="20" placeholder="用户名/昵称（必填）" id="nickName" type="text"/>
				<span class="input-clearValue" ></span>
				<span id="login-userlist" class="pass-input-aide pass-input-userlist"></span>
			</p>
			<p class="form-item form-input-wrapper form-item-username form-input-mobile">
				<input name="trueName" class="text-input" maxlength="20" placeholder="真实姓名（只你与站长可见）" id="trueName" type="text" onkeyup="showClear(this)" onfocus="showClear(this)" />
				<span class="input-clearValue" onclick="shubingClear(this)"></span>
				<span id="login-userlist" class="pass-input-aide pass-input-userlist"></span>
			</p>
			<p class="form-item form-input-wrapper form-item-username form-input-mobile">
				<input name="email" class="text-input" maxlength="50" placeholder="邮箱（必填，望填写真实邮箱）" id="email" type="text"/>
				<span class="input-clearValue"></span>
				<span id="login-userlist" class="pass-input-aide pass-input-userlist"></span>
			</p>
			<select id="sex" name="sex" style="height: 53.33px; font-size: 17.06px; line-height:21px; border:1px solid #ccc; border-top-right-radius:0; border-top-left-radius:0; border-bottom-right-radius:2px; border-bottom-left-radius:2px; padding: 0px 11.93px; width: 100%; background-color: #FFFFFF; color: #ccc; box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; -moz-box-sizing:border-box; -moz-box-flex:1; -webkit-box-flex:1; box-flex:1; position:relative ">
				<option selected="selected" value="" disabled="disabled">性别</option>
				<option value="1">男</option>
				<option value="2">女</option>
			</select>
			<p class="form-item form-input-verifycode m-t10" id="login-verifyWrapper">
				<span class="form-input-wrapper form-input-mobile vcode-span vcode-input-span">
				<input name="newPwd" class="text-input" placeholder="登录密码（必填）" autocomplete="off" maxlength="20" id="newPwd" type="password" onkeyup="showClear(this)" onfocus="showClear(this)" />
				<span class="input-clearValue" onclick="shubingClear(this)"></span>
				</span>
			</p>
			<p class="form-item form-input-verifycode m-t10" id="login-verifyWrapper">
				<span class="form-input-wrapper form-input-mobile vcode-span vcode-input-span">
				<input name="confirmPwd" class="text-input" placeholder="确认密码（必填）" maxlength="20" id="confirmPwd" type="password" onkeyup="showClear(this)" onfocus="showClear(this)" />
				<span class="input-clearValue" onclick="shubingClear(this)"></span>
				</span>
			</p>
			<p class="form-item form-item-btn">
				<input value="注册" id="registButton" class="pass-button-full pass-button-full-disabled" type="button"/>
			</p>
			<p class="f14 gray" style="line-height:25px;">
				阅读&nbsp;
				<a class="agreement-a" onclick="showShuoming()">说明</a>
			</p>
			<div class="f14 gray" id="shuoming" style="display:none;">
				<p style="text-indent:2em;line-height:25px;">1、设置密码：个人网站，密码使用简单易记的就好。保存在数据库里的密码是加密的，也请放心；</p>
				<p style="text-indent:2em;line-height:25px;">2、设置邮箱：希望能够使用自己的、正确的邮箱，可用于找回密码；</p>
				<p style="text-indent:2em;line-height:25px;">3、手机端不能设置头像，只能使用默认头像，可以注册以后在PC端重新设置头像。</p>
			</div>
			<!-- <p class="pass-mod-loadingWrap" id="reg-loading">
				<span class="pass-mod-loadingImg"></span>
正在加载...
			</p> 
			<p class="form-item form-item-btn">
				<input type="hidden" name="action" value="reg"/>
			</p>-->
		</form>
		<p style="margin-top:60px;text-align:center; color:#bcbcbc;font-size:14px;width:100%;">
			感谢每一位注册的朋友，您的注册就是对我的鼓励
		</p>
	</div>
</div>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="js/shubing.base.js" th:src="@{/js/mobile/js/shubing.base.js}" ></script>
<script type="text/javascript" src="js/myregist.js" th:src="@{/js/mobile/js/myregist.js}" ></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18e0f33db7609c8e4d02a81149c37a31";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>