<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" style="font-size: 66.67%;">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta charset="utf-8" />
  	<meta name="baidu-site-verification" content="3uYjxVgfa1" />
  	<title>阿丙的私人定制</title>
  	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=240, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no, email=no" />
  	
	<link rel="stylesheet" href="./css/base.shubing.css" th:href="@{/css/mobile/css/pwdbase.shubing.css}"/> 
	<link rel="stylesheet" href="./css/setpwd.shubing.css" th:href="@{/css/mobile/css/setpwd.shubing.css}"/> 
</head>
<body>

<div id="pageWrapper">
	<header class="pass-header pass-header-border">
	<a class="pass-header-back" id="goBack" th:href="${prePage}"></a>
	<span class="pass-header-title">修改密码</span>
	</header>
	<div class="mod-content modcontent-patch">
		<div class="mod-content" id="revisesetpwd-content">
			<p class="mod-tipInfo p-t40">
				为保障您的帐号安全，请输入原密码
			</p>
			<form autocomplete="off" method="POST" class="form-wrapper" id="revisesetpwd-formWrapper">
				<p class="error_area" id="changedFailedInfo">
				</p>
				<p class="form-item-setpwd-old form-input-wrapper border-lighter">
					<label class="text-label-password" for="setpwd-password">原密码</label>
					<input type="password" id="oldPwd" class="text-input" placeholder="请输入原密码" value="" />
					<span class="input-clearValue"></span>
					<!-- <span class="pwdToggle input-aide input-pwdToggle"></span> -->
				</p>
				<p class="form-item-setpwd-new form-input-wrapper border-lighter">
					<label class="text-label-password" for="setpwd-password">新密码</label>
					<input type="password" id="newPwd" class="text-input" placeholder="请输入新密码" value="" />
					<span class="input-clearValue"></span>
					<!-- <span class="pwdToggle input-aide input-pwdToggle"></span> -->
				</p>
				<p class="form-item-setpwd-new form-input-wrapper border-lighter">
					<label class="text-label-password" for="setpwd-password">确认密码</label>
					<input type="password" id="confirmPwd" class="text-input" placeholder="请输入确认密码" value="" />
					<span class="input-clearValue"></span>
					<!-- <span class="pwdToggle input-aide input-pwdToggle"></span> -->
				</p>
				<p class="tip-down">
					密码支持20个字符，建议数字、字母、下划线组合
				</p>
				<p class="form-item form-item-btn">
					<input type="button" value="确定" id="submitNewPwdButton" class="pass-button-full pass-button-full-disabled" />
				</p>
				<div class="forgot_pass clearfix">
					<a class="left" href="">忘记原密码</a>
				</div>
			</form>
		</div>
	</div>
</div>

  
<script type="text/javascript" src="js/shubing.base.js" th:src="@{/js/mobile/js/shubing.base.js}" ></script>
<script type="text/javascript" src="js/jquery-1.7.2.min.js" th:src="@{/js/pc/js/jquery-1.7.2.min.js}" ></script>
<script type="text/javascript" src="js/myinfo.js" th:src="@{/js/mobile/js/myinfo.js}" ></script>
<script th:inline="javascript">
    /*<![CDATA[*/
 	var errInfo = /*[[${errInfo}]]*/"";
    /*]]>*/
    if(errInfo!=null){
    	$("#changedFailedInfo").text(errInfo);
		$("#changedFailedInfo").fadeIn( 200 );
		setTimeout("changedFailedInfo()", 3000);
    }
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18e0f33db7609c8e4d02a81149c37a31";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 </body>
</html>