<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta charset="utf-8" />
	<meta name="baidu-site-verification" content="3uYjxVgfa1" />
  	<meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
  	<meta name="format-detection" content="telephone=no" />
  	<title>最新帖子 - 杂文阅读 - 阿丙的私人定制</title>
  	<meta name="apple-mobile-web-app-capable" content="yes" />
  	<meta name="mobile-web-app-capable" content="yes" />
	<link rel="shortcut icon" href="favicon.ico" th:href="@{/image/favicon.ico}" />
	<link rel="stylesheet" href="./css/common.shubing.css" th:href="@{/css/mobile/css/common.shubing.css}"/> 
  	<link rel="stylesheet" href="./css/resource.shubing.css" th:href="@{/css/mobile/forum/css/topic.shubing.css}"/> 
  	<link rel="stylesheet" href="./css/daoliu.shubing.css" th:href="@{/css/mobile/forum/css/daoliu.shubing.css}"/> 
  	
</head>
<body class="ue_revision">
  <div class="container j_container">
   <a name="goTop"></a>
   <div class="bz_app_prompt_back bz_app_prompt j_bz_app_prompt"></div>
   <div class="blue_kit_outer_w">
    <div id="blue_kit_wrapper" class="blue_kit_wrapper blue_kit_wrapper_light ">
     <div id="top_kit" class="blue_kit">
      <div class="blue_kit_left"> 
       <a th:href="${prePage}" class="j_back_btn blue_kit_btn blue_kit_btn_back"><!-- <span class="icon_tieba_logo blue_kit_btn_logo"></span> -->
       	<span style="display: inline-block;width: 10px;"></span>
       </a>
       <span style="padding-left:10px;">最新动态</span>
      </div> 
      <div class="blue_kit_right"> 
      </div> 
     </div>
     <div class="top_operation"> 
      <div class="mode_setup light_app_mode_setup j_mode_setup" id="mode_setup">
       <div class="mode_setup_style">
       </div>
       <a href="javascript:" class="j_close_setup close_setup"></a>
      </div>
     </div>
    </div>
   </div>
   <div class="j_main main">

	
    <div id="frs-tuijian"></div>
    <div id="tlist" class="post_list"> 
	 <a href='' class="j_pager_next pager_btn pager_next" th:if="${pageNo}>0" th:href="@{/forum/newsTopicList(pageNo=${pageNo}-1)}">点击加载上一页</a>
     <ul class="threads_list" id="frslistcontent">
	  
      <li class="tl_shadow" th:each="topic:${newTopicList}">
      	<a href="" th:href="@{/forum/details(id=${topic.id})}" class="j_common ti_item">
        <div class="ti_title"> 
         <span th:unless="${topic.good==0 }" class="ti_title_icon ti_icon_jing">精</span> 
         <span th:text="${topic.title}">S.U.N.女神「原创」太阳☀女神-谢娜</span>
        </div>
        <div class="medias_wrap clearfix">
         <div class="medias_item "> 
          <img th:if="${topic.firstimg!=null}" class="j_media_thumb medias_img_r" th:src="@{'/image/images/reaImg/'+${topic.firstimg }}"
          style="opacity: 1;" /> 
         </div> 
        </div> 
		<p class="ti_abs" style="text-indent:2em;"><span class="topiccontent" th:text="${topic.remark}">哈哈哈，我也爱</span></p>
        <div class="ti_infos clearfix">
         <div class="ti_author_time"> 
          <span class="ti_author" th:text="${topic.section.name }">离开待long</span>
          <span class="ti_time" th:text="${#calendars.format(topic.modifyTime,'yyyy-MM-dd HH:mm:ss')}">19:33</span>
         </div>
         <div class="ti_zan_reply"> 
          <!-- <div class="ti_func_btn j_btn_zan btn_zan">
           <span class="j_btn_zan_icon btn_zan_icon"></span>
           <span class="j_btn_zan_text btn_zan_text">赞</span>
          </div>  -->
          <div class="ti_func_btn btn_reply">
           <span th:if="${topic.replySum==0}" class="btn_icon">回复</span>
           <span th:unless="${topic.replySum==0}" class="btn_icon" th:text="${topic.replySum}">1</span>
          </div> 
         </div>
        </div> </a></li>
		
      <li class="tl_shadow" th:remove="all">
      	<a href="" class="j_common ti_item">
        <div class="ti_title">
         <span class="ti_title_icon ti_icon_jing">精</span> 
         <span>S.U.N.女神「专楼」娜吧刷经验专用楼。</span>
        </div> <p class="ti_abs">此贴作为刷经验专用楼，请勿另开水贴。 此贴作为刷经验专用楼，请勿另开水贴。 此贴作为刷经验专用楼</p>
        <div class="ti_infos clearfix">
         <div class="ti_author_time"> 
          <span class="ti_author"> 谢娜吧吧务组</span>
          <span class="ti_time">19:28</span>
         </div>
         <div class="ti_zan_reply"> 
          <div class="ti_func_btn j_btn_zan btn_zan" data-info="{&quot;post_id&quot;:89491899813,&quot;forum_id&quot;:143797,&quot;author_id&quot;:1718450377,&quot;tid&quot;:4541751142}" zanstatus="0">
           <span class="j_btn_zan_icon btn_zan_icon"></span>
           <span class="j_btn_zan_text btn_zan_text">29</span>
          </div> 
          <div class="ti_func_btn btn_reply">
           <span class="btn_icon">36315</span>
          </div> 
         </div>
        </div> </a></li>
     </ul>
     <a href="" th:if="${totalPages}-1>${pageNo}" th:href="@{/forum/newsTopicList(pageNo=${pageNo}+1)}" class="j_pager_next pager_btn pager_next">点击加载下一页</a>
    	<div th:if="${session.dbUser==null}" class="j_footer footer">
			<a class="footer_link" href="" th:href="@{/feedback}">反馈</a><span class="separator">|</span>
			<a class="footer_link" href="" th:href="@{/login(beforepath=${#httpServletRequest.getServletPath()},beforepar=${#httpServletRequest.getQueryString()})}">登录</a><span class="separator">|</span>
			<a class="footer_link" href="" th:href="@{/regist}">注册</a><br/>
		</div>
	 	<div th:unless="${session.dbUser==null}" class="j_footer footer">
			<a class="footer_link" href="" th:href="@{/feedback}">反馈</a><span class="separator">|</span>
			<a class="footer_link" href="" th:href="@{/mylogout(beforepath=${#httpServletRequest.getServletPath()},beforepar=${#httpServletRequest.getQueryString()})}">注销</a><br/>
		</div>
    </div>
    <!-- <a id="j_light_see_index" class="light_see_index" href="https://tieba.baidu.com/">去首页，发现更多精彩内容<span class="si_arrow arrow arrow_right arrow_line arrow_position_right">&nbsp;</span></a> -->
    
   </div>
  </div>
 <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?18e0f33db7609c8e4d02a81149c37a31";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
 </body>
</html>
